
@model Reksa.ViewModels.IBMBListViewModel
@{
    ViewData["Title"] = "Setting Limit dan Fee IB / MB";
}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="m-t-0 header-title">
                <a>Setting Limit dan Fee IB / MB</a>
            </h4>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="card-box">
                    <div class="row">
                        <!-- Begin Button -->
                        <div>
                            <div class="input-group">
                                <button id=btnRefresh class="btn btn-default waves-effect waves-light" style="margin-right:10px">
                                    <span class="btn-label">
                                        <i class="fa fa-refresh"></i>
                                    </span>
                                    Refresh
                                </button>
                                <button id="btnNew" class="btn btn-default waves-effect waves-light" style="margin-right:10px">
                                    <span class="btn-label">
                                        <i class="fa fa-plus"></i>
                                    </span>
                                    New
                                </button>
                                <button id="btnEdit" class="btn btn-info waves-effect waves-light" style="margin-right:10px">
                                    <span class="btn-label">
                                        <i class="fa fa-edit"></i>
                                    </span>
                                    Edit
                                </button>
                                <button id="btnDelete" class="btn btn-danger waves-effect waves-light" style="margin-right:10px">
                                    <span class="btn-label">
                                        <i class="fa fa-trash"></i>
                                    </span>
                                    Delete
                                </button>
                                <button id="btnSave" class="btn btn-warning waves-effect waves-light" style="margin-right:10px">
                                    <span class="btn-label">
                                        <i class="fa fa-save"></i>
                                    </span>
                                    Save
                                </button>
                                <button id="btnCancel" class="btn btn-pink waves-effect waves-light" style="margin-right:10px">
                                    <span class="btn-label">
                                        <i class="fa fa-remove"></i>
                                    </span>
                                    Cancel
                                </button>
                            </div>
                        </div>
                        <!-- End Button -->
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card-box">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Kode Produk</label>
                                <div class="input-group col-md-5">
                                    @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdCode).HtmlAttributes(new { @id = "_cmpsrProduct_text1", @class = "form-control input-sm" }).Enable(false)
                                    <span class="input-group-btn">
                                        <a id="_cmpsrProduct" href="#display" data-toggle="modal" data-target="#ProductModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                                    </span>
                                    @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdName).HtmlAttributes(new { @id = "_cmpsrProduct_text2", @class = "form-control input-sm", style = "width: 350px;" }).Enable(false)
                                    @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdId).HtmlAttributes(new { @id = "ProdId", @class = "form-control input-sm", @type = "Hidden" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Mata Uang Produk</label>
                                <div class="input-group">
                                    @Html.Kendo().TextBox().Name("_matauang").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 100px;" }).Enable(false)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Ditampilkan di Informasi Detail Produk IB MB?</label>
                                <div class="input-group">
                                    <div class="radio radio-danger radio-inline">
                                        <input type="radio" id="_yesTampil" value="Yes" name="radioInlineTampil" checked>
                                        <label for="_yesTampil">Yes</label>
                                    </div>
                                    <div class="radio radio-danger radio-inline">
                                        <input type="radio" id="_noTampil" value="No" name="radioInlineTampil">
                                        <label for="_noTampil">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Dapat melakukan Subscription New di IB MB?</label>
                                <div class="input-group">
                                    <div class="radio radio-danger radio-inline">
                                        <input type="radio" id="_yesSubsNew" value="Yes" name="radioInlineSubsNew" checked>
                                        <label for="_yesSubsNew">Yes</label>
                                    </div>
                                    <div class="radio radio-danger radio-inline">
                                        <input type="radio" id="_noSubsNew" value="No" name="radioInlineSubsNew">
                                        <label for="_noTampil">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="padding-top:8px;" class="col-sm-4 control-label">Dapat ditransaksikan di</label>
                                <div class="input-group">
                                    <div class="checkbox checkbox-custom checkbox-circle">
                                        @Html.Kendo().CheckBox().Name("_internetBankingcheck").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Label("Internet Banking")
                                    </div>
                                    <div class="checkbox checkbox-custom checkbox-circle">
                                        @Html.Kendo().CheckBox().Name("_mobileBankingcheck").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Label("Mobile Banking")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Begin Tab -->
                        <div class="col-md-12" style="margin-top:20px">
                            <ul class="nav nav-tabs" style="background-color:#efefef;border-style:double;">
                                <li class="active"><a data-toggle="tab" href="#tab-subscription"><i class="fa fa-shopping-cart"></i> Subscription</a></li>
                                <li><a data-toggle="tab" href="#tab-redemption"><i class="fa fa-tags"></i> Redemption</a></li>
                                <li><a data-toggle="tab" href="#tab-switching"><i class="fa fa-exchange"></i> Switching</a></li>
                            </ul>
                            <div class="tab-content" style="border-style:double">
                                <div id="tab-subscription" class="tab-pane fade in active">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card-box">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Minimum Subscription New</label>
                                                        <div class="input-group">
                                                            @Html.Kendo().NumericTextBox().Name("_minSubsNew").HtmlAttributes(new { style = "width: 200px;" }).Enable(false).Min(0)
                                                            <label id="_matauangnew"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Minimum Subscription Add</label>
                                                        <div class="input-group">
                                                            @Html.Kendo().NumericTextBox().Name("_minSubsAdd").HtmlAttributes(new { style = "width: 200px;" }).Enable(false).Min(0)
                                                            <label id="_matauangadd"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">% Fee Subscription</label>
                                                        <div class="input-group">
                                                            @Html.Kendo().NumericTextBox().Name("_pctFeeSubs").HtmlAttributes(new { style = "width: 200px;" }).Enable(false).Min(0).Events(e => { e.Change("onChange_pctFeeSubs").Spin("onSpin_pctFeeSubs"); })
                                                            <label>&nbsp;&nbsp;&nbsp;%</label>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-redemption" class="tab-pane fade">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card-box">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Minimum Redemption</label>
                                                    <div class="input-group">
                                                        @Html.Kendo().NumericTextBox().Name("_minRedemp").HtmlAttributes(new { style = "width: 200px;" }).Enable(false).Min(0)
                                                        @(Html.Kendo().DropDownList().Name("_comboJenisRedemp").BindTo(new List<SelectListItem>() { new SelectListItem() { Text = "Unit", Value = "0" }, new SelectListItem() { Text = "Nominal", Value = "1" } }).DataTextField("Text").DataValueField("Value"))
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">% Fee Redemption</label>
                                                    <div class="input-group">
                                                        @Html.Kendo().NumericTextBox().Name("_pctFeeRedemp").HtmlAttributes(new { style = "width: 200px;" }).Enable(false).Min(0).Events(e => { e.Change("onChange_pctFeeRedemp").Spin("onSpin_pctFeeRedemp"); })
                                                        <label>&nbsp;&nbsp;&nbsp;%</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-switching" class="tab-pane fade">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card-box">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Minimum Switching</label>
                                                    <div class="input-group">
                                                        @Html.Kendo().NumericTextBox().Name("_minSwitching").HtmlAttributes(new { style = "width: 200px;" }).Enable(false).Min(0)
                                                        @(Html.Kendo().DropDownList().Name("_comboJenisSwitching").BindTo(new List<SelectListItem>() { new SelectListItem() { Text = "Unit", Value = "0" }, new SelectListItem() { Text = "Nominal", Value = "1" } }).DataTextField("Text").DataValueField("Value"))
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">% Fee Switching</label>
                                                    <div class="input-group">
                                                        @Html.Kendo().NumericTextBox().Name("_pctFeeSwitching").HtmlAttributes(new { style = "width: 200px;" }).Enable(false).Min(0).Events(e => { e.Change("onChange_pctFeeSwitching").Spin("onSpin_pctFeeSwitching"); })
                                                        <label>&nbsp;&nbsp;&nbsp;%</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">% Hold Amount</label>
                                                    <div class="input-group">
                                                        @Html.Kendo().NumericTextBox().Name("_pctHoldAmount").HtmlAttributes(new { style = "width: 200px;" }).Enable(false).Min(0).Events(e => { e.Change("onChange_pctHoldAmount").Spin("onSpin_pctHoldAmount"); })
                                                        <label>&nbsp;&nbsp;&nbsp;%</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Tab -->
                        <div class="col-md-12">
                            <div id="dataGridView1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ProductModal" tabindex="-1" role="dialog" aria-labelledby="ProductModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<script src="~/js/reksa.ibmb.settinglimitfee.js"></script>
<script src="~/js/reksa.ibmb.settinglimitfee.events.js"></script>