@{ 
    string errorMessage = (string)TempData["ErrorMessage"];
    string successMessage = (string)TempData["SuccessMessage"];
    string warningMessage = (string)TempData["WarningMessage"];
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Reksa</title>

    <link href="~/lib/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/core.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <!-- Sweet Alert-->
    <link href="~/lib/assets/plugins/bootstrap-sweetalert/sweet-alert.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="~/lib/kendo/style/kendo.common.min.css" />
    <link rel="stylesheet" href="~/lib/kendo/style/kendo.default.min.css" />
    <style>
        #load_screen {
            position: fixed;
            z-index: 99;
            top: 0px;
            left: 0px;
            background-color: #ffffff;
            width: 100%;
            height: 100%;
            filter: Alpha(Opacity=90);
            opacity: 0.9;
        }
        #theprogress {
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 10px;
            width: 300px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            filter: Alpha(Opacity=100);
            opacity: 1;
        }
        #loading-icon {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    </style>

    <script src="~/lib/assets/js/modernizr.min.js"></script>
    <script src="~/lib/kendo/js/jquery.min.js"></script>
    <script src="~/lib/kendo/js/kendo.all.min.js"></script>
    <script src="~/lib/kendo/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/lib/assets/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js" type="text/javascript"></script>

    <!-- xlsx -->
    <script src="~/lib/js-xlsx/shim.js"></script>
    <script src="~/lib/js-xlsx/jszip.js"></script>
    <script src="~/lib/js-xlsx/xlsx.js"></script>   

    @RenderSection("JavaScript", required: false)
</head>

<body class="fixed-left widescreen">
    @*<div id="load_screen"><div id="loading">Please Wait...</div></div>*@
    @*<div id="load_screen"></div>*@
    <div id="load_screen" style="display:block;">
        <div id="modalprogress">
                <img id="loading-icon"  src="~/loader.gif" />         
        </div>
    </div>
    <!-- Begin page -->
    <div id="wrapper">
        <!-- Top Bar Start -->
        <div class="topbar">
            <!-- LOGO -->
            <div class="topbar-left">
                <div class="text-center">
                    <a href="@Url.Action("Index", "Home")" class="logo" style="font-size:small"><span>Reksa<i class="ion-social-buffer"></i>Dana</span></a>
                </div>
            </div>

            <!-- Button mobile view to collapse sidebar menu -->
            <div class="navbar navbar-default" role="navigation" style="font-size:x-small">
                <div class="container">
                    <div class="">
                        <ul class="nav navbar-nav navbar-right pull-left">
                            <!-- Begin Home -->
                            <li class="dropdown top-menu-item-xs">
                                <a class="nav-link dropdown-toggle" href="@Url.Action("Index", "Home")" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-home" style="color:#dadada"></i> Home
                                </a>
                            </li>
                            <!-- End Home -->
                            <!-- Begin Master -->
                            <li class="dropdown top-menu-item-xs">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="font-size:x-small">
                                    <i class="fa fa-users" style="color:#dadada"></i> Master
                                </a>
                                <ul class="dropdown-menu dropdown-menu-lg" aria-labelledby="navbarDropdown">
                                    <li class="notifi-title">Master</li>
                                    <li class="list-group slimscroll-noti">
                                        <!-- Begin Nasabah -->
                                        <a href="@Url.Action("Customer", "Customer")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-user noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Nasabah</h5>
                                                    <p class="m-0">
                                                        <small>Nasabah</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Nasabah-->
                                        <!-- Begin Info Produk -->
                                        <a href="@Url.Action("InfoProduk", "Master")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-gift noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Info Produk</h5>
                                                    <p class="m-0">
                                                        <small>Info Produk</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Info Produk -->
                                        <!-- Begin Unit Nasabah -->
                                        <a href="@Url.Action("UnitNasabah", "Master")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-tags noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Tawaran Unit Nasabah</h5>
                                                    <p class="m-0">
                                                        <small>Tawaran Unit Nasabah</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Unit Nasabah -->
                                        <!-- Begin Unit Ditawarkan -->
                                        <a href="@Url.Action("UnitDitawarkan", "Master")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-tags noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Tawaran Unit</h5>
                                                    <p class="m-0">
                                                        <small>Tawaran Unit</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Unit Ditawarkan -->
                                        <!-- Begin Event -->
                                        @*<a href="@Url.Action("Event", "Master")" class="list-group-item">
                                                <div class="media">
                                                    <div class="pull-left p-r-10">
                                                        <em class="fa fa-tags noti-custom" style="border-radius:99px; padding:5px"></em>
                                                    </div>
                                                    <div class="media-body">
                                                        <h5 class="media-heading">Event</h5>
                                                        <p class="m-0">
                                                            <small>Event</small>
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>*@
                                        <!-- End Event -->
                                    </li>
                                </ul>
                            </li>
                            <!-- End Master -->
                            <!-- Begin Transaksi -->
                            <li class="dropdown top-menu-item-xs">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTransaksi" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-exchange" style="color:#dadada"></i> Transaksi
                                </a>
                                <ul class="dropdown-menu dropdown-menu-lg" aria-labelledby="navbarDropdown">
                                    <li class="notifi-title">Transaksi</li>
                                    <li class="list-group slimscroll-noti">
                                        <!-- Begin Transaksi -->
                                        <a id="menuTransaksi" href="@Url.Action("Transaksi", "Transaksi")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-share noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Transaksi Reksadana</h5>
                                                    <p class="m-0">
                                                        <small>Transaksi reksadana </small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Transaksi -->
                                        <!-- Begin Tunggakan -->
                                        <a href="@Url.Action("Tunggakan", "Transaksi")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-tasks noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Tagihan</h5>
                                                    <p class="m-0">
                                                        <small>Tagihan tunggakan reksadana</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Tunggakan -->
                                    </li>
                                </ul>
                            </li>
                            <!-- End Transaksi -->
                            <!-- Begin Reporting -->
                            <li class="dropdown top-menu-item-xs">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-file" style="color:#dadada"></i> Reporting
                                </a>
                                <ul class="dropdown-menu dropdown-menu-lg" aria-labelledby="navbarDropdown">
                                    <li class="notifi-title">Generate Report</li>
                                    <li class="list-group slimscroll-noti">
                                        <!-- Begin Report KYC -->
                                        <a href="@Url.Action("ReportKYC", "Report")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-download noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Generate Report KYC</h5>
                                                    <p class="m-0">
                                                        <small>Generate Report KYC</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Report KYC-->
                                        <!-- Begin NFS Upload -->
                                        <a href="@Url.Action("NFSUpload", "Report")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-download noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">NFS Upload - Download File</h5>
                                                    <p class="m-0">
                                                        <small>Upload dan Download File NFS </small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End NFS Upload-->
                                        <!-- Begin Report Reksa Dana -->
                                        <a href="@Url.Action("ReportReksaDana", "Report")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-download noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Report Reksa Dana</h5>
                                                    <p class="m-0">
                                                        <small>Report Reksa Dana</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Report Reksa Dana -->
                                    </li>
                                </ul>
                            </li>
                            <!-- End Reporting -->
                            <!-- Begin Transaksi TT -->
                            <li class="dropdown top-menu-item-xs">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-globe" style="color:#dadada"></i> Transaksi TT
                                </a>
                                <ul class="dropdown-menu dropdown-menu-lg" aria-labelledby="navbarDropdown">
                                    <li class="notifi-title">Telegraphic Transfer</li>
                                    <li class="list-group slimscroll-noti">
                                        <!-- Begin Parameter TT -->
                                        <a href="@Url.Action("ParameterTT", "Transaksi")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-cog noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Parameter TT Completion</h5>
                                                    <p class="m-0">
                                                        <small><small>Parameter Telegraphic Transfer Completion</small></small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Parameter TT -->
                                        <!-- Begin Outgoing TT -->
                                        <a href="@Url.Action("OutgoingTT", "Transaksi")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-external-link noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Outgoing TT</h5>
                                                    <p class="m-0">
                                                        <small><small>Outgoing Telegraphic Transfer</small></small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Outgoing TT -->
                                        <!-- Begin Otorisasi Outgoing TT -->
                                        <a href="@Url.Action("AuthOutgoingTT", "Transaksi")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-check-square noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Otorisasi Outgoing TT</h5>
                                                    <p class="m-0">
                                                        <small><small>Otorisasi Outgoing Telegraphic Transfer</small></small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Otorisasi Outgoing TT -->
                                    </li>
                                </ul>
                            </li>
                            <!-- End Transaksi TT -->
                            <!-- Begin IB/MB -->
                            <li class="dropdown top-menu-item-xs">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-laptop" style="color:#dadada"></i> IB/MB
                                </a>
                                <ul class="dropdown-menu dropdown-menu-lg" aria-labelledby="navbarDropdown">
                                    <li class="notifi-title">Internet Banking/Mobile Banking</li>
                                    <li class="list-group slimscroll-noti">
                                        <!-- Begin Setting Limit dan Fee IB / MB -->
                                        <a href="@Url.Action("SettingLimitFee", "IBMB")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-check-circle noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Setting Limit dan Fee IB / MB</h5>
                                                    <p class="m-0">
                                                        <small>Setting Limit dan Fee Internet dan Mobile Banking</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Setting Limit dan Fee IB / MB -->
                                        <!-- Begin Maintain Kinerja Reksadana -->
                                        <a href="@Url.Action("MaintainKinerja", "IBMB")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-list-alt noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Maintain Kinerja Reksadana</h5>
                                                    <p class="m-0">
                                                        <small>Maintain Kinerja Reksadana</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Maintain Kinerja Reksadana -->
                                        <!-- Begin Maintain Fund Fact Sheet dan Prospectus -->
                                        <a href="@Url.Action("UploadPDFFundFactProspectus", "IBMB")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-line-chart noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Maintain Fund Fact Sheet dan Prospectus</h5>
                                                    <p class="m-0">
                                                        <small>Maintain Fund Fact Sheet dan Prospectus</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Maintain Fund Fact Sheet dan Prospectus -->
                                    </li>
                                </ul>
                            </li>
                            <!-- End IB/MB -->
                            <!-- Begin Otorisasi -->
                            <li class="dropdown top-menu-item-xs">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-check-circle-o" style="color:#dadada"></i> Otorisasi
                                </a>
                                <ul class="dropdown-menu dropdown-menu-lg" aria-labelledby="navbarDropdown">
                                    <li class="notifi-title">Otorisasi</li>
                                    <li class="list-group slimscroll-noti">
                                        <!-- Begin Otorisasi Transaksi -->
                                        <a href="@Url.Action("Transaksi", "Otorisasi")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-external-link noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Otorisasi Transaksi</h5>
                                                    <p class="m-0">
                                                        <small>Otorisasi Transaksi Reksadana</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Otorisasi Transaksi-->
                                        <!-- Begin Otorisasi WM -->
                                        <a href="@Url.Action("WM", "Otorisasi")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-signal noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Otorisasi Wealth Management</h5>
                                                    <p class="m-0">
                                                        <small>Otorisasi Wealth Management</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Otorisasi WM -->
                                        <!-- Begin Otorisasi Bill -->
                                        <a href="@Url.Action("Bill", "Otorisasi")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-wpforms noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Bill</h5>
                                                    <p class="m-0">
                                                        <small>Otorisasi Bill</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Otorisasi Bill -->
                                        <!-- Begin Otorisasi Sinkronisasi -->
                                        <a href="@Url.Action("Sinkronisasi", "Otorisasi")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-wpforms noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Sinkronisasi</h5>
                                                    <p class="m-0">
                                                        <small>Otorisasi Sinkronisasi</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Otorisasi Sinkronisasi -->
                                        <!-- Begin Otorisasi Reject Booking -->
                                        <a href="@Url.Action("AuthRejectBooking", "Otorisasi")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-wpforms noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Otorisasi Reject Booking</h5>
                                                    <p class="m-0">
                                                        <small>Otorisasi Reject Booking</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Otorisasi Reject Booking -->
                                        <!-- Begin Otorisasi Delete Transaksi -->
                                        <a href="@Url.Action("AuthDeleteTransaksi", "Otorisasi")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-wpforms noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Otorisasi Delete Transaksi</h5>
                                                    <p class="m-0">
                                                        <small>Otorisasi Delete Transaksi</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Otorisasi Delete Transaksi -->
                                        <!-- Begin Otorisasi WM Supervisor -->
                                        <a href="@Url.Action("WMSupervisor", "Otorisasi")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-money noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Otorisasi WM Supervisor</h5>
                                                    <p class="m-0">
                                                        <small>Otorisasi WM Supervisor</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Otorisasi WM Supervisor -->
                                        <!-- Begin Otorisasi PO Supervisor -->
                                        <a href="@Url.Action("POSupervisor", "Otorisasi")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-money noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Otorisasi PO Supervisor</h5>
                                                    <p class="m-0">
                                                        <small>Otorisasi PO Supervisor</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Otorisasi PO Supervisor -->
                                        <!-- Begin Otorisasi Parameter Fee -->
                                        <a href="@Url.Action("ParameterFee", "Otorisasi")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-money noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Otorisasi Param Fee</h5>
                                                    <p class="m-0">
                                                        <small>Otorisasi parameter dalam Fee</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Otorisasi Parameter Fee -->
                                        <!-- Begin Otorisasi Parameter Reksadana -->
                                        <a href="@Url.Action("ParameterReksadana", "Otorisasi")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-external-link noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Otorisasi Param Reksadana</h5>
                                                    <p class="m-0">
                                                        <small><small>Otorisasi parameter dalam Reksadana</small></small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Otorisasi Parameter Reksadana -->
                                        <!-- Begin Otorisasi NFS -->
                                        <a href="@Url.Action("NFS", "Otorisasi")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-upload noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Otorisasi NFS Generate Upload</h5>
                                                    <p class="m-0">
                                                        <small>Otorisasi NFS Generate Upload</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Otorisai NFS -->
                                    </li>
                                </ul>
                            </li>
                            <!-- End Otorisasi -->
                            <!-- Begin Utilitas -->
                            <li class="dropdown top-menu-item-xs">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-wrench" style="color:#dadada"></i> Utilitas
                                </a>
                                <ul class="dropdown-menu dropdown-menu-lg" aria-labelledby="navbarDropdown">
                                    <li class="notifi-title">Utilitas</li>
                                    <li class="list-group slimscroll-noti">
                                        <!-- Begin Process -->
                                        <a href="@Url.Action("Process", "Utilitas")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-check noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Process</h5>
                                                    <p class="m-0">
                                                        <small>Process</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Process-->
                                        <!-- Begin Import File -->
                                        <a href="@Url.Action("ImportFile", "Utilitas")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-file noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Import File</h5>
                                                    <p class="m-0">
                                                        <small>Import File</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Import File -->
                                        <!-- Begin Sinkronisasi Outstanding -->
                                        @*<a href="@Url.Action("SinkronisasiOutstanding", "Utilitas")" class="list-group-item">
                                                <div class="media">
                                                    <div class="pull-left p-r-10">
                                                        <em class=" fa fa-mouse-pointer noti-custom" style="border-radius:99px; padding:5px"></em>
                                                    </div>
                                                    <div class="media-body">
                                                        <h5 class="media-heading">Sinkronisasi Outstanding</h5>
                                                        <p class="m-0">
                                                            <small>Sinkronisasi Outstanding</small>
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>*@
                                        <!-- End Sinkronisasi Outstanding -->
                                    </li>
                                </ul>
                            </li>
                            <!-- End Utilitas -->
                            <!-- Begin PO -->
                            <li class="dropdown top-menu-item-xs">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-ticket" style="color:#dadada"></i> PO
                                </a>
                                <ul class="dropdown-menu dropdown-menu-lg" aria-labelledby="navbarDropdown">
                                    <li class="notifi-title ">Purchase Order</li>
                                    <li class="list-group slimscroll-noti">
                                        <!-- Begin Cut Maintenance Fee -->
                                        <a href="@Url.Action("CutMaintenanceFee", "PO")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-cogs noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Cut Maintenance Fee</h5>
                                                    <p class="m-0">
                                                        <small>Cut Maintenance Fee</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Cut MaintenanceFee-->
                                        <!-- Begin Cut Redemption Fee -->
                                        <a href="@Url.Action("CutRedemptionFee", "PO")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-retweet noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Cut Redemption Fee</h5>
                                                    <p class="m-0">
                                                        <small>Cut Redemption Fee</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Cut Redemption Fee -->
                                        <!-- Begin Discount Redemp Fee -->
                                        <a href="@Url.Action("DiscountRedempFee", "PO")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-tag noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Discount Redemption Fee</h5>
                                                    <p class="m-0">
                                                        <small>Discount Redemption Fee</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Discount Redemp Fee -->
                                        <!-- Begin Adjust Redemp Date -->
                                        <a href="@Url.Action("AdjustRedempDate", "PO")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-calendar noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Adjust Redemption Date</h5>
                                                    <p class="m-0">
                                                        <small>Adjust Redemption Date</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Adjust Redemp Date -->
                                        <!-- Begin Batalkan Transaksi -->
                                        <a href="@Url.Action("CancelTransaction", "PO")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-times noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Batalkan Transaksi</h5>
                                                    <p class="m-0">
                                                        <small>Batalkan Transaksi</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Batalkan Transaksi -->
                                        <!-- Begin Batalkan Transaksi IBMB -->
                                        <a href="@Url.Action("CancelTransactionIBMB", "PO")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-laptop noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Batalkan Transaksi IB MB</h5>
                                                    <p class="m-0">
                                                        <small>Batalkan Transaksi IB MB</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Batalkan Transaksi -->
                                        <!-- Begin Adjustment NAV Date -->
                                        <a href="@Url.Action("AdjustNAVDate", "PO")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-calendar noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Adjustment NAV Date</h5>
                                                    <p class="m-0">
                                                        <small>Adjustment NAV Date</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Adjustment NAV Date -->
                                        <!-- Begin Sync OSUnit/Transaksi -->
                                        <a href="@Url.Action("SyncFile", "PO")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-navicon noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Sinkronisasi OS Unit/Transaksi</h5>
                                                    <p class="m-0">
                                                        <small>Sinkronisasi OS Unit/Transaksi</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Sync OSUnit/Transaksi -->
                                        <!-- Begin Sync NAV-->
                                        <a href="@Url.Action("SyncNAV", "PO")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-navicon noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Sinkronisasi NAV/Deviden</h5>
                                                    <p class="m-0">
                                                        <small>Sinkronisasi NAV/Deviden</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Sync NAV -->
                                        <!-- Begin Subscription Limit Alert -->
                                        <a href="@Url.Action("SubsLimitAlert", "PO")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-navicon noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Subscription Limit Alert</h5>
                                                    <p class="m-0">
                                                        <small>Subscription Limit Alert</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Subscription Limit Alert -->
                                        <!-- Begin Jurnal RTGS-->
                                        <a href="@Url.Action("JurnalRTGS", "PO")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-calendar noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Jurnal RTGS</h5>
                                                    <p class="m-0">
                                                        <small>Jurnal RTGS</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Jurnal RTGS -->
                                        <!-- Begin Jurnal SKN-->
                                        <a href="@Url.Action("JurnalSKN", "PO")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-calendar noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Jurnal SKN</h5>
                                                    <p class="m-0">
                                                        <small>Jurnal SKN</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Jurnal SKN -->
                                        <!-- Begin Reject Booking-->
                                        <a href="@Url.Action("RejectBooking", "PO")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-calendar noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Reject Booking & Cancel Transaction</h5>
                                                    <p class="m-0">
                                                        <small>Reject Booking</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Reject Booking -->
                                        <!-- Begin Override Maintenance Fee-->
                                        <a href="@Url.Action("OverrideMaintenanceFee", "PO")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-calendar noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Override Maintenance Fee</h5>
                                                    <p class="m-0">
                                                        <small>Override Maintenance Fee</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Override Maintenance Fee -->
                                        <!-- Begin Recalculate Maintenance Fee-->
                                        <a href="@Url.Action("RecalculateMaintenanceFee", "PO")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-calendar noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Recalculate Maintenance Fee</h5>
                                                    <p class="m-0">
                                                        <small>Recalculate Maintenance Fee</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Recalculate Maintenance Fee -->
                                        <!-- Begin Revisi Pencadangan Fee -->
                                        <a href="@Url.Action("RevisiPencadanganFee", "PO")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-calendar noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Revisi Pencadangan Fee</h5>
                                                    <p class="m-0">
                                                        <small>Revisi Pencadangan Fee</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Revisi Pencadangan Fee -->
                                        <!-- Begin Cut Selling Fee -->
                                        <a href="@Url.Action("CutSellingFee", "PO")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-calendar noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Cut Selling Fee</h5>
                                                    <p class="m-0">
                                                        <small>Cut Selling Fee</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Cut Selling Fee -->
                                        <!-- Begin Maintain Transaksi Reksadana Berjangka -->
                                        <a href="@Url.Action("Transaction", "PO")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-calendar noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Maintain Transaksi Reksadana Berjangka</h5>
                                                    <p class="m-0">
                                                        <small>Maintain Transaksi Reksadana Berjangka</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Maintain Transaksi Reksadana Berjangka -->
                                        <!-- Begin Cut Off Premi Asuransi -->
                                        <a href="@Url.Action("CutOffPremiAsuransi", "PO")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-calendar noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Cut Off Premi Asuransi</h5>
                                                    <p class="m-0">
                                                        <small>Cut Off Premi Asuransi</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Cut Off Premi Asuransi -->
                                    </li>
                                </ul>

                            </li>
                            <!-- End PO -->
                            <!-- Begin Settings -->
                            <li class="dropdown top-menu-item-xs">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-cog" style="color:#dadada"></i> Settings
                                </a>
                                <ul class="dropdown-menu dropdown-menu-lg" aria-labelledby="navbarDropdown">
                                    <li class="notifi-title">ALL SETTINGS</li>
                                    <li class="list-group slimscroll-noti">
                                        <!-- Begin Parameter -->
                                        <a href="@Url.Action("Index", "Parameter")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-cogs noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Parameter</h5>
                                                    <p class="m-0">
                                                        <small>Parameter Reksadana</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Parameter -->
                                        <!-- Begin Global Parameter -->
                                        <a href="@Url.Action("Global", "Parameter")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-globe noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Global Parameter</h5>
                                                    <p class="m-0">
                                                        <small>Global Parameter Reksadana</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Global Parameter-->
                                        <!-- Begin Upload Waperd -->
                                        <a href="@Url.Action("UploadWaperd", "Parameter")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-thumbs-up noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Upload Waperd</h5>
                                                    <p class="m-0">
                                                        <small><small>Upload Waperd</small></small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Upload Waperd -->
                                        <!-- Begin Client Code Control -->
                                        <a href="@Url.Action("ClientCodeControl", "Parameter")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-thumbs-up noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Tutup (Non-Aktifkan) Client Code</h5>
                                                    <p class="m-0">
                                                        <small><small>Client Code Control</small></small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Client Code Control -->
                                        <!-- Begin Subscription Fee -->
                                        <a href="@Url.Action("SubscriptionFee", "Parameter")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-thumbs-up noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Parameter Subscription Fee</h5>
                                                    <p class="m-0">
                                                        <small><small>Setting untuk subscription Fee</small></small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Subscription Fee -->
                                        <!-- Begin Redemption Fee -->
                                        <a href="@Url.Action("RedemptionFee", "Parameter")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-ticket noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Parameter Redemption Fee</h5>
                                                    <p class="m-0">
                                                        <small>Setting untuk <strong>Redemption Fee</strong></small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Redemption Fee -->
                                        <!-- Begin Maintenance Fee -->
                                        <a href="@Url.Action("MaintenanceFee", "Parameter")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-wrench noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Parameter Maintenance Fee</h5>
                                                    <p class="m-0">
                                                        <small>Parameter Maintenance Fee</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Maintenance Fee -->
                                        <!-- Begin UpFront Selling Fee -->
                                        <a href="@Url.Action("UpFrontSellingFee", "Parameter")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-shopping-cart noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Parameter UpFront &amp; Selling Fee</h5>
                                                    <p class="m-0">
                                                        <small>Parameter UpFront &amp; Selling Fee</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End UpFront Selling Fee -->
                                        <!-- Begin Switching Fee -->
                                        <a href="@Url.Action("SwitchingFee", "Parameter")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-random noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Parameter Switching Fee</h5>
                                                    <p class="m-0">
                                                        <small>Parameter Switching Fee</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Switching Fee -->
                                        <!-- Begin Pindah Cabang -->
                                        <a href="@Url.Action("PindahCabang", "Parameter")" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-random noti-custom" style="border-radius:99px; padding:5px"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Pindah Kode Cabang (utk Cabang Tutup)</h5>
                                                    <p class="m-0">
                                                        <small>Pindah Kode Cabang</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Pindah Cabang -->
                                    </li>
                                </ul>
                            </li>
                            <!-- End Settings -->
                            <li class="dropdown top-menu-item-xs">
                                <a href="#" data-target="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
                                    <i class="icon-bell" style="color:yellow"></i> <span class="badge badge-xs badge-danger">2</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-lg">
                                    <li class="notifi-title"><span class="label label-default pull-right">New 2</span>Notification</li>
                                    <li class="list-group slimscroll-noti notification-list">
                                        <a href="javascript:void(0);" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-bell-o noti-custom"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Updates</h5>
                                                    <p class="m-0">
                                                        <small>There are <span class="text-primary font-600">2</span> new updates available</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>

                                        <!-- list item-->
                                        <a href="javascript:void(0);" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-user-plus noti-pink"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">New user registered</h5>
                                                    <p class="m-0">
                                                        <small>You have 10 unread messages</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>

                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="list-group-item text-right">
                                            <small class="font-600">See all notifications</small>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="hidden-xs">
                                <a href="#" id="btn-fullscreen" class="waves-effect waves-light"><i class="icon-size-fullscreen" style="color:yellow"></i></a>
                            </li>
                            <li class="dropdown top-menu-item-xs">
                                <a href="" class="dropdown-toggle profile waves-effect waves-light" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-user" style="color:yellow"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0)"><i class="ti-user m-r-10 text-custom"></i> Profile</a></li>
                                    <li><a href="javascript:void(0)"><i class="ti-settings m-r-10 text-custom"></i> Settings</a></li>
                                    <li><a href="javascript:void(0)"><i class="ti-lock m-r-10 text-custom"></i> Lock screen</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("Logout", "Account")" data-form-method="post"><i class="ti-power-off m-r-10 text-danger"></i> Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <!-- Top Bar End -->
        <div class="content-page" style="margin-left:0px">
            <!-- Start content -->
            <div class="content">
                <div class="container">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery  -->
    @*<script src="~/lib/assets/js/jquery.min.js"></script>*@
    <script src="~/lib/assets/js/bootstrap.min.js"></script>
    <script src="~/lib/assets/js/detect.js"></script>
    <script src="~/lib/assets/js/fastclick.js"></script>
    <script src="~/lib/assets/js/jquery.slimscroll.js"></script>
    <script src="~/lib/assets/js/jquery.blockUI.js"></script>
    <script src="~/lib/assets/js/waves.js"></script>
    <script src="~/lib/assets/js/wow.min.js"></script>
    <script src="~/lib/assets/js/jquery.nicescroll.js"></script>
    <script src="~/lib/assets/js/jquery.scrollTo.min.js"></script>
    <!-- jQuery  -->
    <script src="~/lib/assets/js/jquery.core.js"></script>
    <script src="~/lib/assets/js/jquery.app.js"></script>
    <script src="~/lib/assets/plugins/peity/jquery.peity.min.js"></script>
    <script src="~/lib/assets/plugins/waypoints/lib/jquery.waypoints.js"></script>
    <script src="~/lib/assets/plugins/counterup/jquery.counterup.min.js"></script>
    <script src="~/lib/assets/plugins/raphael/raphael-min.js"></script>
    <script src="~/lib/assets/plugins/jquery-knob/jquery.knob.js"></script>

    <!-- Sweet Alert-->
    <script src="~/lib/assets/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>
    <script src="~/lib/assets/pages/jquery.sweet-alert.init.js"></script>

    <script src="~/lib/assets/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js" type="text/javascript"></script>
    <script src="~/lib/assets/plugins/autoNumeric/autoNumeric.js" type="text/javascript"></script>


    <script>
        var resizefunc = [];
    </script>

    <script type="text/javascript">
        jQuery(function ($) {
            $('.autonumber').autoNumeric('init');
        });
        jQuery(document).ready(function ($) {
            $('.counter').counterUp({
                delay: 100,
                time: 1200
            });
            $(".knob").knob();
        });
        window.addEventListener("load", function () {
            $("#load_screen").hide();
        });
    </script>


</body>
</html>
