@model Reksa.ViewModels.CustomerListViewModel

@(Html.ValidationSummary(true))
<div class="col-md-12">
    <div class="card-box">
        <div class="row">
            <div class="col-md-6">
                <!-- Begin Search Client -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Client Code</label>
                        <div class="input-group col-md-8">
                            @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientCode).HtmlAttributes(new { @style = "font-size: 90%;", @class = "form-control input-sm", @required = "required", @id = "srcClient_text1" }).Enable(true)
                            <span class="input-group-btn">
                                <a id="srcClient" href="@Url.Action("SearchClientbyCIF", "Global")" data-toggle="modal" data-target="#ClientModal" class="btn btn-default btn-sm btn-search-component src-cif enabled" data-animation="flash">...</a>
                            </span>
                            @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientName).HtmlAttributes(new { @class = "form-control input-sm", @id = "srcClient_text2", @style = "width: 200px;font-size: 70%;" }).Enable(false)
                            @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientId).HtmlAttributes(new { @class = "form-control input-sm", @id = "BlokirClientId", @type = "Hidden" })
                            @Html.Kendo().TextBox().Name("BlokirId").HtmlAttributes(new { @class = "form-control input-sm", @type = "Hidden" })
                        </div>
                    </div>
                <!-- End Search Client -->
                <!-- Begin Unit Blokir -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Unit Blokir</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("MoneyBlokir").HtmlAttributes(new { @class = "form-control input-sm", @required = "required" }).Enable(false)

                        </div>
                    </div>
                <!-- End Unit Blokir -->
                <!-- Begin Outstanding Unit -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Outstanding Unit</label>
                        <div class="input-group">
                            @Html.Kendo().TextBoxFor(model => model.BlokirModel.decOutStanding).HtmlAttributes(new { @id = "OutsUnit", @class = "form-control input-sm" }).Enable(false)
                        </div>
                    </div>
                <!-- End Outstanding Unit -->
            </div>
            <div class="col-md-6">
                <!-- Begin Tgl Blokir -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Tgl Blokir</label>
                        <div class="input-group">
                            @(Html.Kendo().DatePicker().Name("dtpTglTran").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 100%;" }).Enable(false))
                        </div>
                    </div>
                <!-- End Tgl Blokir -->
                <!-- Begin Tgl Expiry Blokir -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Tgl Expiry Blokir</label>
                        <div class="input-group">
                            @(Html.Kendo().DatePicker().Name("dtpExpiry").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 100%;" }).Enable(false))
                        </div>
                    </div>
                <!-- End Tgl Expiry Blokir -->
                <!-- Begin Jml Unit Blokir -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Jml Unit Blokir</label>
                        <div class="input-group">
                            @Html.Kendo().TextBoxFor(model => model.BlokirModel.decTotal).HtmlAttributes(new { @id = "MoneyTotal", @class = "form-control input-sm" }).Enable(false)
                        </div>
                    </div>
                <!-- End Jml Unit Blokir -->
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    @(Html.Kendo().Grid(Model.CustomerBlokir)
                            .Name("dgvBlokir")
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.BlockId).Width(100).Title("Block Id");
                                columns.Bound(p => p.Status).Width(100).Title("Status");
                                columns.Bound(p => p.TanggalBlokir).Format("{0:dd MMMM yyyy}").Width(150).Title("Tanggal Blokir");
                                columns.Bound(p => p.TanggalExpiryBlokir).Format("{0:dd MMMM yyyy}").Width(200).Title("Tanggal Expiry Blokir");
                                columns.Bound(p => p.UnitBlokir).Format("{0:###,###.##}").Width(150).Title("Unit Blokir");
                                columns.Bound(p => p.Inputter).Width(100).Title("Inputter");
                                columns.Bound(p => p.Supervisor).Width(100).Title("Supervisor");
                            }).Pageable()
                        .Scrollable(s => s.Height(250))
                        .Selectable(selectable => selectable
                        .Mode(GridSelectionMode.Single))
                        .Events(events => events.Change("onRowBlokirSelect"))

    )
</div>
<div class="modal fade" id="ClientModal" tabindex="-1" role="dialog" aria-labelledby="ClientModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<script>
    $("#srcClient").click(function (ev) {
        ev.preventDefault();
        var CIFNo = $('#srcCIF_text1').val();
        var url = '@Html.Raw(Url.Action("SearchClientbyCIF", "Global"))';
        var target = $(this).attr('href', url + '?CIFNo=' + CIFNo);
        $("#ClientModal .modal-content").load(target, function () {
            $("#ClientModal .modal-content").empty().append(this);
        });
    });

    function onRowBlokirSelect(e) {
        var data = this.dataItem(this.select());
        $("#BlokirId").val(data.BlockId);
        $("#MoneyBlokir").val(data.UnitBlokir);
        var TanggalBlokir = new Date(data.TanggalBlokir);
        $("#dtpTglTran").val(TanggalBlokir.getDate() + '/' + (TanggalBlokir.getMonth() + 1) + '/' + TanggalBlokir.getFullYear());
        var TanggalExpiryBlokir = new Date(data.TanggalExpiryBlokir);
        $("#dtpExpiry").val(TanggalExpiryBlokir.getDate() + '/' + (TanggalExpiryBlokir.getMonth() + 1) + '/' + TanggalExpiryBlokir.getFullYear());
    };

</script>


