@model Reksa.ViewModels.CustomerListViewModel

<div class="col-md-12">
    <div class="card-box">
        <div class="row">
            <div class="col-md-6">
                <!-- Begin Input SID -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">SID</label>
                    <div class="input-group col-sm-7">
                        @Html.Kendo().TextBox().Name("textSID").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                    </div>
                </div>
                <!-- End Input SID -->
                <!-- Begin Input Shareholder ID -->
                <div class="form-group" hidden="hidden">
                    <label class="col-sm-4 control-label">Shareholder ID</label>
                    <div class="input-group col-sm-7" style="display:inline-block">
                        @Html.Kendo().TextBox().Name("textShareHolderId").HtmlAttributes(new { @class = "form-control input-sm", @style = "width: 45%;" }).Enable(false)
                        <button id="btnShareHolder" class="btn btn-info waves-effect waves-light" onclick="GenerateSHDID()">
                            <span class="btn-label">
                                <i class="fa fa-plus"></i>
                            </span>
                            Create Shareholder ID
                        </button>
                    </div>
                </div>
                <!-- End Input Shareholder ID -->
                <!-- Begin Input Nama Pemilik -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Nama Pemilik</label>
                    <div class="input-group col-sm-7">
                        @Html.Kendo().TextBox().Name("tbNama").HtmlAttributes(new { @class = "form-control input-sm" }).Enable(false)
                    </div>
                </div>
                <!-- End Input Nama Pemilik -->
                <!-- Begin Input Tempat/Tanggal Lahir -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Tempat Lahir</label>
                    <div class="input-group">
                        @(Html.Kendo().TextBox().Name("tbTmptLahir").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 250px;" }).Enable(false))
                     </div>
                </div>
                <!-- End Input Tempat/Tanggal Lahir -->
                <!-- Begin Input Tempat/Tanggal Lahir -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Tanggal Lahir</label>
                    <div class="input-group">
                        @(Html.Kendo().DatePicker().Name("dtpTglLahir").HtmlAttributes(new { style = "width: 150px;" }).Enable(false))
                    </div>
                </div>
                <!-- End Input Tempat/Tanggal Lahir -->
                <!-- Begin Input KTP -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">KTP/PassPort</label>
                    <div class="input-group col-sm-7">
                        @Html.Kendo().TextBox().Name("tbKTP").HtmlAttributes(new { @class = "form-control input-sm" }).Enable(false)
                    </div>
                </div>
                <!-- End Input KTP -->
                <!-- Begin Input Tanggal Bergabung -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Tanggal Bergabung</label>
                    <div class="input-group col-sm-7">
                        @(Html.Kendo().DatePicker().Name("dtpJoinDate").Enable(false))
                    </div>
                </div>
                <!-- End Input Tanggal Bergabung -->
            </div>
            <div class="col-md-6">
                <!-- Begin Input No. HP -->
                <div class="form-group">
                    <label class="col-sm-5 control-label">No. HP</label>
                    <div class="input-group col-sm-7">
                        @Html.Kendo().TextBox().Name("tbHP").HtmlAttributes(new { @class = "form-control input-sm" }).Enable(false)
                    </div>
                </div>
                <!-- End Input No. HP -->
                <!-- Begin Input Email -->
                <div class="form-group">
                    <label class="col-sm-5 control-label">Email</label>
                    <div class="input-group col-sm-7">
                        @Html.Kendo().TextBox().Name("txtEmail").HtmlAttributes(new { @class = "form-control input-sm" }).Enable(false)
                    </div>
                </div>
                <!-- End Input Email -->
                <!-- Begin Input Jenis Risk Profile -->
                <div class="form-group">
                    <label class="col-sm-5 control-label">Jenis Risk Profile</label>
                    <div class="input-group col-sm-7">
                        @(Html.Kendo().TextBox().Name("txtbRiskProfile").HtmlAttributes(new { @class = "form-control input-sm col-sm-9" }).Enable(false))
                    </div>
                </div>
                <!-- End Input Jenis Risk Profile -->
                <!-- Begin Date Last Update Risk Profile -->
                <div class="form-group">
                    <label class="col-sm-5 control-label">Last Update Risk Profile</label>
                    <div class="input-group col-sm-7">
                        @(Html.Kendo().DatePicker().Name("dtpRiskProfile").Enable(false).Events(e => { e.Change("onChangedtpRiskProfile"); }))
                    </div>
                </div>
                <!-- End Date Last Update Risk Profile -->
                <!-- Begin Date Expired Date Risk Profile -->
                <div class="form-group">
                    <label class="col-sm-5 control-label">Expired Date Risk Profile</label>
                    <div class="input-group col-sm-7">
                        @(Html.Kendo().DatePicker().Name("dtExpiredRiskProfile").Enable(false))
                    </div>
                </div>
                <!-- End Date Expired Date Risk Profile -->
                <!-- Begin Transaksi melalui Telepon -->
                <div class="form-group">
                    <label class="col-sm-5 control-label"></label>
                    <div class="input-group">
                        <div class="checkbox checkbox-custom checkbox-circle">
                            @(Html.Kendo().CheckBox().Name("checkPhoneOrder").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Label("Transaksi melalui Telepon"))
                        </div>
                    </div>
                </div>
                <!-- End Transaksi melalui Telepon -->
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- Begin Input No Rekening IDR -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">No Rekening IDR</label>
                        <div class="input-group col-sm-7">
                            @(Html.Kendo().TextBox().Name("maskedRekening").HtmlAttributes(new { @class = "form-control input-sm" }).Enable(false))
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Nama Rekening IDR</label>
                        <div class="input-group col-sm-7">
                            @(Html.Kendo().TextBox().Name("tbNamaRekening").HtmlAttributes(new { @class = "form-control input-sm" }).Enable(false))
                        </div>
                    </div>
                    <!-- End Input No Rekening IDR -->
                    <!-- Begin DropDown Status Karyawan -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Karyawan</label>
                        <div class="input-group col-sm-6">
                            @(Html.Kendo().DropDownList().Name("cbStatus").BindTo(new List<SelectListItem>() {new SelectListItem() {Text = "Karyawan",Value = "1"},new SelectListItem() {Text = "Non Karyawan",Value = "0"}}).DataTextField("Text").DataValueField("Value").Value("1").Events(e => { e.Change("onChange_cbStatus"); }))
                        </div>
                    </div>
                    <!-- End DropDown Status Karyawan -->
                    <!-- Begin Search NIK -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">NIK Karyawan</label>
                        <div class="input-group col-sm-7">
                            @Html.Kendo().TextBoxFor(model => model.Referentor.EMPLID).HtmlAttributes(new { @class = "form-control input-sm", @id = "srcEmployee_text1" }).Enable(false)
                            <span class="input-group-btn">
                                <a id="srcEmployee" href="@Url.Action("SearchEmployee", "Global")" data-toggle="modal" data-target="#NIKModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                            </span>
                            @Html.Kendo().TextBoxFor(model => model.Referentor.NAME).HtmlAttributes(new { @style = "width:200px", @class = "form-control input-sm col-md-3", @id = "srcEmployee_text2" }).Enable(false)
                        </div>
                    </div>
                    <!-- End Search NIK -->
                </div>
                <div class="col-md-6">
                    <!-- Begin Input No Rekening USD -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">No Rekening USD</label>
                        <div class="input-group col-sm-7">
                            @Html.Kendo().TextBox().Name("maskedRekeningUSD").HtmlAttributes(new { @class = "form-control input-sm" }).Enable(false)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Nama Rekening USD</label>
                        <div class="input-group col-sm-7">
                            @Html.Kendo().TextBox().Name("tbNamaRekeningUSD").HtmlAttributes(new { @class = "form-control input-sm" }).Enable(false)
                        </div>

                    </div>
                    <!-- End Input No Rekening USD -->
                    <!-- Begin Input No Rekening MC -->
                    <div class="form-group" hidden="hidden">
                        <label class="col-sm-4 control-label">No Rek. MultiCurrency</label>
                        <div class="input-group col-sm-7">
                            @Html.Kendo().TextBox().Name("maskedRekeningMC").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                        </div>
                    </div>
                    <div class="form-group" hidden="hidden">
                        <label class="col-sm-4 control-label">Nama Rek. MultiCurrency</label>
                        <div class="input-group col-sm-7">
                            @Html.Kendo().TextBox().Name("tbNamaRekeningMC").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                        </div>

                    </div>
                    <!-- End Input No Rekening MC -->
                    <div class="col-md-12">
                        <div class="card-box">
                            <div class="row">
                                <!-- Begin Kelengkapan Dokumen -->
                                <label class="col-sm-10 control-label">Daftar Kelengkapan Dokumen</label>
                                <div class="col-md-6">
                                        <div class="checkbox checkbox-custom checkbox-circle">
                                            @(Html.Kendo().CheckBox().Name("cbProfilResiko").Label("Kuesioner Profil Resiko").HtmlAttributes(new { @class = "col-sm-6 control-label" }).Enable(false))
                                        </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkbox checkbox-custom checkbox-circle">
                                        @(Html.Kendo().CheckBox().Name("cbKetum").HtmlAttributes(new { @class = "col-sm-6 control-label" }).Label("Ketentuan Umum").Enable(false))
                                    </div>
                                </div>
                                <!-- End Kelengkapan Dokumen -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="card-box">
        <h3 class="panel-title" style="padding-bottom:20px">Alamat Pengiriman Surat</h3>
        <!-- Begin Alamat Nasabah -->
        <div class="row">
            <div class="col-md-12" style="padding-bottom:20px">
                    <div class="form-group">                        
                        <div class="input-group">
                            <div class="col-md-6">
                                <label class="col-sm-12 control-label">Surat Konfirmasi dikirim ke</label>
                            </div>
                            <div class="col-md-6">
                                @(Html.Kendo().DropDownList().Name("cbDikirimKe")
                                                .BindTo(new List<SelectListItem>() {new SelectListItem() {Text = "Alamat Nasabah",Value = "0"},new SelectListItem() {Text = "Kantor Cabang Pemilik Nasabah Reksadana",Value = "1"}}).DataTextField("Text").DataValueField("Value").Value("0").Events(e =>{e.Change("onChangeAddressType").DataBound("onBoundAddressType");}).HtmlAttributes(new { style = "width: 340px;" }))
                            </div>                            
                        </div>
                    </div>
            </div>
            <!-- Begin Grid KonfirmasiAddress -->
            <div class="col-md-12" id="divAlamatNasabah" style="display:none">
                <div class="row">
                    @(Html.Kendo().Grid(Model.CustomerKonfirmasiAddress).Name("dgvKonfAddr")
                        .Columns(columns => {
                            columns.Bound(p => p.Pilih).ClientTemplate("<input type='checkbox' onclick='onCheckBoxKonfAddressClick(this)' value= '#= Sequence #' " + "# if (Pilih) { #" + "checked='checked'" + "# } #" + "/>").ClientHeaderTemplate("<input type='checkbox' id='chkKonfAddressSelectAll' onclick='checkKonfAddressAll(this)'/>").Width(30).Title("Pilih").Sortable(false);
                            columns.Bound(p => p.Sequence).Hidden();
                            columns.Bound(p => p.KodePos).Width(85).Title("Kode Pos");
                            columns.Bound(p => p.AddressLine1).Width(250).Title("AddressLine 1");
                            columns.Bound(p => p.AddressLine2).Width(250).Title("AddressLine 2");
                            columns.Bound(p => p.AddressLine3).Width(250).Title("AddressLine 3");
                            columns.Bound(p => p.AddressLine4).Width(250).Title("AddressLine 4");
                            columns.Bound(p => p.AlamatUtama).Width(120).Title("Alamat Utama");
                            columns.Bound(p => p.KodeAlamat).Width(120).Title("Kode Alamat");
                            columns.Bound(p => p.AlamatSID).Width(120).Title("Alamat SID");
                            columns.Bound(p => p.PeriodThere).Width(120).Title("Period There");
                            columns.Bound(p => p.PeriodThereCode).Width(150).Title("Period There Code");
                            columns.Bound(p => p.JenisAlamat).Width(120).Title("Jenis Alamat");
                            columns.Bound(p => p.StaySince).Width(120).Title("Stay Since");
                            columns.Bound(p => p.Kelurahan).Width(200).Title("Kelurahan");
                            columns.Bound(p => p.Kecamatan).Width(150).Title("Kecamatan");
                            columns.Bound(p => p.Kota).Width(150).Title("Kota");
                            columns.Bound(p => p.Provinsi).Width(150).Title("Provinsi");
                        }).Pageable()
                        .Scrollable(s => s.Height(300))
                        .Selectable(selectable => selectable.Mode(GridSelectionMode.Single)) 
                        )
                </div>
            </div>
            <!-- End Grid KonfirmasiAddress -->
        </div>
        <!-- End Alamat Nasabah -->
        <!-- Begin Alamat Cabang -->
        <div class="row" id="divAlamatCabang" style="display:none">
            <div class="col-md-12">
                <!-- Begin Kode Cabang -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Kode Cabang</label>
                    <div class="input-group col-md-5">
                        @Html.Kendo().TextBoxFor(model => model.OfficeModel.OfficeId).HtmlAttributes(new { @class = "form-control input-sm", @id = "srcCabang_text1" }).Enable(false)
                        <span class="input-group-btn">
                            <a id="srcCabang" href="@Url.Action("SearchOffice", "Global")" data-toggle="modal" data-target="#CabangModal" class="btn btn-default btn-sm btn-search-component src-cif enabled" data-animation="flash">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.OfficeModel.OfficeName).HtmlAttributes(new { @class = "form-control input-sm col-md-3", @id = "srcCabang_text2", style = "width: 300px;" }).Enable(false)
                    </div>
                </div>
                <!-- End Kode Cabang -->
                <!-- Begin Alamat Cabang 1 -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Alamat</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("tbAlamatSaatIni1").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                    </div>
                </div>
                <!-- End Alamat Cabang 1 -->
                <!-- Begin Alamat Cabang 2 -->
                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.CustomerBranchAddress.AddressLine2).HtmlAttributes(new { @id = "tbAlamatSaatIni2", @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                    </div>
                </div>
                <!-- End Alamat Cabang 2 -->
                <!-- Begin Kode Pos -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Kode Pos</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.CustomerBranchAddress.PostalCode).HtmlAttributes(new { @id = "tbKodePos", @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                    </div>
                </div>
                <!-- End Kode Pos -->
                <!-- Begin Kota -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Kota</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.CustomerBranchAddress.Kota).HtmlAttributes(new { @id = "tbKotaNasabahAlmt", @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                    </div>
                </div>
                <!-- End Kota -->
                <!-- Begin Provinsi -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Provinsi</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.CustomerBranchAddress.Province).HtmlAttributes(new { @id = "tbProvNasabahAlmt", @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                    </div>
                </div>
                <!-- End Provinsi -->
                <!-- Begin Last Updated -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Last Updated</label>
                    <div class="input-group">
                        @*@Html.Kendo().TextBox().Name("txtLastUpdated").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)*@
                        @(Html.Kendo().DatePicker().Name("txtLastUpdated").HtmlAttributes(new { style = "width: 200px;" }).Enable(false))
                    </div>
                </div>
                <!-- End Last Updated -->
            </div>
        </div>
        <!-- End Alamat Cabang -->
    </div>
</div>

<div class="modal fade" id="NIKModal" tabindex="-1" role="dialog" aria-labelledby="NIKModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="CabangModal" tabindex="-1" role="dialog" aria-labelledby="CabangModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>