@model Reksa.ViewModels.CustomerListViewModel

<div class="col-md-8">
    <!-- Begin Input SID -->
    <div class="form-group">
        <label class="col-sm-3 control-label">SID</label>
        <div class="input-group">
            @Html.Kendo().TextBox().Name("SID").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
        </div>
    </div>
    <!-- End Input SID -->
    <!-- Begin Input Shareholder ID -->
    <div class="form-group">
        <label class="col-sm-3 control-label">Shareholder ID</label>
        <div class="input-group">
            @Html.Kendo().TextBox().Name("ShareholderID").HtmlAttributes(new { @class = "form-control input-sm", @style = "width: 45%;" }).Enable(false)
            <button id="buttoncreateSID" class="btn btn-info waves-effect waves-light" onclick="createSID()" disabled>
                <span class="btn-label">
                    <i class="fa fa-plus"></i>
                </span>
                Create Shareholder ID
            </button>
        </div>
    </div>
    <!-- End Input Shareholder ID -->
    <!-- Begin Input Nama Pemilik -->
        <div class="form-group">
            <label class="col-sm-3 control-label">Nama Pemilik</label>
            <div class="input-group">
                @Html.Kendo().TextBox().Name("NamaPemilik").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
            </div>
        </div>
    <!-- End Input Nama Pemilik -->
    <!-- Begin Input Tempat/Tanggal Lahir -->
        <div class="form-group">
            <label class="col-sm-3 control-label">Tempat/Tanggal Lahir</label>
            <div class="input-group">
                @Html.Kendo().TextBox().Name("CIFBirthPlace").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                @(Html.Kendo().DatePicker().Name("CIFBirthDay").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 100px;" }).Enable(false))
            </div>
        </div>  
    <!-- End Input Tempat/Tanggal Lahir -->
    <!-- Begin Input KTP -->
        <div class="form-group">
            <label class="col-sm-3 control-label">KTP</label>
            <div class="input-group">
                @Html.Kendo().TextBox().Name("CIFIDNo").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
            </div>
        </div>
    <!-- End Input KTP -->
    <!-- Begin Input No. HP -->
        <div class="form-group">
            <label class="col-sm-3 control-label">No. HP</label>
            <div class="input-group">
                @Html.Kendo().TextBox().Name("HP").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
            </div>
        </div>
    <!-- End Input No. HP -->
    <!-- Begin Input Email -->
        <div class="form-group">
            <label class="col-sm-3 control-label">Email</label>
            <div class="input-group">
                @Html.Kendo().TextBox().Name("Email").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
            </div>
        </div>
    <!-- End Input Email -->
    <!-- Begin Input Tanggal Bergabung -->
        <div class="form-group">
            <label class="col-sm-3 control-label">Tanggal Bergabung</label>
            <div class="input-group">
                @(Html.Kendo().DatePicker().Name("CreateDate").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false))
            </div>
        </div>
    <!-- End Input Tanggal Bergabung -->
</div>
<div class="col-md-4">
    <!-- Begin Input Jenis Risk Profile -->
    <div class="form-group">
        <label class="col-sm-6 control-label">Jenis Risk Profile</label>
        <div class="input-group">
            @Html.Kendo().TextBox().Name("RiskProfile").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 100%;" }).Enable(false)
        </div>
    </div>
    <!-- End Input Jenis Risk Profile -->
    <!-- Begin Date Last Update Risk Profile -->
    <div class="form-group">
        <label class="col-sm-6 control-label">Last Update Risk Profile</label>
        <div class="input-group">
            @(Html.Kendo().DatePicker().Name("LastUpdate").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200%;" }).Enable(false))
        </div>
    </div>
    <!-- End Date Last Update Risk Profile -->
    <!-- Begin Date Expired Date Risk Profile -->
    <div class="form-group">
        <label class="col-sm-6 control-label">Expired Date Risk Profile</label>
        <div class="input-group">
            @(Html.Kendo().DatePicker().Name("DateExpRiskProfile").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200%;" }).Enable(false))
        </div>
    </div>
    <!-- End Date Expired Date Risk Profile -->
    <!-- Begin Transaksi melalui Telepon -->
    <div class="form-group">
        <label class="col-sm-3 control-label"></label>
        <div class="input-group">
            <div class="checkbox checkbox-custom checkbox-circle">
                @Html.Kendo().CheckBox().Name("PhoneOrder").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Label("Transaksi melalui Telepon")
            </div>
        </div>
    </div>
    <!-- End Transaksi melalui Telepon -->
</div>
<div class="col-md-12">
    <!-- Begin Input No Rekening IDR -->
    <div class="form-group">
        <div class="input-group">
            <div><label class="col-sm-12 control-label">No Rekening IDR</label></div>
            <span class="input-group-btn"></span>
            <div>
                @Html.Kendo().TextBox().Name("AccountId").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
            </div>
            <span class="input-group-btn"></span>
            <div>
                <label class="col-sm-12 control-label">Nama Rekening IDR</label>
            </div>
            <span class="input-group-btn"></span>
            <div>
                @Html.Kendo().TextBox().Name("AccountName").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
            </div>
        </div>
    </div>
    <!-- End Input No Rekening IDR -->
    <!-- Begin Input No Rekening USD -->
    <div class="form-group">
        <div class="input-group">
            <div></div>
            <label class="col-sm-12 control-label">No Rekening USD</label>
            <span class="input-group-btn"></span>
            <div></div>
            @Html.Kendo().TextBox().Name("AccountIdUSD").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
            <span class="input-group-btn"></span>
            <div></div>
            <label class="col-sm-12 control-label">Nama Rekening USD</label>
            <span class="input-group-btn"></span>
            <div></div>
            @Html.Kendo().TextBox().Name("AccountNameUSD").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
        </div>
    </div>
    <!-- End Input No Rekening USD -->
    <!-- Begin Input No Rekening MC -->
    <div class="form-group">            
        <div class="input-group">
            <div>
                <label class="col-md-12 control-label">No Rekening MultiCurrency</label>
            </div>
                <span class="input-group-btn"></span>
            <div>
                @Html.Kendo().TextBox().Name("AccountIdMC").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
            </div>
                <span class="input-group-btn"></span>
            <div>
                <label class="col-md-12 control-label">Nama Rekening MultiCurrency</label>
            </div>
            <span class="input-group-btn"></span>
            <div>
                @Html.Kendo().TextBox().Name("AccountNameMC").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
            </div>
        </div>
    </div>
    <!-- End Input No Rekening MC -->
</div>
<div class="col-md-8">
    <!-- Begin DropDown Status Karyawan -->
    <div class="form-group">
        <label class="col-sm-3 control-label">Karyawan</label>
        <div class="input-group">
            @(Html.Kendo().DropDownList().Name("StatusEmployee")
                            .BindTo(new List<SelectListItem>() {
                            new SelectListItem() {
                            Text = "Karyawan",
                            Value = "1"
                            },
                            new SelectListItem() {
                            Text = "Non Karyawan",
                            Value = "0"
                            }
                            })
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .Value("0")
            )
        </div>
    </div>
    <!-- End DropDown Status Karyawan -->
    <!-- Begin Search NIK -->
    <div class="form-group">
        <label class="col-sm-3 control-label">NIK</label>
        <div class="input-group" style="width: 50%">
            @Html.Kendo().TextBoxFor(model => model.Referentor.EMPLID).HtmlAttributes(new { @class = "form-control input-sm", @id = "EmployeeId" }).Enable(false)
            <span class="input-group-btn">
                <a id ="searchNIK"href="@Url.Action("SearchReferentor", "Global")" data-toggle="modal" data-target="#OffcieModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
            </span>
            @Html.Kendo().TextBoxFor(model => model.Referentor.NAME).HtmlAttributes(new { @class = "form-control input-sm col-md-3", @id = "EmployeeName" }).Enable(false)
        </div>
    </div>
    <!-- End Search NIK -->
</div>
<div class="col-md-12">
    <div class="card-box">
        <h3 class="panel-title">Dokumen</h3>
        <div class="row">
            <!-- Begin Kelengkapan Dokumen -->
            <div class="form-group">
                <div class="input-group">
                    <label class="col-sm-12 control-label">Daftar Kelengkapan Dokumen</label>
                    <span class="input-group-btn"></span>
                    @(Html.Kendo().CheckBox().Name("isDocRiskProfile")
                    .Label("Kuesioner Profil Resiko")
                    .HtmlAttributes(new { @class = "col-sm-6 control-label" })
                    .Enable(false))
                    <span class="input-group-btn"></span>
                    @(Html.Kendo().CheckBox().Name("isDocTermCond")
                    .HtmlAttributes(new { @class = "col-sm-6 control-label" })
                    .Label("Ketentuan Umum")
                    .Enable(false))
                </div>
            </div>
            <!-- End Kelengkapan Dokumen -->
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card-box">
        <h3 class="panel-title">Alamat Pengiriman Surat</h3>
        <!-- Begin Alamat Nasabah -->
        <div class="row">
            <div class="col-md-6">
                <form class="form-horizontal" role="form" style="padding-top:2%; padding-bottom:2%">
                    <div class="form-group">                        
                        <div class="input-group">
                            <label class="col-sm-12 control-label">Surat Konfirmasi dikirim ke</label>
                            <span class="input-group-btn"></span>
                            @(Html.Kendo().DropDownList().Name("KonfirmasiAlamat")
                                .BindTo(new List<SelectListItem>() {
                                new SelectListItem() {
                                Text = "Alamat Nasabah",
                                Value = "0"
                                },
                                new SelectListItem() {
                                Text = "Kantor Cabang Pemilik Nasabah Reksadana",
                                Value = "1"
                                }
                                })
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .Value("0")
                                .Events(e =>
                                {
                                e.Change("onChangeAddressType").DataBound("onBoundAddressType");
                                })
                            )
                        </div>
                    </div>
                </form>
            </div>
            <!-- Begin Grid KonfirmasiAddress -->
            <div class="col-md-12" id="divAlamatNasabah" style="display:none">
                @(Html.Kendo().Grid(Model.CustomerKonfirmasiAddress)
                .Name("GridKonfAddress")
                .Columns(columns =>
                {
                    columns.Bound(p => p.Pilih)
                    .ClientTemplate("<input type='checkbox' onclick='onCheckBoxClick(this)' value= '#= Sequence #' " +
                    "# if (Pilih) { #" +
                    "checked='checked'" +
                    "# } #" +
                    "/>")
                    .ClientHeaderTemplate("<input type='checkbox' id='chkSelectAll' onclick='checkAll(this)'/>")
                    .Width(30).Title("Pilih")
                    .Sortable(false);
                    columns.Bound(p => p.Sequence).Hidden();
                    columns.Bound(p => p.KodePos).Width(85).Title("Kode Pos");
                    columns.Bound(p => p.AddressLine1).Width(200).Title("AddressLine 1");
                    columns.Bound(p => p.AddressLine2).Width(200).Title("AddressLine 2");
                    columns.Bound(p => p.AddressLine3).Width(200).Title("AddressLine 3");
                    columns.Bound(p => p.AddressLine4).Width(200).Title("AddressLine 4");
                    columns.Bound(p => p.AlamatUtama).Width(120).Title("Alamat Utama");
                    columns.Bound(p => p.KodeAlamat).Width(120).Title("Kode Alamat");
                    columns.Bound(p => p.AlamatSID).Width(120).Title("Alamat SID");
                    columns.Bound(p => p.PeriodThere).Width(120).Title("Period There");
                    columns.Bound(p => p.PeriodThereCode).Width(150).Title("Period There Code");
                    columns.Bound(p => p.JenisAlamat).Width(120).Title("Jenis Alamat");
                    columns.Bound(p => p.StaySince).Width(120).Title("Stay Since");
                    columns.Bound(p => p.Kelurahan).Width(200).Title("Kelurahan");
                    columns.Bound(p => p.Kecamatan).Width(150).Title("Kecamatan");
                    columns.Bound(p => p.Kota).Width(150).Title("Kota");
                    columns.Bound(p => p.Provinsi).Width(150).Title("Provinsi");
                }).Scrollable(s => s.Height(500))
                .Selectable()
                .Pageable()
                )
            </div>
            <!-- End Grid KonfirmasiAddress -->
        </div>
        <!-- End Alamat Nasabah -->
        <!-- Begin Alamat Cabang -->
        <div class="row" id="divAlamatCabang" style="display:none">
            <div class="col-md-6">
                <!-- Begin Kode Cabang -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Kode Cabang</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.OfficeModel.OfficeId).HtmlAttributes(new { @class = "form-control input-sm", @id = "OfficeIdCabang" }).Enable(true)

                        <span class="input-group-btn">
                            <a id="searchOfficeCabang" href="@Url.Action("SearchOffice", "Global")" data-toggle="modal" data-target="#OffcieModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>

                        @Html.Kendo().TextBoxFor(model => model.OfficeModel.OfficeName).HtmlAttributes(new { @class = "form-control input-sm col-md-3", @id = "OfficeNameCabang" }).Enable(false)
                    </div>
                </div>
                <!-- End Kode Cabang -->
                <!-- Begin Alamat Cabang 1 -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Alamat</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("AddressLine1").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                    </div>
                </div>
                <!-- End Alamat Cabang 1 -->
                <!-- Begin Alamat Cabang 2 -->
                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.CustomerBranchAddress.AddressLine2).HtmlAttributes(new { @id = "AddressLine2", @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                    </div>
                </div>
                <!-- End Alamat Cabang 2 -->
                <!-- Begin Kode Pos -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Kode Pos</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.CustomerBranchAddress.PostalCode).HtmlAttributes(new { @id = "PostalCode", @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                    </div>
                </div>
                <!-- End Kode Pos -->
                <!-- Begin Kota -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Kota</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.CustomerBranchAddress.Kota).HtmlAttributes(new { @id = "Kota", @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                    </div>
                </div>
                <!-- End Kota -->
                <!-- Begin Provinsi -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Provinsi</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.CustomerBranchAddress.Province).HtmlAttributes(new { @id = "Province", @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                    </div>
                </div>
                <!-- End Provinsi -->
                <!-- Begin Last Updated -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Last Updated</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.CustomerBranchAddress.LastUpdatedDate).HtmlAttributes(new { @id = "LastUpdatedDate", @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                    </div>
                </div>
                <!-- End Last Updated -->
            </div>
        </div>
        <!-- End Alamat Cabang -->
    </div>
</div>

<div class="modal fade" id="KotaModal" tabindex="-1" role="dialog" aria-labelledby="KotaModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>


<script type="text/javascript">
    $.ajaxSetup({ cache: false });
    function createSID(e)
    {
        $.ajax({
            type: "GET",
            url: "/Customer/GetShareHolderID",  
            data: {},
            dataType: "json",
            success: function (result) {
                $("#ShareholderID").val(result.strShareHolderID);
            }
        });
    }

    function onChangeAddressType(e) {
        var dropdownlist = $("#KonfirmasiAlamat").data("kendoDropDownList");
        var ValueType = dropdownlist.value();
        if (ValueType == '0') {
            $('#divAlamatNasabah').show();
            $('#divAlamatCabang').hide();
        } else {
            $('#divAlamatNasabah').hide();
            $('#divAlamatCabang').show();
        }
    }

    function onBoundAddressType(e) {
        var dropdownlist = $("#KonfirmasiAlamat").data("kendoDropDownList");
        var len = dropdownlist.dataSource.data().length;

        if (len > 0) {
            dropdownlist.select(0);
            onChangeAddressType();
        }
    }      

    function checkAll(e) {
        var state = $(e).is(':checked');
        var grid = $('#GridKonfAddress').data('kendoDropDownList');
        $.each(grid.dataSource.view(), function () {
            if (this['Pilih'] != state)
                this.dirty = true;

            this['Pilih'] = state;
        });
        grid.refresh();
    }

    function onCheckBoxClick(e) {
        var state = $(e).is(':checked');
        var guid = e.value;

        var grid = $('#GridKonfAddress').data('GridKonfAddress');
        grid.refresh();

        grid.tbody.find("tr[role='row']").each(function () {
            var dataItem = grid.dataItem(this);

            if (dataItem.Guid == guid) {
                dataItem.Select = state;
            }
        })

        var chkAll = $('#chkSelectAll').is(':checked');
        var isCheckedAll = true;
        var countTrue = 0;
        var countFalse = 0;
        var countAll = 0;

        $.each(grid.dataSource.view(), function () {
            if (this['Select'] == true) {
                countTrue = countTrue + 1;
            }
            else {
                countFalse = countFalse + 1;
                isCheckedAll = false;
            }
            countAll = countAll + 1;
        });
        if (countFalse == 0 || (countFalse == 1 && !state)) {
            $('#chkSelectAll').prop("checked", state);
        }

        grid.refresh();
    }

    $("#AccountId").change(function () {
        GetAccountRelationDetail();
    });

    function GetAccountRelationDetail()
    {
        var OfficeId = $("#OfficeId").val();
        $.ajax({
            type: 'GET',
            url: '/Global/ValidateClient',
            data: { Col1: OfficeId, Col2: '', Validate: 1 },
            success: function (data) {
                $("#AccountName").val(data[0].ClientName);
            }
        });
    }

    $("#OfficeIdCabang").change(function () {
        ValidateOffice($("#OfficeIdCabang").val(), function (output) {
            $("#OfficeNameCabang").val(output);
            GetAlamatCabang();
        });
    }); 

  

    $("#EmployeeId").change(function () {
        ValidateReferentor($("#EmployeeId").val(), function (output) {
            $("#EmployeeName").val(output);
        });
    });  
    
    function ValidateReferentor(ReferentorID, result) {
        $.ajax({
            type: 'GET',
            url: '/Global/ValidateReferentor',
            data: { Col1: ReferentorID, Col2: '', Validate: 1 },
            success: function (data) {
                result(data[0].NAME);
            }
        });
    }


    function GetAlamatCabang() {
        var Cifno = $("#CIFNo").val();
        var BranchId = $("#OfficeIdCabang").val();
        var intId = $("#idNasabah").val();

        $.ajax({
            type: 'GET',
            url: '/Customer/GetAlamatCabang',
            data: { CIFNO: Cifno, Branch: BranchId, intId: intId },
            success: function (data) {
                $("#AddressLine1").val(data.CustomerBranchAddress.AddressLine1);
                $("#AddressLine2").val(data.CustomerBranchAddress.AddressLine2);
                $("#PostalCode").val(data.CustomerBranchAddress.PostalCode);
                $("#Kota").val(data.CustomerBranchAddress.Kota);
                $("#Province").val(data.CustomerBranchAddress.Province);
                var LastUpdatedDate = new Date(data.CustomerBranchAddress.LastUpdated);
                $("#LastUpdatedDate").val(LastUpdatedDate.getDate() + '/' + (LastUpdatedDate.getMonth() + 1) + '/' + LastUpdatedDate.getFullYear());
            }
        });
    }

</script>