@using System.Data
@model DataSet
@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["ReportCode"]</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <script src="~/lib/assets/js/jquery.min.js"></script>
    <script src="~/lib/assets/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="">
        <h1 class="text-center" style="padding-bottom:50px">@ViewData["ReportName"]</h1>
        <h6>Tgl. Redemption  Awal  : @ViewData["PeriodStart"]</h6>
        <h6>Tgl. Redemption Akhir : @ViewData["PeriodEnd"]</h6>
        <h6>Product Code : @ViewData["ProdCode"]</h6>
        <h6>Branch : @ViewData["Branch"]</h6>
        <br>
        <table class="table table-striped m-0" style="font-size:9px">
            <thead>
                <tr>
                    <th>Joint Date</th>
                    <th>Agent Code</th>
                    <th>Agent Name</th>
                    <th>Shareholder ID</th>
                    <th>Client Code</th>
                    <th>Nama Nasabah</th>
                    <th>Jenis Transaksi</th>
                    <th>Nominal</th>
                    <th>NAV</th>
                    <th>Kurs</th>
                    <th>Jumlah Unit</th>
                    <th>Tanggal Tran</th>
                    <th>Value Date</th>
                    <th>Nama Inputer</th>
                    <th>Nama Checker</th>
                    <th>NIK Seller</th>
                    <th>Nama Seller</th>
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow item in Model.Tables[0].Rows)
                {
                <tr>
                    <td>@(item["JointDate"].ToString() != "" ? DateTime.Parse(@item["JointDate"].ToString()).ToString("dd/MM/yyyy") : "")</td>
                    <td>@item["AgentCode"]</td>
                    <td>@item["AgentName"]</td>
                    <td>@item["ShareholderID"]</td>
                    <td>@item["ClientCode"]</td>
                    <td>@item["NamaNasabah"]</td>
                    <td>@item["JenisTransaksi"]</td>
                    <td>@(item["Nominal"].ToString() != "" ? decimal.Parse(item["Nominal"].ToString()).ToString("###,###.##") : "0")</td>
                    <td>@(item["NAV"].ToString() != "" ? decimal.Parse(item["NAV"].ToString()).ToString("###,###.##") : "0")</td>
                    <td>@(item["Kurs"].ToString() != "" ? decimal.Parse(item["Kurs"].ToString()).ToString("###,###.##") : "0")</td>
                    <td>@(item["JumlahUnit"].ToString() != "" ? decimal.Parse(item["JumlahUnit"].ToString()).ToString("###,###.##") : "0")</td>
                    <td>@(item["TranDate"].ToString() != "" ? DateTime.Parse(@item["TranDate"].ToString()).ToString("dd/MM/yyyy") : "")</td>
                    <td>@(item["ValueDate"].ToString() != "" ? DateTime.Parse(@item["ValueDate"].ToString()).ToString("dd/MM/yyyy") : "")</td>
                    <td>@item["NamaInputer"]</td>
                    <td>@item["NamaChecker"]</td>
                    <td>@item["Seller"]</td>
                    <td>@item["NamaSeller"]</td>
                </tr>
                }

            </tbody>
        </table>
    </div>
</body>
</html> 