@using System.Data
@model DataSet
@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["ReportCode"]</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <script src="~/lib/assets/js/jquery.min.js"></script>
    <script src="~/lib/assets/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="">
        <h1 class="text-center" style="padding-bottom:50px">@ViewData["ReportName"]</h1>
        <h6>Tanggal : @ViewData["PeriodStart"] - @ViewData["PeriodEnd"]</h6>
        <br>
        <table class="table table-striped m-0" style="font-size:5px">
            <thead>
                <tr>
                    <th>Bill Id</th>
                    <th>TranCode</th>
                    <th>Client Code</th>
                    <th>CIFName</th>
                    <th>Jenis Transaksi</th>
                    <th>TranDate</th>
                    <th>NAV Value Date</th>
                    <th>Office Debit</th>
                    <th>Debit Currency</th>
                    <th>Account ID Debit</th>
                    <th>Debit Mutation</th>
                    <th>Office Kredit</th>
                    <th>Credit Currency</th>
                    <th>Account ID Credit</th>
                    <th>Credit Mututation</th>
                    <th>Status</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow item in Model.Tables[0].Rows)
                {
                <tr>
                    <td>@item["BillId"]</td>
                    <td>@item["TranCode"]</td>
                    <td>@item["ClientCode"]</td>
                    <td>@item["CIFName"]</td>
                    <td>@item["JenisTransaksi"]</td>
                    <td>@(item["TranDate"].ToString() != "" ? DateTime.Parse(@item["TranDate"].ToString()).ToString("dd/MM/yyyy") : "")</td>
                    <td>@(item["NAVValueDate"].ToString() != "" ? DateTime.Parse(@item["NAVValueDate"].ToString()).ToString("dd/MM/yyyy") : "")</td>
                    <td>@item["OfficeDebit"]</td>
                    <td>@item["DebitCurrency"]</td>
                    <td>@item["AccountIDDebit"]</td>
                    <td>@(item["DebitMutation"].ToString() != "" ? decimal.Parse(item["DebitMutation"].ToString()).ToString("###,###.##") : "0")</td>
                    <td>@item["OfficeKredit"]</td>
                    <td>@item["CreditCurrency"]</td>
                    <td>@item["AccountIDCredit"]</td>
                    <td>@(item["CreditMutation"].ToString() != "" ? decimal.Parse(item["CreditMutation"].ToString()).ToString("###,###.##") : "0")</td>
                    <td>@item["Status"]</td>
                    <td>@item["Description"]</td>
                </tr>
                }

            </tbody>
        </table>
    </div>
</body>
</html> 