@using System.Data
@model DataSet
@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["ReportCode"]</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <script src="~/lib/assets/js/jquery.min.js"></script>
    <script src="~/lib/assets/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="">
        <h1 class="text-center" style="padding-bottom:50px">@ViewData["ReportName"]</h1>
        <br>
        <table class="table table-striped m-0" style="font-size:9px">
            <thead>
                <tr>
                    <th>Data Type</th>
                    <th>ClCode</th>
                    <th>ClName</th>
                    <th>EmployeeFlag</th>
                    <th>AcNo</th>
                    <th>AcName</th>
                    <th>BkCode</th>
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow item in Model.Tables[0].Rows)
                {
                <tr>
                    <td>@item["DataType"]</td>
                    <td>@item["ClCode"]</td>
                    <td>@item["ClName"]</td>
                    <td>@item["EmployeeFlag"]</td>
                    <td>@item["AcNo"]</td>
                    <td>@item["AcName"]</td>
                    <td>@item["BkCode"]</td>
                </tr>
                }

            </tbody>
        </table>
    </div>
</body>
</html> 