@{
    ViewBag.Title = "Document Checklist";
    bool IsEdit = (bool)ViewBag.IsEdit;
    int TranId = (int)ViewBag.TranId;
    bool IsSwitching = (bool)ViewBag.IsSwitching;
    bool IsBooking = (bool)ViewBag.IsBooking;
    string RefID = (string)ViewBag.RefID;
    string _menuName = (string)ViewBag.MenuName;

    Layout = null;
}
<script type="text/javascript">
    $(document).ready(function load() {
        var gridOptions = {
            height: 200
        };
        $("#dgvDocFCOthersList").kendoGrid(gridOptions);
        $("#dgvDocTCOthersList").kendoGrid(gridOptions); 
        //if (_menuName == "mnuAuthorizeTransaksiNew") {
        //    $("#approveBtn").show();
        //}
        //else {
            $("#approveBtn").hide();
        //}

        $("#txtbDocFCOthers").prop('disabled', true);
        $("#btnFCAdd").prop('disabled', true);
        $("#txtbDocTCOthers").prop('disabled', true);
        $("#btnTCAdd").prop('disabled', true);
        
    });
    $('#btnFCAdd').click(function btnFCAdd_click() {
        if ($("#txtbDocFCOthers").val() != "") {
            var grid = $("#dgvDocFCOthersList").data("kendoGrid");
            grid.refresh();
            var arr = [];
            var obj = {};
            obj['OtherDoc'] = $("#txtbDocFCOthers").val();
            arr.push(obj);
            var dataSet = grid.dataSource.view();
            $.merge(arr, dataSet);
            var dataSource = new kendo.data.DataSource(
                {
                    data: arr
                });
            grid.setDataSource(dataSource);
            grid.dataSource.pageSize(5);
            grid.dataSource.page(1);
            grid.select("tr:eq(0)");
            $("#txtbDocFCOthers").val('');
        }
    });
    $('#btnTCAdd').click(function btnTCAdd_click() {  
        if ($("#txtbDocTCOthers").val() != "") {
            var grid = $("#dgvDocTCOthersList").data("kendoGrid");
            grid.refresh();
            var arr = [];
            var obj = {};
            obj['OtherDoc'] = $("#txtbDocTCOthers").val();
            arr.push(obj);
            var dataSet = grid.dataSource.view();
            $.merge(arr, dataSet);
            var dataSource = new kendo.data.DataSource(
                {
                    data: arr
                });
            grid.setDataSource(dataSource);
            grid.dataSource.pageSize(5);
            grid.dataSource.page(1);
            grid.select("tr:eq(0)");
            $("#txtbDocTCOthers").val('');
        }
    });      
    $("#chkbDocFCOthers").change(function chkbDocFCOthers_change() {
        if (this.checked) {
            $("#txtbDocFCOthers").prop('disabled', false);
            $("#btnFCAdd").prop('disabled', false);
            var gridOptions = {
                height: 200
            };
            $("#dgvDocFCOthersList").kendoGrid(gridOptions);
        }
        else {
            $("#txtbDocFCOthers").prop('disabled', true);
            $("#btnFCAdd").prop('disabled', true);
            $("#dgvDocFCOthersList").empty();
        }
    });
    $("#chkbDocTCOthers").change(function chkbDocTCOthers_change() {
        if (this.checked) {
            $("#txtbDocTCOthers").prop('disabled', false);
            $("#btnTCAdd").prop('disabled', false);
            var gridOptions = {
                height: 200
            };
            $("#dgvDocTCOthersList").kendoGrid(gridOptions);
        }
        else {
            $("#txtbDocTCOthers").prop('disabled', true);
            $("#btnTCAdd").prop('disabled', true);
            $("#dgvDocTCOthersList").empty();
        }
    });
</script>
<div class="modal-content">
    <div class="panel panel-color panel-primary">
        <div class="panel-heading">
            <button type="button" class="close m-t-5" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="panel-title">@ViewBag.Title</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-6">
                <label class="col-sm-12 control-label">Penerimaan Dokumen dari Nasabah</label>
                <div class="card-box">
                    <div class="row">
                        <div class="input-group">
                            <div class="checkbox checkbox-custom checkbox-circle">
                                @Html.Kendo().CheckBox().Name("chkbDocFCSubscriptionForm").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Label("Formulir Subscription dan Ketentuan Umum")
                            </div>
                            <div class="checkbox checkbox-custom checkbox-circle">
                                @Html.Kendo().CheckBox().Name("chkbDocFCJoinAcctStatementLetter").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Label("Surat Pernyataan untuk pembelian Reksadana dengan Rek Joint Account(harap diisi bila diperlukan)")
                            </div>
                            <div class="checkbox checkbox-custom checkbox-circle">
                                @Html.Kendo().CheckBox().Name("chkbDocFCIDCopy").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Label("Copy Bukti Identitas")
                            </div>
                            <div class="checkbox checkbox-custom checkbox-circle">
                                @Html.Kendo().CheckBox().Name("chkbDocFCOthers").HtmlAttributes(new { @id = "chkbDocFCOthers", @class = "checkbox checkbox-info checkbox-circle" }).Label("Lainnya")
                            </div>
                        </div>
                        <div class="input-group">
                            <input id="txtbDocFCOthers" type="text" placeholder="" class="form-control input-sm autonumber" data-a-sep="." data-a-dec="," style="width: 100%;" />
                            <span class="input-group-btn">
                                <button id="btnFCAdd" class="btn btn-default btn-sm btn-search-component src-cif"><span class="btn-label"><i class="fa fa-plus"></i></span>Add</button>
                            </span>
                        </div>
                        <div class="col-md-12" style="padding-top:20px">
                            <div id="dgvDocFCOthersList"></div>
                            <div class="checkbox checkbox-custom checkbox-circle">
                                @Html.Kendo().CheckBox().Name("chkbDocFCDevidentAuthLetter").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Label("Surat Kuasa ke Manager Investasi untuk pembagian Deviden")
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
            <div class="col-md-6">
                <label class="col-sm-12 control-label">Dokumen yang diterima oleh Nasabah</label>
                <div class="card-box">
                    <div class="row">
                        <div class="input-group">
                            <div class="checkbox checkbox-custom checkbox-circle">
                                @Html.Kendo().CheckBox().Name("chkbDocTCSubscriptionForm").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Label("Fotokopi Formulir Subscription dan Ketentuan Umum")
                            </div>
                            <div class="checkbox checkbox-custom checkbox-circle">
                                @Html.Kendo().CheckBox().Name("chkbDocTCProspectus").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Label("Prospektus Reksadana")
                            </div>
                            <div class="checkbox checkbox-custom checkbox-circle">
                                @Html.Kendo().CheckBox().Name("chkbDocTCFundFactSheet").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Label("Fund Fact Sheet")
                            </div>
                            <div class="checkbox checkbox-custom checkbox-circle">
                                @Html.Kendo().CheckBox().Name("chkbDocTCOthers").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Label("Lainnya")
                            </div>
                        </div>
                        <div class="input-group" style="padding-top:15px">
                            <input id="txtbDocTCOthers" type="text" placeholder="" class="form-control input-sm" style="width: 100%;" />
                            <span class="input-group-btn">
                                <button id="btnTCAdd" class="btn btn-default btn-sm btn-search-component src-cif"><span class="btn-label"><i class="fa fa-plus"></i></span>Add</button>
                            </span>
                        </div>
                        <div class="col-md-12" style="padding-top:20px">
                            <div id="dgvDocTCOthersList"></div>
                            <div class="checkbox checkbox-custom checkbox-circle">
                                @Html.Kendo().CheckBox().Name("chkbDocTCTermCondition").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Label("Copy Ketentuan Umum Reksadana")
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
            <div class="col-md-12">
                <button type="submit" id="approveBtn" class="btn btn-primary pull-left" data-dismiss="modal">
                    <span class="glyphicon glyphicon-ok"></span> Done
                </button>
            </div>
        </div>
    </div>
</div>
