@{
    ViewBag.Title = "Search Product";
    string search = (string)ViewBag.Search;
    string criteria = (string)ViewBag.Criteria;

    Layout = null;
}
<script type="text/javascript">
    function onSearchTrxProductRedemp() {
        var value = $("#TrxProductRedempSearchComponentSearchTxt").val();
        var grid = $("#TrxProductRedempSearchComponentGrid").data("kendoGrid");

        var parsedUrl = updateQueryStringParameter(grid.dataSource.transport.options.read.url, "search", value);
        grid.dataSource.transport.options.read.url = parsedUrl;

        grid.dataSource.page(1);
        grid.dataSource.read();
        grid.refresh();
    }

    function updateQueryStringParameter(uri, key, value) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        }
        else {
            return uri + separator + key + "=" + value;
        }
    }

    function onRowTrxProductRedempSelect(e) {
        var data = this.dataItem(this.select());
        var ProdCode = $.trim(data.ProdCode);
        var ProdName = $.trim(data.ProdName);
        var ProdId = $.trim(data.ProdId);
        var ProdCurr = $.trim(data.ProdCCY);

        $("#TrxProductRedempSelectedCode").val(ProdCode);
        $("#TrxProductRedempSelectedName").val(ProdName);
        $("#TrxProductRedempSelectedId").val(ProdId);
        $("#TrxProductRedempSelectedCurr").val(ProdCurr);
    };

    $("#TrxProductRedempSelectButton").on("click", function () {
        var selectedCode = $("#TrxProductRedempSelectedCode").val();
        var selectedName = $("#TrxProductRedempSelectedName").val();
        var selectedId = $("#TrxProductRedempSelectedId").val();
        var selectedCurr = $("#TrxProductRedempSelectedCurr").val();

        $("input[id='srcProductRedemp_text1']").val(selectedCode).change();
        $("input[id='srcProductRedemp_text2']").val(selectedName);
        $("input[id='ProdIdRedemp']").val(selectedId);
        $("input[id='ProdCCYRedemp']").val(selectedCurr);
        $("input[id='srcCurrencyRedemp_text1']").val(selectedCurr);
    });

    $("#TrxProductRedempSearchComponentSearchTxt").on("keypress", function (e) {
        var key = e.which;
        if (key == 13)  // the enter key code
        {
            $("#TrxProductRedempSearchComponentSearchBtn").click();
            return false;
        }
    });

    function getData() {
        var Search = "@ViewBag.Search";
        var criter = "@ViewBag.Criteria";
        return {
            search: Search,
            criteria: encodeURIComponent(criter)
        }
    }
</script>
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="modal-body">
        @(Html.Kendo().Grid<Reksa.Models.TransaksiProduct>()
                                            .Name("TrxProductRedempSearchComponentGrid")
                                            .Columns(columns =>
                                            {
                                                columns.Bound(m => m.ProdCode).Width(100).Title("Product Code");
                                                columns.Bound(m => m.ProdName).Width(100).Title("Product Name");
                                                columns.Bound(m => m.ProdId).Hidden();
                                                columns.Bound(m => m.ProdCCY).Hidden();
                                            })
                                            .ToolBar(toolbar =>
                                            {
                                                toolbar.ClientTemplateId("GridToolbarTemplate");
                                            })
                                            .Events(events => events.Change("onRowTrxProductRedempSelect"))
                                            .Pageable()
                                            .Scrollable()
                                            .Selectable(selectable => selectable
                                                .Mode(GridSelectionMode.Single))
                                            .DataSource(dataSource => dataSource
                                                .Ajax()
                                                .PageSize(20)
                                                .Model(model =>
                                                {
                                                    model.Id(m => m.ProdCode);
                                                })
                                                .Read(read =>
                                                read.Action("SearchTrxProductData", "Global").Data("getData"))
                                            )
        )


        <script id="GridToolbarTemplate">
        <div class="toolbar">
            @(Html.Kendo().TextBox().Name("TrxProductRedempSearchComponentSearchTxt").Value(search).ToClientTemplate())
            @(Html.Kendo().Button()
                            .HtmlAttributes(new { type = "button" })
                            .Name("TrxProductRedempSearchComponentSearchBtn")
                            .Content("Search")
                            .Events(ev => ev.Click("onSearchTrxProductRedemp")).ToClientTemplate()
            )
        </div>
        </script>

        <input type="hidden" id="TrxProductRedempSelectedCode" name="TrxProductRedempSelectedCode" value="" />
        <input type="hidden" id="TrxProductRedempSelectedName" name="TrxProductRedempSelectedName" value="" />
        <input type="hidden" id="TrxProductRedempSelectedId" name="TrxProductRedempSelectedCId" value="" />
        <input type="hidden" id="TrxProductRedempSelectedCurr" name="TrxProductRedempSelectedCurr" value="" />
        
    </div>
    <div class="modal-footer">
        <button type="submit" id="TrxProductRedempSelectButton" class="btn btn-primary pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-ok"></span> Select
        </button>
        <button type="submit" class="btn btn-warning pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
    </div>
</div>
