@{
    ViewBag.Title = "Search Client";
    string search = (string)ViewBag.Search;
    string criteria = (string)ViewBag.Criteria;
    int ProdId = (int)ViewBag.ProdId;

    Layout = null;
}
<script type="text/javascript">
    function onSearchClientSwcIn() {
        var value = $("#ClientSwcInSearchComponentSearchTxt").val();
        var grid = $("#ClientSwcInSearchComponentGrid").data("kendoGrid");

        var parsedUrl = updateQueryStringParameter(grid.dataSource.transport.options.read.url, "search", value);
        grid.dataSource.transport.options.read.url = parsedUrl;

        grid.dataSource.page(1);
        grid.dataSource.read();
        grid.refresh();
    }

    function updateQueryStringParameter(uri, key, value) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        }
        else {
            return uri + separator + key + "=" + value;
        }
    }

    function onRowClientSwcInSelect(e) {
        var data = this.dataItem(this.select());
        var ClientCode = $.trim(data.ClientCode);
        var ClientName = $.trim(data.ClientName);
        var ClientId = $.trim(data.ClientId);
        var CIFNo = $.trim(data.CIFNo);

        $("#ClientSwcInSelectedClientCode").val(ClientCode);
        $("#ClientSwcInSelectedClientName").val(ClientName);
        $("#ClientSwcInSelectedClientId").val(ClientId);
        $("#ClientSwcInSelectedCIFNo").val(CIFNo);
    };

    $("#ClientSwcInSelectButton").on("click", function () {
        var selectedClientCode = $("#ClientSwcInSelectedClientCode").val();
        var selectedClientName = $("#ClientSwcInSelectedClientName").val();
        var selectedClientId = $("#ClientSwcInSelectedClientId").val();
        var selectedCIFNo = $("#ClientSwcInSelectedCIFNo").val();
       
        $("input[id='srcClientSwcIn_text1']").val(selectedClientCode).change();
        $("input[id='srcClientSwcIn_text2']").val(selectedClientName);
        $("input[name='ClientModel.ClientId']").val(selectedClientId);
        $("input[name='ClientModel.ClientId']").val(selectedCIFNo);
        
    });

    $("#ClientSwcInSearchComponentSearchTxt").on("keypress", function (e) {
        var key = e.which;
        if (key == 13)  // the enter key code
        {
            $("#ClientSwcInSearchComponentSearchBtn").click();
            return false;
        }
    });

    function getData() {
        var Search = "@ViewBag.Search";
        var criter = "@ViewBag.Criteria";
        return {
            search: Search,
            criteria: encodeURIComponent(criter)
        }
    }
</script>
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="modal-body">
        @(Html.Kendo().Grid<Reksa.Models.ClientSwitchIn>()
            .Name("ClientSwcInSearchComponentGrid")
            .Columns(columns =>
            {
                columns.Bound(m => m.ClientCode).Width(100).Title("Client Code");
                columns.Bound(m => m.ClientName).Width(100).Title("Client Name");
                columns.Bound(m => m.ClientId).Hidden();
                columns.Bound(m => m.CIFNo).Hidden();
            })
            .ToolBar(toolbar =>
            {
            toolbar.ClientTemplateId("ToolbarClientSwcInTemplate");
            })
            .Events(events => events.Change("onRowClientSwcInSelect"))
            .Pageable()
            .Scrollable()
            .Selectable(selectable => selectable
                .Mode(GridSelectionMode.Single))
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(20)
                .Model(model =>
                {
                    model.Id(m => m.ClientCode);
                })
                .Read(read => read.Action("SearchClientSwcInData", "Global").Data("getData"))
            )
        )

        <script id="ToolbarClientSwcInTemplate">
        <div class="toolbar">
            @(Html.Kendo().TextBox().Name("ClientSwcInSearchComponentSearchTxt").Value(search).ToClientTemplate())
            @(Html.Kendo().Button()
                            .HtmlAttributes(new { type = "button" })
                            .Name("ClientSwcInSearchComponentSearchBtn")
                            .Content("Search")
                            .Events(ev => ev.Click("onSearchClientSwcIn")).ToClientTemplate()
            )
        </div>
        </script>

        <input type="hidden" id="ClientSwcInSelectedClientCode" name="ClientSwcInSelectedCode" value="" />
        <input type="hidden" id="ClientSwcInSelectedClientName" name="ClientSwcInSelectedClientName" value="" />
        <input type="hidden" id="ClientSwcInSelectedClientId" name="ClientSwcInSelectedClientId" value="" />
        <input type="hidden" id="ClientSwcInSelectedCIFNo" name="v" value="" />
    </div>
    <div class="modal-footer">
        <button type="submit" id="ClientSwcInSelectButton" class="btn btn-primary pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-ok"></span> Select
        </button>
        <button type="submit" class="btn btn-warning pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
    </div>
</div>
