@{
    ViewBag.Title = "Search Product";
    string search = (string)ViewBag.Search;
    string criteria = (string)ViewBag.Criteria;
    bool isRDB = (bool)ViewBag.isRDB;

    Layout = null;
}
<script type="text/javascript">
    function onSearchTrxProductSwcIn() {
        var value = $("#TrxProductSwcInSearchComponentSearchTxt").val();
        var grid = $("#TrxProductSwcInSearchComponentGrid").data("kendoGrid");

        var parsedUrl = updateQueryStringParameter(grid.dataSource.transport.options.read.url, "search", value);
        grid.dataSource.transport.options.read.url = parsedUrl;

        grid.dataSource.page(1);
        grid.dataSource.read();
        grid.refresh();
    }

    function updateQueryStringParameter(uri, key, value) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        }
        else {
            return uri + separator + key + "=" + value;
        }
    }

    function onRowTrxProductSwcInSelect(e) {
        var data = this.dataItem(this.select());
        var ProdCode = $.trim(data.ProdCode);
        var ProdName = $.trim(data.ProdName);
        var ProdId = $.trim(data.ProdId);
        var ProdCurr = $.trim(data.ProdCCY);

        $("#TrxProductSwcInSelectedCode").val(ProdCode);
        $("#TrxProductSwcInSelectedName").val(ProdName);
        $("#TrxProductSwcInSelectedId").val(ProdId);
        $("#TrxProductSwcInSelectedCurr").val(ProdCurr);
    };

    $("#TrxProductSwcInSelectButton").on("click", function () {
        var selectedCode = $("#TrxProductSwcInSelectedCode").val();
        var selectedName = $("#TrxProductSwcInSelectedName").val();
        var selectedId = $("#TrxProductSwcInSelectedId").val();
        var selectedCurr = $("#TrxProductSwcInSelectedCurr").val();

        var res = ValidateCurrency(selectedCurr);

        res.success(function (data) {
            if (data.length != 0) {
                $("input[id='srcCurrencySwcIn_text2']").val(data[0].CurrencyName);
            } else {
                $("input[id='srcCurrencySwcIn_text2']").val('');
            }
        });
        var Criteria = "@ViewBag.isRDB";
        if (Criteria == "False")
        {
            $("input[id='srcProductSwcIn_text1']").val(selectedCode).change();
            $("input[id='srcProductSwcIn_text2']").val(selectedName);
            $("input[id='ProdIdSwcIn']").val(selectedId);
            $("input[id='ProdCCYSwcIn']").val(selectedCurr);
            $("input[id='srcCurrencySwcIn_text1']").val(selectedCurr);
        }
        else if (Criteria == "True") {
            $("input[id='srcProductSwcRDBIn_text1']").val(selectedCode).change();
            $("input[id='srcProductSwcRDBIn_text2']").val(selectedName);
            $("input[id='ProdIdSwcRDBIn']").val(selectedId);
            $("input[id='ProdCCYSwcRDBIn']").val(selectedCurr);
            $("input[id='srcCurrencySwcRDBIn_text1']").val(selectedCurr);
        }
    });

    $("#TrxProductSwcInSearchComponentSearchTxt").on("keypress", function (e) {
        var key = e.which;
        if (key == 13)  // the enter key code
        {
            $("#TrxProductSwcInSearchComponentSearchBtn").click();
            return false;
        }
    });

    function getData() {
        var Search = "@ViewBag.Search";
        var criter = "@ViewBag.Criteria";
        return {
            search: Search,
            criteria: encodeURIComponent(criter)
        }
    }

    function ValidateCurrency(CurrCode) {
        return $.ajax({
            type: 'GET',
            url: '/Global/ValidateCurrency',
            data: { Col1: CurrCode, Col2: '', Validate: 1 }
        });
    }
</script>
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="modal-body">
        @(Html.Kendo().Grid<Reksa.Models.TransaksiProduct>()
                                            .Name("TrxProductSwcInSearchComponentGrid")
                                            .Columns(columns =>
                                            {
                                                columns.Bound(m => m.ProdCode).Width(100).Title("Product Code");
                                                columns.Bound(m => m.ProdName).Width(300).Title("Product Name");
                                                columns.Bound(m => m.ProdId).Hidden();
                                                columns.Bound(m => m.ProdCCY).Hidden();
                                            })
                                            .ToolBar(toolbar =>
                                            {
                                                toolbar.ClientTemplateId("GridToolbarTemplate");
                                            })
                                            .Events(events => events.Change("onRowTrxProductSwcInSelect"))
                                            .Pageable()
                                            .Scrollable()
                                            .Selectable(selectable => selectable
                                                .Mode(GridSelectionMode.Single))
                                            .DataSource(dataSource => dataSource
                                                .Ajax()
                                                .PageSize(20)
                                                .Model(model =>
                                                {
                                                    model.Id(m => m.ProdCode);
                                                })
                                                .Read(read =>
                                                read.Action("SearchTransSwitchInData", "Global").Data("getData"))
                                            )
        )


        <script id="GridToolbarTemplate">
        <div class="toolbar">
            @(Html.Kendo().TextBox().Name("TrxProductSwcInSearchComponentSearchTxt").Value(search).ToClientTemplate())
            @(Html.Kendo().Button()
                            .HtmlAttributes(new { type = "button" })
                            .Name("TrxProductSwcInSearchComponentSearchBtn")
                            .Content("Search")
                            .Events(ev => ev.Click("onSearchTrxProductSwcIn")).ToClientTemplate()
            )
        </div>
        </script>

        <input type="hidden" id="TrxProductSwcInSelectedCode" name="TrxProductSwcInSelectedCode" value="" />
        <input type="hidden" id="TrxProductSwcInSelectedName" name="TrxProductSwcInSelectedName" value="" />
        <input type="hidden" id="TrxProductSwcInSelectedId" name="TrxProductSwcInSelectedCId" value="" />
        <input type="hidden" id="TrxProductSwcInSelectedCurr" name="TrxProductSwcInSelectedCurr" value="" />
        
    </div>
    <div class="modal-footer">
        <button type="submit" id="TrxProductSwcInSelectButton" class="btn btn-primary pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-ok"></span> Select
        </button>
        <button type="submit" class="btn btn-warning pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
    </div>
</div>
