@model Reksa.ViewModels.TransaksiListViewModel

<div class="col-md-12">
    <div class="card-box">
        <div class="row">
            <div class="col-md-6">
                <!-- Begin Search Office -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Kode Kantor</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.OfficeModel.OfficeId).HtmlAttributes(new { @id = "srcOfficeBooking_text1", @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                        <span class="input-group-btn">
                            <a id="srcOfficeBooking" href="@Url.Action("SearchOffice", "Global")" data-toggle="modal" data-target="#OfficeBookModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.OfficeModel.OfficeName).HtmlAttributes(new { @id = "srcOfficeBooking_text2", @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                    </div>
                </div>
                <!-- End Search Office -->
                <!-- Begin Search CIF -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">No CIF</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.CustomerModel.CIFNo).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcCIFBooking_text1" })
                        <span class="input-group-btn">
                            <a id="srcCIFBooking" href="#display" data-toggle="modal" data-target="#CustomerModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.CustomerModel.CIFName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcCIFBooking_text2" }).Enable(false)
                    </div>
                </div>
                <!-- End Search CIF -->
                <!-- Begin Search RefID -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">No Referensi</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.BookingModel.RefID).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcNoRefBooking_text1" })
                        <span class="input-group-btn">
                            <a id="srcNoRefBooking" href="#display" data-toggle="modal" data-target="#NoRefModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.BookingModel.TanggalTransaksi).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcNoRefBooking_text2" }).Enable(false)
                        @Html.Kendo().TextBox().Name("BookingId").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "BookingId", @type = "hidden" })
                    </div>
                </div>
                <!-- End Search RefID -->
            </div>
            <div class="col-md-6">
                <label class="col-sm-4 control-label"></label>
                <div class="input-group">
                    <h2 id="labelStatusBook"></h2>
                </div>
                <div class="card-box">
                    <div class="row">
                        <!-- Begin Jenis Risk Profile -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Jenis Risk Profile</label>
                            <div class="input-group">
                                @Html.Kendo().TextBox().Name("txtbRiskProfileBooking").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 100%;" }).Enable(false)
                            </div>
                        </div>
                        <!-- End Jenis Risk Profile -->
                        <!-- Begin Last Update Risk Profile -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Last Update Risk Profile</label>
                            <div class="input-group">
                                @(Html.Kendo().DatePicker().Name("dtpRiskProfileBooking").HtmlAttributes(new { style = "width: 200px;" }).Enable(false))
                            </div>
                        </div>
                        <!-- End Last Update Risk Profile -->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Begin Input SID -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">SID</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("textSIDBooking").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Umur</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("txtUmurBooking").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 80px;" }).Enable(false)
                        <label>&nbsp;&nbsp;&nbsp;Tahun</label>
                    </div>
                </div>
                <!-- End Input SID -->
                <!-- Begin Input Shareholder ID -->
                <div class="form-group" hidden="hidden">
                    <label class="col-sm-3 control-label">Shareholder ID</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("textShareHolderIdBooking").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                    </div>
                </div>
                <!-- End Input Shareholder ID -->
            </div>
            <div class="col-md-6">
                <!-- Begin Input Rekening IDR -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Rekening IDR</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("maskedRekeningBooking").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;" }).Enable(false)
                        <span class="input-group-btn"></span>
                        @Html.Kendo().TextBox().Name("textNamaRekeningBooking").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 240px;" }).Enable(false)
                    </div>
                </div>
                <!-- End Input Rekening IDR -->
                <!-- Begin Input Rekening USD -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Rekening USD</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("maskedRekeningBookingUSD").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;" }).Enable(false)
                        <span class="input-group-btn"></span>
                        @Html.Kendo().TextBox().Name("textNamaRekeningBookingUSD").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 240px;" }).Enable(false)
                    </div>
                </div>
                <!-- End Input Rekening USD -->
                <!-- Begin Input Rekening -->
                <div class="form-group" hidden="hidden">
                    <label class="col-sm-3 control-label">Rekening</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("maskedRekeningBookingMC").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;" }).Enable(false)
                        <span class="input-group-btn"></span>
                        @Html.Kendo().TextBox().Name("textNamaRekeningBookingMC").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 240px;" }).Enable(false)
                    </div>
                </div>
                <!-- End Input Rekening -->
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card-box">
        <div class="row">
            <div class="col-md-6">
                <!-- Begin Kode Booking -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Kode Booking</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("textNoTransaksiBooking").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:200px" }).Enable(false)
                    </div>
                </div>
                <!-- End Kode Booking -->
                <!-- Begin Tgl Transaksi -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Tgl Transaksi</label>
                    <div class="input-group">
                        @(Html.Kendo().DatePicker().Name("dateTglTransaksiBooking").HtmlAttributes(new { style = "width: 150px;" }).Enable(false))
                    </div>
                </div>
                <!-- End Tgl Transaksi -->
                <!-- Begin Kode Product -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Kode Produk</label>
                    <div class="input-group col-md-8">
                        @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;font-size: 90%;", @id = "srcProductBooking_text1" }).Enable(false)
                        <span class="input-group-btn">
                            <a id="srcProductBooking" href="#display" data-toggle="modal" data-target="#ProductModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 220px;font-size: 90%;", @id = "srcProductBooking_text2" }).Enable(false)
                        @Html.Kendo().TextBoxFor(model => model.TransaksiProduct.ProdId).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ProdIdBooking", @type = "hidden" })
                        @Html.Kendo().TextBoxFor(model => model.TransaksiProduct.ProdCCY).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ProdCCYBooking", @type = "hidden" })
                    </div>
                </div>
                <!-- End Kode Product -->
                <!-- Begin Client Code -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Client Code</label>
                    <div class="input-group col-md-8">
                        @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;font-size: 90%;", @id = "srcClientBooking_text1" }).Enable(false)
                        <span class="input-group-btn">
                            <a id="srcClientBooking" href="#display" data-toggle="modal" data-target="#ClientModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;font-size: 90%;", @id = "srcClientBooking_text2" }).Enable(false)
                    </div>
                </div>
                <!-- End Client Code -->
                <!-- Begin Currency -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Currency</label>
                    <div class="input-group col-md-8">
                        @Html.Kendo().TextBoxFor(model => model.CurrencyModel.CurrencyCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcCurrencyBooking_text1" }).Enable(false)
                        <span class="input-group-btn">
                            <a id="srcCurrencyBooking" href="#display" data-toggle="modal" data-target="#CurrencySubsModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.CurrencyModel.CurrencyName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 250px;", @id = "srcCurrencyBooking_text2" }).Enable(false)
                    </div>
                </div>
                <!-- End Currency -->
                <!-- Begin Nominal -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Nominal</label>
                    <div class="input-group col-md-8">
                        @Html.Kendo().NumericTextBox().Name("MoneyNomBooking").HtmlAttributes(new { style = "width: 220px;" }).Enable(false).Min(0).Events(e => { e.Change("onChangeMoneyNomBooking").Spin("onSpinMoneyNomBooking"); })
                        @*@Html.Kendo().TextBox().Name("MoneyNomBooking").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)*@
                    </div>
                </div>
                <!-- End Nominal -->
                <!-- Begin Transaksi melalui Telepon -->
                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    @(Html.Kendo().CheckBox().Name("checkPhoneOrderBooking").Label("Transaksi melalui Telepon").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Enable(false))
                </div>
                <!-- End Transaksi melalui Telepon -->
                <!-- Begin Sisa Unit -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Sisa Unit yang dapat ditawarkan</label>
                    <div class="input-group">
                        @*@Html.Kendo().TextBox().Name("_sisaunit").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 100%;padding - top:200%;" }).Enable(false)*@
                        @Html.Kendo().NumericTextBox().Name("_sisaunit").HtmlAttributes(new { style = "width:220px;margin-right:10px;" }).Enable(false).Min(0)
                        <span class="input-group-btn"></span>
                        <button id="_inquiry" class="btn btn-default waves-effect waves-light">
                            <span class="btn-label">
                                <i class="fa fa-search"></i>
                            </span>
                            Inquiry
                        </button>
                    </div>
                </div>
                <!-- End Booking Fee -->
            </div>
            <div class="col-md-6">
                <div class="portlet">
                    <div class="portlet-heading bg-custom">Booking Fee</div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="col-md-1"></label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="checkbox checkbox-custom checkbox-circle">
                                            @Html.Kendo().CheckBox().Name("checkFeeEditBooking").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Label("Fee Edit").Enable(false)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="col-md-1"></label>
                                <div class="form-group">
                                    <div class="input-group">
                                        @(Html.Kendo().DropDownList().Name("_ComboJenisBooking").HtmlAttributes(new { @style = "width:130px" }).BindTo(new List<SelectListItem>() { new SelectListItem() { Text = "By Nominal", Value = "0" }, new SelectListItem() { Text = "By %", Value = "1" } }).DataTextField("Text").DataValueField("Value").Events(e => { e.Change("_ComboJenisBooking_SelectedIndexChanged").DataBound("onBound_ComboJenisBooking"); }))
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="col-md-1"></label>
                                <div class="form-group">
                                    <div class="input-group">
                                        @Html.Kendo().NumericTextBox().Name("MoneyFeeBooking").HtmlAttributes(new { style = "width: 160px; margin-right:10px;" }).Enable(false).Min(0).Events(e => { e.Change("onChangeMoneyFeeBooking").Spin("onSpinMoneyFeeBooking"); }).Format("{0:n0}")
                                        <span class="input-group-btn"></span>
                                        <label id="labelFeeCurrencyBooking" style="margin-right:10px;">IDR</label>
                                        <span class="input-group-btn"></span>
                                        @Html.Kendo().NumericTextBox().Name("PercentageFeeBooking").HtmlAttributes(new { style = "width: 160px; margin-right:10px;" }).Enable(false).Min(0)
                                        <span class="input-group-btn"></span>
                                        <label id="_KeteranganFeeBooking">%</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <!-- Begin Inputter -->
    <div class="form-group">
        <label class="col-sm-2 control-label">Inputter</label>
        <div class="input-group">
            @Html.Kendo().TextBox().Name("txtbInputterBooking").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="input-group">
            <button id="btnDokumenBooking" class="btn btn-default waves-effect waves-light">
                <span class="btn-label">
                    <i class="fa fa-search"></i>
                </span>
                Cek Dokumen
            </button>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Seller</label>
        <div class="input-group col-md-4">
            @Html.Kendo().TextBoxFor(model => model.ReferentorModel.EMPLID).HtmlAttributes(new { @id = "srcSellerBooking_text1", @class = "form-control input-sm", style = "width:150%;" }).Enable(false)
            <span class="input-group-btn">
                <a id="srcSellerBooking" href="#display" data-toggle="modal" data-target="#SellerModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
            </span>
            @Html.Kendo().TextBoxFor(model => model.ReferentorModel.NAME).HtmlAttributes(new { @id = "srcSellerBooking_text2", @class = "form-control input-sm", style = "width:250px;" }).Enable(false)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Kode WAPERD</label>
        <div class="input-group col-md-4">
            @Html.Kendo().TextBoxFor(model => model.WaperdModel.WaperdNo).HtmlAttributes(new { @id = "srcWaperdBooking_text1", @class = "form-control input-sm", style = "width:150%;" }).Enable(false)
            <span class="input-group-btn">
                <a id="srcWaperdBooking" href="#display" data-toggle="modal" data-target="#WaperdModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
            </span>
            @Html.Kendo().TextBoxFor(model => model.WaperdModel.WaperdNo).HtmlAttributes(new { @id = "srcWaperdBooking_text2", @class = "form-control input-sm", style = "width:250px;" }).Enable(false)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Tgl Expire</label>
        <div class="input-group">
            @Html.Kendo().TextBox().Name("textExpireWaperdBooking").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">NIK Referrantor</label>
        <div class="input-group col-md-4">
            @Html.Kendo().TextBoxFor(model => model.ReferentorModel.EMPLID).HtmlAttributes(new { @id = "srcReferentorBooking_text1", @class = "form-control input-sm", style = "width:150%;" }).Enable(false)
            <span class="input-group-btn">
                <a id="srcReferentorBooking" href="#display" data-toggle="modal" data-target="#NIKRefModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
            </span>
            @Html.Kendo().TextBoxFor(model => model.ReferentorModel.NAME).HtmlAttributes(new { @id = "srcReferentorBooking_text2", @class = "form-control input-sm", style = "width:250px;" }).Enable(false)
        </div>
    </div>
</div>

<!-- Begin Modal -->
<div class="modal fade" id="OfficeBookModal" tabindex="-1" role="dialog" aria-labelledby="OfficeBookModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ErrorBookingModal" tabindex="-1" role="dialog" aria-labelledby="ErrorBookingModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Daftar Error</h4>
            </div>
            <div class="modal-body">
                @(Html.Kendo().Grid<Reksa.Models.TransactionModel.ErrorList>()
                        .Name("GridErrorBooking")
                        .Columns(columns =>
                        {
                            columns.Bound(m => m.fieldName).Width(200).Title("FieldName");
                            columns.Bound(m => m.description).Width(500).Title("Description");
                        })
                        .Pageable()
                        .Scrollable(s => s.Height(300))
                        .Selectable(selectable => selectable
                            .Mode(GridSelectionMode.Single))
                )
            </div>
            <div class="modal-footer">
                <button type="submit" id="btnOKErrorBooking" class="btn btn-info pull-left" data-dismiss="modal">
                    <span class="glyphicon glyphicon-ok"></span> OK
                </button>
            </div>
        </div>
    </div>
</div>


<!-- End Modal -->