@model Reksa.ViewModels.TransaksiListViewModel

<div class="col-md-12">
    <div class="card-box">
        <div class="row">
            <div class="col-md-6">
                <!-- Begin Search Office -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Kode Kantor</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.OfficeModel.OfficeId).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)

                        <span class="input-group-btn">
                            <a href="@Url.Action("SearchOffice", "Global")" data-toggle="modal" data-target="#OfficeBookModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.OfficeModel.OfficeName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                    </div>
                </div>
                <!-- End Search Office -->
                <!-- Begin Search CIF -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">No CIF</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.CustomerModel.CIFNo).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "CIFNoBook" })

                        <span class="input-group-btn">
                            <a href="@Url.Action("SearchCustomerBook", "Global")" data-toggle="modal" data-target="#CustomerBookModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.CustomerModel.CIFName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "CIFNameBook" })
                    </div>
                </div>
                <!-- End Search CIF -->
                <!-- Begin Search RefID -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">No Referensi</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.BookingModel.RefID).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "RefIDBook" })

                        <span class="input-group-btn">
                            <a id ="srcRefBook" onclick="onsearchRefBook();"  href="" data-toggle="modal" data-target="#ReferensiBookModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.BookingModel.RefID).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "RefTglBook" }).Format("{0:dd MMMM yyyy}")
                    </div>
                </div>
                <script>
                    function onsearchRefBook() {
                        var CIFNo = $('#CIFNoBook').val();
                        var url = '@Html.Raw(Url.Action("SearchBooking", "Global"))';
                        $('#srcRefBook').attr('href', url + '?criteria=' + CIFNo);  
                    }
                </script>
                <!-- End Search RefID -->
                <!-- Begin Input SID -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">SID</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("CIFSIDBook").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Umur</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("UmurBook").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 80px;" }).Enable(false)

                        <label>&nbsp;&nbsp;&nbsp;Tahun</label>
                    </div>
                </div>
                <!-- End Input SID -->
                <!-- Begin Input Shareholder ID -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Shareholder ID</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("ShareHolderIdBook").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                    </div>
                </div>
                <!-- End Input Shareholder ID -->
            </div>
            <div class="col-md-6" style="padding-left:100px">
                <div class="card-box">
                    <div class="row">
                        <!-- Begin Jenis Risk Profile -->
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Jenis Risk Profile</label>
                                <div class="input-group">
                                    @Html.Kendo().TextBox().Name("JenisRiskProfileBook").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 100%;" }).Enable(false)
                                </div>
                            </div>
                        <!-- End Jenis Risk Profile -->
                        <!-- Begin Last Update Risk Profile -->
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Last Update Risk Profile</label>
                                <div class="input-group">
                                    @(Html.Kendo().DatePicker().Name("LastUpdatedRiskBook").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false))
                                </div>
                            </div>
                        <!-- End Last Update Risk Profile -->
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="align-content:flex-start">
                <!-- Begin Input Rekening IDR -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Rekening IDR</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("AccRekeningIDRBook").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                            <span class="input-group-btn"></span>
                            @Html.Kendo().TextBox().Name("NameRekeningIDRBook").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                        </div>
                    </div>
                <!-- End Input Rekening IDR -->
                <!-- Begin Input Rekening USD -->
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Rekening USD</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("AccRekeningUSDBook").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                            <span class="input-group-btn"></span>
                            @Html.Kendo().TextBox().Name("NameRekeningUSDBook").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                        </div>
                    </div>
                </form>
                <!-- End Input Rekening USD -->
                <!-- Begin Input Rekening -->
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Rekening</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("AccRekeningMCBook").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                            <span class="input-group-btn"></span>
                            @Html.Kendo().TextBox().Name("NameRekeningMCBook").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                        </div>
                    </div>
                </form>
                <!-- End Input Rekening -->
            </div>

        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card-box">
        <div class="row">
            <h3 class="panel-title">Booking</h3>
            <div class="col-md-12">
                <!-- Begin Kode Booking -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Kode Booking</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("KodeBooking").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:200px" }).Enable(false)
                    </div>
                </div>
                <!-- End Kode Booking -->
                <!-- Begin Tgl Transaksi -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Tgl Transaksi</label>
                    <div class="input-group">
                        @(Html.Kendo().DatePicker().Name("TglTransaksiBook").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;" }).Enable(false))
                    </div>
                </div>
                <!-- End Tgl Transaksi -->
                <!-- Begin Kode Product -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Kode Produk</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ProdCodeBook" }).Enable(false)
                        <span class="input-group-btn">
                            <a href="@Url.Action("SearchProduct", "Global")" data-toggle="modal" data-target="#ProductBookModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ProdNameBook" }).Enable(false)
                    </div>
                </div>
                <!-- End Kode Product -->
                <!-- Begin Client Code -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Client Code</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ClientCodeBook" }).Enable(false)

                        <span class="input-group-btn">
                            <a href="@Url.Action("SearchClient", "Global")" data-toggle="modal" data-target="#ClientBookModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ClientNameBook" }).Enable(false)
                    </div>
                </div>
                <!-- End Client Code -->
                <!-- Begin Nominal -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Nominal</label>
                    <div class="input-group col-md-8">
                        @Html.Kendo().TextBoxFor(model => model.CurrencyModel.CurrencyCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "CurrCodeBook" }).Enable(false)
                        <span class="input-group-btn">
                            <a href="@Url.Action("SearchCurrency", "Global")" data-toggle="modal" data-target="#CurrencySubsModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.CurrencyModel.CurrencyName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "CurrNameBook" }).Enable(false)
                        <span class="input-group-btn"></span>
                        @Html.Kendo().TextBox().Name("NominalBook").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                    </div>
                </div>
                <!-- End Nominal -->
                <!-- Begin Transaksi melalui Telepon -->
                <div class="form-group">
                    <label class="col-sm-4 control-label"></label>
                    @(Html.Kendo().CheckBox().Name("PhoneOrderBook").Label("Transaksi melalui Telepon").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Enable(false))
                </div>
                <!-- End Transaksi melalui Telepon -->
                <!-- Begin Booking Fee -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Booking Fee</label>
                    <div class="input-group">
                        <div class="checkbox checkbox-custom checkbox-circle">
                            @Html.Kendo().CheckBox().Name("FeeeditBook").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Label("Fee Edit").Enable(false)
                        </div>
                        <div class="input-group">
                            @(Html.Kendo().DropDownList().Name("JenisBook").BindTo(new List<SelectListItem>() {
                                                                                                                                                                                                                                                                                                                                                        new SelectListItem() {
                                                                                                                                                                                                                                                                                                                                                        Text = "By Nominal",
                                                                                                                                                                                                                                                                                                                                                        Value = "0"
                                                                                                                                                                                                                                                                                                                                                        },
                                                                                                                                                                                                                                                                                                                                                        new SelectListItem() {
                                                                                                                                                                                                                                                                                                                                                        Text = "By %",
                                                                                                                                                                                                                                                                                                                                                        Value = "1"
                                                                                                                                                                                                                                                                                                                                                        }
                                                                                                                                                                                                                                                                                    })
                                                                                                                                                            .DataTextField("Text")
                                                                                                                                                            .DataValueField("Value"))
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("FeeBook").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 100%;padding - top:200%;" }).Enable(false)
                        <span class="input-group-btn"></span>
                        <label id="currFeeBook" class="col-sm-3 control-label">CURR</label>
                        <span class="input-group-btn"></span>
                        @Html.Kendo().TextBox().Name("PercentageFeeBook").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:50px" }).Enable(false)
                        <span class="input-group-btn"></span>
                        <label id="keteranganFeeSubs" class="col-sm-3 control-label">%</label>
                    </div>
                </div>
                <!-- End Booking Fee -->
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <!-- Begin Inputter -->
    <div class="form-group">
        <label class="col-sm-3 control-label">Inputter</label>
        <div class="input-group">
            @Html.Kendo().TextBox().Name("InputterBook").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label"></label>
        <div class="input-group">
            <button class="btn btn-default waves-effect waves-light" id=myButton>
                <span class="btn-label">
                    <i class="fa fa-search"></i>
                </span>
                Cek Dokumen
            </button>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Seller</label>
        <div class="input-group">
            @Html.Kendo().TextBoxFor(model => model.ReferentorModel.EMPLID).HtmlAttributes(new { @id = "SellerIdBook", @class = "form-control input-sm" }).Enable(false)

            <span class="input-group-btn">
                <a href="@Url.Action("SearchReferentor", "Global")" data-toggle="modal" data-target="#SellerBookModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
            </span>
            @Html.Kendo().TextBoxFor(model => model.ReferentorModel.NAME).HtmlAttributes(new { @id = "SellerNameBook", @class = "form-control input-sm" }).Enable(false)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Kode WAPERD</label>
        <div class="input-group">
            @Html.Kendo().TextBoxFor(model => model.WaperdModel.WaperdNo).HtmlAttributes(new { @id = "WaperdNoBook", @class = "form-control input-sm" }).Enable(false)

            <span class="input-group-btn">
                <a href="@Url.Action("SearchWaperd", "Global")" data-toggle="modal" data-target="#WaperdBookModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
            </span>
            @Html.Kendo().TextBoxFor(model => model.WaperdModel.WaperdNo).HtmlAttributes(new { @id = "WaperdNameBook", @class = "form-control input-sm" }).Enable(false)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Tgl Expire</label>
        <div class="input-group">
            @Html.Kendo().TextBox().Name("TglExpiredBook").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">NIK Referrantor</label>
        <div class="input-group">
            @Html.Kendo().TextBoxFor(model => model.ReferentorModel.EMPLID).HtmlAttributes(new { @id = "ReferentorIdBook", @class = "form-control input-sm" }).Enable(false)

            <span class="input-group-btn">
                <a href="@Url.Action("SearchReferentor", "Global")" data-toggle="modal" data-target="#NIKRefBookModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
            </span>
            @Html.Kendo().TextBoxFor(model => model.ReferentorModel.NAME).HtmlAttributes(new { @id = "ReferentorNameBook", @class = "form-control input-sm" }).Enable(false)
        </div>
    </div>
</div>

<!-- Begin Modal -->
<div class="modal fade" id="OfficeBookModal" tabindex="-1" role="dialog" aria-labelledby="OfficeBookModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="CustomerBookModal" tabindex="-1" role="dialog" aria-labelledby="CustomerBookModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ReferensiBookModal" tabindex="-1" role="dialog" aria-labelledby="ReferensiBookModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ProductBookModal" tabindex="-1" role="dialog" aria-labelledby="ProductBookModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ClientBookModal" tabindex="-1" role="dialog" aria-labelledby="ClientBookModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="CurrencyBookModal" tabindex="-1" role="dialog" aria-labelledby="CurrencyBookModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="SellerBookModal" tabindex="-1" role="dialog" aria-labelledby="SellerBookModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="WaperdBookModal" tabindex="-1" role="dialog" aria-labelledby="WaperdBookModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="NIKRefBookModal" tabindex="-1" role="dialog" aria-labelledby="NIKRefBookModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>


<!-- End Modal -->

<script>
    function onRowViewBookSelect(e) {
        var data = this.dataItem(this.select());
        $("#NoTransaksiBook").val(data.NoTrx);
        $("#ProdCodeBook").val(data.KodeProduk);
        var DateTrx = new Date(data.TglTrx);
        $("#TglTransaksiBook").val(DateTrx.getDate() + '/' + (DateTrx.getMonth() + 1) + '/' + DateTrx.getFullYear());
        $("#ClientCodeBook").val(data.ClientCode);
        $("#CurrCodeBook").val(data.CCY);


        $('#FeeeditBook').prop('checked', data.EditFee);
        $('#PhoneOrderBook').prop('checked', data.PhoneOrder);

        var KodeProduk = data.KodeProduk;
        var ClientCode = data.ClientCode;
        var ProdId;

        $.ajax({
            type: 'GET',
            url: '/Global/ValidateProduct',
            data: { Col1: KodeProduk, Col2: '', Validate: 1 },
            success: function (data) {
                $("#ProdNameBook").val(data[0].ProdName);
                ProdId = data[0].ProdId;
                $.ajax({
                    type: 'GET',
                    url: '/Global/ValidateClient',
                    data: { Col1: ClientCode, Col2: '', Validate: 1, ProdId: ProdId },
                    success: function (data) {
                        $("#ClientNameBook").val(data[0].ClientName);
                    }
                });
            }
        });

        var dropdownlist = $("#JenisBook").data("kendoDropDownList");
        var intJenis = data.JenisFee;
        //By Nominal
        if (intJenis == 0) {
            dropdownlist.select(0);
            $("#FeeBook").val(data.NominalFee);
            $("#PercentageFeeBook").val(data.PctFee);
            //By %
        } else {
            dropdownlist.select(1);
            $("#FeeBook").val(data.PctFee);
            $("#PercentageFeeBook").val(data.NominalFee);
        }
    };


    function ValidateProdCodeBook() {
        var ProductCode = $("#ProdCodeBook").val();
        $.ajax({
            type: 'GET',
            url: '/Global/ValidateProduct',
            data: { Col1: ProductCode, Col2: '', Validate: 1 },
            success: function (data) {
                $("#ProdNameBook").val(data[0].ProdName);
                $("#ProdIdBook").val(data[0].ProdId);
            }
        });
    }
    function ValidateClientBook() {
        var ClientCode = $("#ClientCodeBook").val();
        var ProdId = $("#ProdIdBook").val();
        $.ajax({
            type: 'GET',
            url: '/Global/ValidateClient',
            data: { Col1: ClientCode, Col2: '', Validate: 1, ProdId: ProdId },
            success: function (data) {
                $("#ClientNameBook").val(data[0].ClientName);
            }
        });
    }



</script>
