@model Reksa.ViewModels.TransaksiListViewModel

<div class="col-md-12">
    <div class="card-box">
        <div class="row">
            <div class="col-md-6">
                <!-- Begin Search Office -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Kode Kantor</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.OfficeModel.OfficeId).HtmlAttributes(new { @id = "srcOfficeRedemp_text1", @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                        <span class="input-group-btn">
                            <a id ="srcOfficeRedemp" href="@Url.Action("SearchOffice", "Global")" data-toggle="modal" data-target="#OfficeRedempModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.OfficeModel.OfficeName).HtmlAttributes(new { @id = "srcOfficeRedemp_text2", @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                    </div>
                </div>
                <!-- End Search Office -->
                <!-- Begin Search CIF -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">No CIF</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.CustomerModel.CIFNo).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcCIFRedemp_text1" })
                        <span class="input-group-btn">
                            <a id="srcCIFRedemp" href="@Url.Action("SearchCustomerRedemp", "Global")" data-toggle="modal" data-target="#CustomerRedempModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.CustomerModel.CIFName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcCIFRedemp_text2" }).Enable(false)
                    </div>
                </div>
                <!-- End Search CIF -->
                <!-- Begin Search RefID -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">No Referensi</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.ReferensiModel.RefID).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcNoRefRedemp_text1" })
                        <span class="input-group-btn">
                            <a id="srcNoRefRedemp" href="@Url.Action("SearchReferensiRedemp", "Global", new { criteria = "REDEMP" })" data-toggle="modal" data-target="#ReferensiRedempModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.ReferensiModel.RefID).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcNoRefRedemp_text2" }).Enable(false)
                    </div>
                </div>
                <!-- End Search RefID -->
                <!-- Begin Input SID -->

                <div class="form-group">
                    <label class="col-sm-3 control-label">SID</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("textSIDRedemp").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Umur</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("txtUmurRedemp").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 80px;" }).Enable(false)
                        <label>&nbsp;&nbsp;&nbsp;Tahun</label>
                    </div>
                </div>
                <!-- End Input SID -->
                <!-- Begin Input Shareholder ID -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Shareholder ID</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("textShareHolderIdRedemp").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                        </div>
                    </div>
                <!-- End Input Shareholder ID -->
            </div>
            <div class="col-md-6" style="padding-left:100px">
                <div class="card-box">
                    <div class="row">
                        <!-- Begin Jenis Risk Profile -->
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Jenis Risk Profile</label>
                                <div class="input-group">
                                    @Html.Kendo().TextBox().Name("txtbRiskProfileRedemp").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 100%;" }).Enable(false)
                                </div>
                            </div>
                        <!-- End Jenis Risk Profile -->
                        <!-- Begin Last Update Risk Profile -->
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Last Update Risk Profile</label>
                                <div class="input-group">
                                    @(Html.Kendo().DatePicker().Name("dtpRiskProfileRedemp").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false))
                                </div>
                            </div>
                        <!-- End Last Update Risk Profile -->
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="align-content:flex-start">
                <!-- Begin Input Rekening IDR -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Rekening IDR</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("maskedRekeningRedemp").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                            <span class="input-group-btn"></span>
                            @Html.Kendo().TextBox().Name("textNamaRekeningRedemp").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                        </div>
                    </div>
                <!-- End Input Rekening IDR -->
                <!-- Begin Input Rekening USD -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Rekening USD</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("maskedRekeningRedempUSD").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                            <span class="input-group-btn"></span>
                            @Html.Kendo().TextBox().Name("textNamaRekeningRedempUSD").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                        </div>
                    </div>
                <!-- End Input Rekening USD -->
                <!-- Begin Input Rekening -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Rekening</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("maskedRekeningRedempMC").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                            <span class="input-group-btn"></span>
                            @Html.Kendo().TextBox().Name("textNamaRekeningRedempMC").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                        </div>
                    </div>
                <!-- End Input Rekening -->
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card-box">
        <div class="row">
            <h3 class="panel-title">Redemption</h3>
            <div class="col-md-12">
                <div class="col-md-8">
                    <!-- Begin No Transaksi -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">No Transaksi</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("textNoTransaksiRedemp").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:200px" }).Enable(false)
                        </div>
                    </div>
                    <!-- End No Transaksi -->
                    <!-- Begin Tgl Transaksi -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Tgl Transaksi</label>
                        <div class="input-group">
                            @(Html.Kendo().DatePicker().Name("dateTglTransaksiRedemp").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;" }).Enable(false))
                        </div>
                    </div>
                    <!-- End Tgl Transaksi -->
                    <!-- Begin Kode Product -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Kode Produk</label>
                        <div class="input-group">
                            @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcProductRedemp_text1" }).Enable(false)
                            <span class="input-group-btn">
                                <a id="srcProductRedemp" href="@Url.Action("SearchTrxProductRedemp", "Global")" data-toggle="modal" data-target="#ProductRedempModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                            </span>
                            @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcProductRedemp_text2" }).Enable(false)
                            @Html.Kendo().TextBoxFor(model => model.TransaksiProduct.ProdId).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ProdIdRedemp", @type = "hidden" })
                            @Html.Kendo().TextBoxFor(model => model.TransaksiProduct.ProdCCY).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ProdCCYRedemp", @type = "hidden" })
                        </div>
                    </div>
                    <!-- End Kode Product -->
                    <!-- Begin Client Code -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Client Code</label>
                            <div class="input-group">
                                @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcClientRedemp_text1" }).Enable(false)
                                <span class="input-group-btn">
                                    <a id="srcClientRedemp" href="@Url.Action("SearchTrxClientRedemp", "Global")" data-toggle="modal" data-target="#ClientRedempModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                                </span>
                                @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcClientRedemp_text2" }).Enable(false)
                                @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientId).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ClientIdRedemp",  @type = "hidden" })
                            </div>
                        </div>
                    <!-- End Client Code -->
                    <!-- Begin OutStanding Unit -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">OutStanding Unit</label>
                            <div class="input-group col-md-8">
                                <input id="OutstandingUnitRedemp" type="text" placeholder="" class="form-control input-sm autonumber" data-a-sep="." data-a-dec="," style="width: 30%;">
                            </div>
                        </div>
                    <!-- End OutStanding Unit -->
                    <!-- Begin Jumlah Unit -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Jumlah Unit</label>
                        <div class="input-group col-md-8">
                            <input id="RedempUnit" type="text" placeholder="" class="form-control input-sm autonumber" data-a-sep="." data-a-dec="," style = "width: 30%;">
                        </div>
                    </div>
                    <!-- End Jumlah Unit -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        @(Html.Kendo().CheckBox().Name("checkPhoneOrderRedemp").Label("Transaksi melalui Telepon").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Enable(false))
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="input-group">
                            <div class="checkbox checkbox-custom checkbox-circle">
                                @Html.Kendo().CheckBox().Name("checkAll").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Label("All").Enable(false)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Redemption Fee</label>
                        <div class="input-group">
                            <div class="checkbox checkbox-custom checkbox-circle">
                                @Html.Kendo().CheckBox().Name("checkFeeEditRedemp").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Label("Fee Edit").Enable(false)
                            </div>
                            <div class="input-group">
                                @(Html.Kendo().DropDownList().Name("_ComboJenisRedemp")
                                        .BindTo(new List<SelectListItem>() {
                                                            new SelectListItem() {
                                                            Text = "By Nominal",
                                                            Value = "0"
                                                            },
                                                            new SelectListItem() {
                                                            Text = "By %",
                                                            Value = "1"
                                                            }
                                        })
                                        .DataTextField("Text")
                                        .DataValueField("Value"))
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("MoneyFeeRedemp").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;padding - top:200%;" }).Enable(false)
                            <span class="input-group-btn"></span>
                            <label id="labelFeeCurrencyRedemp" class="col-sm-3 control-label">CURR</label>
                            <span class="input-group-btn"></span>
                            @Html.Kendo().TextBox().Name("PercentageFeeRedemp").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:50px" }).Enable(false)
                            <span class="input-group-btn"></span>
                            <label id="_KeteranganFeeRedemp" class="col-sm-3 control-label">%</label>
                        </div>
                    </div>
                    <!-- Begin Button -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="input-group">
                                <button id ="btnAddRedemp" class="btn btn-default waves-effect waves-light">
                                    <span class="btn-label">
                                        <i class="fa fa-plus"></i>
                                    </span>
                                    Add
                                </button>
                                <button id ="btnEditRedemp" class="btn btn-info waves-effect waves-light">
                                    <span class="btn-label">
                                        <i class="fa fa-edit"></i>
                                    </span>
                                    Edit
                                </button>
                            </div>
                        </div>
                    <!-- End Button -->
                </div>
            </div>
            <div class="col-md-12" style="padding-bottom:5%">
                @(Html.Kendo().Grid(Model.ListRedemption)
                        .Name("dataGridViewRedemp")
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.NoTrx).Width(100).Title("No Transaksi");
                            columns.Bound(p => p.StatusTransaksi).Width(150).Title("Status");
                            columns.Bound(p => p.KodeProduk).Width(150).Title("Kode Produk");
                            columns.Bound(p => p.NamaProduk).Width(150).Title("Nama Produk");
                            columns.Bound(p => p.ClientCode).Width(150).Title("Client Code");
                            columns.Bound(p => p.OutstandingUnit).Width(150).Title("Outstanding Unit");
                            columns.Bound(p => p.RedempUnit).Width(150).Title("Redemp Unit");
                            columns.Bound(p => p.IsRedempAll).Width(150).Title("RedempAll");
                            columns.Bound(p => p.EditFeeBy).Width(150).Title("Edit Fee By");
                            columns.Bound(p => p.NominalFee).Width(150).Title("NominalFee");
                            columns.Bound(p => p.PhoneOrder).Width(150).Title("PhoneOrder");
                            columns.Bound(p => p.PctFee).Width(150).Title("PctFee");
                        })
                        .Pageable()
                        .Scrollable(s => s.Height(250))
                        .Selectable(selectable => selectable
                        .Mode(GridSelectionMode.Single))
                        .Events(events => events.Change("onRowViewRedempSelect"))
                )

            </div>
            <div class="col-md-12">
                <div class="col-md-8">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Inputter</label>
                            <div class="input-group">
                                @Html.Kendo().TextBox().Name("txtbInputterRedemp").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="input-group">
                                <button id ="btnDokumenRedemp" class="btn btn-default waves-effect waves-light">
                                    <span class="btn-label">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    Cek Dokumen
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Seller</label>
                            <div class="input-group">
                                @Html.Kendo().TextBoxFor(model => model.ReferentorModel.EMPLID).HtmlAttributes(new { @id = "srcSellerRedemp_text1", @class = "form-control input-sm" }).Enable(false)
                                <span class="input-group-btn">
                                    <a id="srcSellerRedemp" href="@Url.Action("SearchSellerRedemp", "Global")" data-toggle="modal" data-target="#SellerRedempModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                                </span>
                                @Html.Kendo().TextBoxFor(model => model.ReferentorModel.NAME).HtmlAttributes(new { @id = "srcSellerRedemp_text2", @class = "form-control input-sm" }).Enable(false)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Kode WAPERD</label>
                            <div class="input-group">
                                @Html.Kendo().TextBoxFor(model => model.WaperdModel.WaperdNo).HtmlAttributes(new { @id = "srcWaperdRedemp_text1", @class = "form-control input-sm" }).Enable(false)
                                <span class="input-group-btn">
                                    <a id="srcWaperdRedemp" href="@Url.Action("SearchWaperdRedemp", "Global")" data-toggle="modal" data-target="#WaperdRedempModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                                </span>
                                @Html.Kendo().TextBoxFor(model => model.WaperdModel.WaperdNo).HtmlAttributes(new { @id = "srcWaperdRedemp_text2", @class = "form-control input-sm" }).Enable(false)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tgl Expire</label>
                            <div class="input-group">
                                @Html.Kendo().TextBox().Name("textExpireWaperdRedemp").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">NIK Referrantor</label>
                            <div class="input-group">
                                @Html.Kendo().TextBoxFor(model => model.ReferentorModel.EMPLID).HtmlAttributes(new { @id = "srcReferentorRedemp_text1", @class = "form-control input-sm" }).Enable(false)
                                <span class="input-group-btn">
                                    <a id="srcReferentorRedemp" href="@Url.Action("SearchReferentorRedemp", "Global")" data-toggle="modal" data-target="#NIKRefRedempModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                                </span>
                                @Html.Kendo().TextBoxFor(model => model.ReferentorModel.NAME).HtmlAttributes(new { @id = "srcReferentorRedemp_text2", @class = "form-control input-sm" }).Enable(false)
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Begin Modal -->
<div class="modal fade" id="ErrorRedempModal" tabindex="-1" role="dialog" aria-labelledby="ErrorRedempModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Daftar Error</h4>
            </div>
            <div class="modal-body">
                @(Html.Kendo().Grid<Reksa.Models.TransactionModel.ErrorList>()
                                                                .Name("GridErrorRedemp")
                                                                .Columns(columns =>
                                                                {
                                                                    columns.Bound(m => m.fieldName).Width(200).Title("FieldName");
                                                                    columns.Bound(m => m.description).Width(500).Title("Description");
                                                                })
                                                                .Pageable()
                                                                .Scrollable(s => s.Height(300))
                                                                .Selectable(selectable => selectable
                                                                    .Mode(GridSelectionMode.Single))
                )
            </div>
            <div class="modal-footer">
                <button type="submit" id="btnOKErrorRedemp" class="btn btn-info pull-left" data-dismiss="modal">
                    <span class="glyphicon glyphicon-ok"></span> OK
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="OfficeRedempModal" tabindex="-1" role="dialog" aria-labelledby="OfficeRedempModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="CustomerRedempModal" tabindex="-1" role="dialog" aria-labelledby="CustomerRedempModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ReferensiRedempModal" tabindex="-1" role="dialog" aria-labelledby="ReferensiRedempModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ProductRedempModal" tabindex="-1" role="dialog" aria-labelledby="ProductRedempModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ClientRedempModal" tabindex="-1" role="dialog" aria-labelledby="ClientRedempModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="CurrencyRedempModal" tabindex="-1" role="dialog" aria-labelledby="CurrencyRedempModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="SellerRedempModal" tabindex="-1" role="dialog" aria-labelledby="SellerRedempModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="WaperdRedempModal" tabindex="-1" role="dialog" aria-labelledby="WaperdRedempModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="NIKRefRedempModal" tabindex="-1" role="dialog" aria-labelledby="NIKRefRedempModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>


<!-- End Modal -->

<script>
    function onRowViewRedempSelect(e) {
        var data = this.dataItem(this.select());
        $("#textNoTransaksiRedemp").val(data.NoTrx);
        $("#srcProductRedemp_text1").val(data.KodeProduk);
        var dateTglTransaksiRedemp = new Date(data.TglTrx);
        $("#dateTglTransaksiRedemp").val(dateTglTransaksiRedemp.getDate() + '/' + (dateTglTransaksiRedemp.getMonth() + 1) + '/' + dateTglTransaksiRedemp.getFullYear());
        $("#srcClientRedemp_text1").val(data.ClientCode);
        $("#CurrCodeRedemp").val(data.CCY);
        $("#OutstandingUnitRedemp").val(data.OutstandingUnit);
        $("#RedempUnit").val(data.RedempUnit);
        if (data.OutstandingUnit == data.RedempUnit) {
            $('#checkAll').prop('checked', true);
        } else
        {
            $('#checkAll').prop('checked', false);
        }
        
        $('#checkFeeEditRedemp').prop('checked', data.EditFee);
        $('#checkPhoneOrderRedemp').prop('checked', data.PhoneOrder);
        
        var KodeProduk = data.KodeProduk;
        var ClientCode = data.ClientCode;
        var ProdId;

        $.ajax({
            type: 'GET',
            url: '/Global/ValidateProduct',
            data: { Col1: KodeProduk, Col2: '', Validate: 1 },
            success: function (data) {
                $("#srcProductRedemp_text2").val(data[0].ProdName);
                ProdId = data[0].ProdId;
                $.ajax({
                    type: 'GET',
                    url: '/Global/ValidateClient',
                    data: { Col1: ClientCode, Col2: '', Validate: 1, ProdId: ProdId },
                    success: function (data) {
                        $("#srcClientRedemp_text2").val(data[0].ClientName);
                    }
                });
            }
        });

        var dropdownlist = $("#_ComboJenisRedemp").data("kendoDropDownList");
        var intJenis = data.JenisFee;
        //By Nominal
        if (intJenis == 0) {
            dropdownlist.select(0);
            $("#MoneyFeeRedemp").val(data.NominalFee);
            $("#PercentageFeeRedemp").val(data.PctFee);
            //By %
        } else {
            dropdownlist.select(1);
            $("#MoneyFeeRedemp").val(data.PctFee);
            $("#PercentageFeeRedemp").val(data.NominalFee);
        }
    };


    function ValidatesrcProductRedemp_text1() {
        var ProductCode = $("#srcProductRedemp_text1").val();
        $.ajax({
            type: 'GET',
            url: '/Global/ValidateProduct',
            data: { Col1: ProductCode, Col2: '', Validate: 1 },
            success: function (data) {
                $("#srcProductRedemp_text2").val(data[0].ProdName);
                $("#ProdIdRedemp").val(data[0].ProdId);
            }
        });
    }
    function ValidateClientRedemp() {
        var ClientCode = $("#srcClientRedemp_text1").val();
        var ProdId = $("#ProdIdRedemp").val();
        $.ajax({
            type: 'GET',
            url: '/Global/ValidateClient',
            data: { Col1: ClientCode, Col2: '', Validate: 1, ProdId: ProdId },
            success: function (data) {
                $("#srcClientRedemp_text2").val(data[0].ClientName);
            }
        });
    }



</script>
