@model Reksa.ViewModels.TransaksiListViewModel

<div class="col-md-12">
    <div class="card-box">
        <div class="row">
            <div class="col-md-6">
                <!-- Begin Search Office -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Kode Kantor</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.OfficeModel.OfficeId).HtmlAttributes(new { @id = "srcOfficeRDB_text1", @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                        <span class="input-group-btn">
                            <a id="srcOfficeRDB" href="@Url.Action("SearchOffice", "Global")" data-toggle="modal" data-target="#OfficeRDBModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.OfficeModel.OfficeName).HtmlAttributes(new { @id = "srcOfficeRDB_text2", @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                    </div>
                </div>
                <!-- End Search Office -->
                <!-- Begin Search CIF -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">No CIF</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.CustomerModel.CIFNo).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcCIFRDB_text1" })
                        <span class="input-group-btn">
                            <a id="srcCIFRDB" href="@Url.Action("SearchCustomerRDB", "Global")" data-toggle="modal" data-target="#CustomerRDBModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.CustomerModel.CIFName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcCIFRDB_text2" }).Enable(false)
                    </div>
                </div>
                <!-- End Search CIF -->
                <!-- Begin Search RefID -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">No Referensi</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.ReferensiModel.RefID).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcNoRefRDB_text1" }).Enable(false)
                        <span class="input-group-btn">
                            <a id="srcNorefRDB" href="@Url.Action("SearchReferensiRDB", "Global", new { criteria = "SUBSRDB" })" data-toggle="modal" data-target="#ReferensiRDBModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.ReferensiModel.RefID).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcNoRefRDB_text2" }).Format("{0:dd MMMM yyyy}").Enable(false)
                    </div>
                </div>
                <!-- End Search RefID -->
            </div>
            <div class="col-md-6">
                <div class="card-box">
                    <div class="row">
                        <!-- Begin Jenis Risk Profile -->
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Jenis Risk Profile</label>
                                <div class="input-group">
                                    @Html.Kendo().TextBox().Name("txtbRiskProfileRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 100%;" }).Enable(false)
                                </div>
                            </div>
                        <!-- End Jenis Risk Profile -->
                        <!-- Begin Last Update Risk Profile -->
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Last Update Risk Profile</label>
                                <div class="input-group">
                                    @(Html.Kendo().DatePicker().Name("dtpRiskProfileRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false))
                                </div>
                            </div>
                        <!-- End Last Update Risk Profile -->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Begin Input SID -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">SID</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("textSIDRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Umur</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("txtUmurRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 80px;" }).Enable(false)

                        <label>&nbsp;&nbsp;&nbsp;Tahun</label>
                    </div>
                </div>
                <!-- End Input SID -->
                <!-- Begin Input Shareholder ID -->
                <div class="form-group" hidden="hidden">
                    <label class="col-sm-3 control-label">Shareholder ID</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("textShareHolderIdRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                    </div>
                </div>
                <!-- End Input Shareholder ID -->
            </div>
            <div class="col-md-6">
                <!-- Begin Input Rekening IDR -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Rekening IDR</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("maskedRekeningRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;" }).Enable(false)
                            <span class="input-group-btn"></span>
                            @Html.Kendo().TextBox().Name("textNamaRekeningRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 240px;" }).Enable(false)
                        </div>
                    </div>
                <!-- End Input Rekening IDR -->
                <!-- Begin Input Rekening USD -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Rekening USD</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("maskedRekeningRDBUSD").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;" }).Enable(false)
                            <span class="input-group-btn"></span>
                            @Html.Kendo().TextBox().Name("textNamaRekeningRDBUSD").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 240px;" }).Enable(false)
                        </div>
                    </div>
                <!-- End Input Rekening USD -->
                <!-- Begin Input Rekening -->
                    <div class="form-group" hidden="hidden">
                        <label class="col-sm-3 control-label">Rekening</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("maskedRekeningRDBMC").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;" }).Enable(false)
                            <span class="input-group-btn"></span>
                            @Html.Kendo().TextBox().Name("textNamaRekeningRDBMC").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 240px;" }).Enable(false)
                        </div>
                    </div>
                <!-- End Input Rekening -->
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card-box">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <!-- Begin No Transaksi -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">No Transaksi</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("textNoTransaksiRDB").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:200px" }).Enable(false)
                        </div>
                    </div>
                    <!-- End No Transaksi -->
                    <!-- Begin Tgl Transaksi -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Tgl Transaksi</label>
                        <div class="input-group">
                            @(Html.Kendo().DatePicker().Name("dateTglTransaksiRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;" }).Enable(false))
                        </div>
                    </div>
                    <!-- End Tgl Transaksi -->
                    <!-- Begin Kode Product -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Kode Produk</label>
                        <div class="input-group">
                            @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcProductRDB_text1" }).Enable(false)
                            <span class="input-group-btn">
                                <a id="srcProductRDB" href="@Url.Action("SearchTrxProductRDB", "Global")" data-toggle="modal" data-target="#ProductRDBModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                            </span>
                            @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcProductRDB_text2" }).Enable(false)
                            @Html.Kendo().TextBoxFor(model => model.TransaksiProduct.ProdId).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ProdIdRDB", @type = "hidden" })
                            @Html.Kendo().TextBoxFor(model => model.TransaksiProduct.ProdCCY).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ProdCCYRDB", @type = "hidden" })
                        </div>
                    </div>
                    <!-- End Kode Product -->
                    <!-- Begin Client Code -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Client Code</label>
                        <div class="input-group">
                            @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcClientRDB_text1" }).Enable(false)
                            <span class="input-group-btn">
                                <a id="srcClientRDB"href="@Url.Action("SearchClient", "Global")" data-toggle="modal" data-target="#ClientRDBModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                            </span>
                            @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcClientRDB_text2" }).Enable(false)
                        </div>
                    </div>
                    <!-- End Client Code -->
                    <!-- Begin Nominal -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Nominal</label>
                        <div class="input-group col-md-8">
                            @Html.Kendo().TextBoxFor(model => model.CurrencyModel.CurrencyCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcCurrencyRDB_text1" }).Enable(false)
                            <span class="input-group-btn">
                                <a id="srcCurrenyRDB" href="@Url.Action("SearchCurrency", "Global")" data-toggle="modal" data-target="#CurrencySubsModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                            </span>
                            @Html.Kendo().TextBoxFor(model => model.CurrencyModel.CurrencyName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcCurrencyRDB_text2" }).Enable(false)
                            <span class="input-group-btn"></span>
                            @Html.Kendo().TextBox().Name("MoneyNomRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                        </div>
                    </div>
                    <!-- End Nominal -->
                    <!-- Begin Button -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="input-group">
                            <button id ="btnAddRDB"class="btn btn-default waves-effect waves-light">
                                <span class="btn-label">
                                    <i class="fa fa-plus"></i>
                                </span>
                                Add
                            </button>
                            <button id="btnEditRDB"class="btn btn-info waves-effect waves-light">
                                <span class="btn-label">
                                    <i class="fa fa-edit"></i>
                                </span>
                                Edit
                            </button>
                        </div>
                    </div>
                    <!-- End Button -->
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-custom checkbox-circle">
                            @(Html.Kendo().CheckBox().Name("checkPhoneOrderRDB").Label("Transaksi melalui Telepon").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Enable(false))
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label class="col-sm-7 control-label">Jangka Waktu</label>
                            @Html.Kendo().TextBox().Name("JangkaWktRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 40px;" }).Enable(false)
                            <label>&nbsp;&nbsp;&nbsp;Bulan</label>
                        </div>
                        <div class="col-md-6">
                            <label class="col-sm-6 control-label">Auto Redemp</label>
                            @(Html.Kendo().DropDownList().Name("cmbAutoRedempRDB").BindTo(new List<SelectListItem>() { new SelectListItem() { Text = "Tidak", Value = "0" }, new SelectListItem() { Text = "Ya", Value = "1" } }).DataTextField("Text").DataValueField("Value").HtmlAttributes(new { @style = "width: 90px;" }))
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-top:20px">
                        <div class="col-md-6">
                            <label class="col-sm-7 control-label">Jatuh Tempo</label>
                            @(Html.Kendo().DatePicker().Name("dtJatuhTempoRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 90px;" }).Enable(false))
                        </div>
                        <div class="col-md-6">
                            <label class="col-sm-6 control-label">Asuransi</label>
                            @(Html.Kendo().DropDownList().Name("cmbAsuransiRDB").BindTo(new List<SelectListItem>() { new SelectListItem() { Text = "Tidak", Value = "0" }, new SelectListItem() { Text = "Ya", Value = "1" } }).DataTextField("Text").DataValueField("Value").HtmlAttributes(new { @style = "width: 90px;" }))
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-top:20px">
                            <label class="col-sm-4 control-label">Frek Pendebetan</label>
                            @(Html.Kendo().DropDownList().Name("cmbFrekPendebetanRDB").HtmlAttributes(new { @style = "width: 70px;" }))
                            <label>&nbsp;&nbsp;&nbsp;Bulan</label>
                    </div>
                    <label class="col-sm-4 control-label" style="padding-top:20px">RDB Fee</label>
                        <div class="col-md-12">
                            <div class="card-box">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-5">
                                            <div class="checkbox checkbox-custom checkbox-circle">
                                                @Html.Kendo().CheckBox().Name("checkFeeEditRDB").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Label("Fee Edit").Enable(false)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-5">
                                            @(Html.Kendo().DropDownList().Name("_ComboJenisRDB").BindTo(new List<SelectListItem>() { new SelectListItem() { Text = "By Nominal", Value = "0" }, new SelectListItem() { Text = "By %", Value = "1" } }).DataTextField("Text").DataValueField("Value"))
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Kendo().TextBox().Name("MoneyFeeRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;padding - top:200%;" }).Enable(false)
                                                <span class="input-group-btn"></span>
                                                <label id="labelFeeCurrencyRDB" class="col-sm-3 control-label">CURR</label>
                                                <span class="input-group-btn"></span>
                                                @Html.Kendo().TextBox().Name("PercentageFeeRDB").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:50px" }).Enable(false)
                                                <span class="input-group-btn"></span>
                                                <label id="_KeteranganFeeRDB" class="col-sm-3 control-label">%</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-md-12" style="padding-bottom:5%">
                @(Html.Kendo().Grid(Model.ListSubsRDB)
                                .Name("dataGridViewRDB")
                                .Columns(columns =>
                                {
                                    columns.Bound(p => p.NoTrx).Width(100).Title("No Transaksi");
                                    columns.Bound(p => p.StatusTransaksi).Width(150).Title("Status");
                                    columns.Bound(p => p.KodeProduk).Width(150).Title("Kode Produk");
                                    columns.Bound(p => p.NamaProduk).Width(150).Title("Nama Produk");
                                    columns.Bound(p => p.ClientCode).Width(150).Title("Client Code");
                                    columns.Bound(p => p.EditFeeBy).Width(150).Title("Edit Fee By");
                                    columns.Bound(p => p.NominalFee).Width(150).Title("NominalFee");
                                    columns.Bound(p => p.PhoneOrder).Width(150).Title("PhoneOrder");
                                    columns.Bound(p => p.PctFee).Width(150).Title("PctFee");
                                })
                                .Pageable()
                                .Scrollable(s => s.Height(250))
                                .Selectable(selectable => selectable
                                .Mode(GridSelectionMode.Single))
                                .Events(events => events.Change("onRowViewRDBSelect"))
                )

            </div>
            <div class="col-md-12">
                <div class="col-md-8">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Inputter</label>
                            <div class="input-group">
                                @Html.Kendo().TextBox().Name("txtbInputterRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="input-group">
                                <button id="btnDokumenRDB" href="@Url.Action("Document", "Global" ) " data-toggle="modal" data-target="#DocumentModalRDB" class="btn btn-default waves-effect waves-light">
                                    <span class="btn-label">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    Cek Dokumen
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Seller</label>
                            <div class="input-group">
                                @Html.Kendo().TextBoxFor(model => model.ReferentorModel.EMPLID).HtmlAttributes(new {@id = "srcSellerRDB_text1", @class = "form-control input-sm" }).Enable(false)
                                <span class="input-group-btn">
                                    <a id="srcSellerRDB" href="@Url.Action("SearchSellerRDB", "Global")" data-toggle="modal" data-target="#SellerRDBModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                                </span>
                                @Html.Kendo().TextBoxFor(model => model.ReferentorModel.NAME).HtmlAttributes(new { @id = "srcSellerRDB_text2", @class = "form-control input-sm" }).Enable(false)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Kode WAPERD</label>
                            <div class="input-group">
                                @Html.Kendo().TextBoxFor(model => model.WaperdModel.WaperdNo).HtmlAttributes(new { @id = "srcWaperdRDB_text1", @class = "form-control input-sm" }).Enable(false)
                                <span class="input-group-btn">
                                    <a id="srcWaperdRDB" href="@Url.Action("SearchWaperd", "Global")" data-toggle="modal" data-target="#WaperdRDBModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                                </span>
                                @Html.Kendo().TextBoxFor(model => model.WaperdModel.WaperdNo).HtmlAttributes(new { @id = "srcWaperdRDB_text2", @class = "form-control input-sm" }).Enable(false)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tgl Expire</label>
                            <div class="input-group">
                                @Html.Kendo().TextBox().Name("textExpireWaperdRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">NIK Referrantor</label>
                            <div class="input-group">
                                @Html.Kendo().TextBoxFor(model => model.ReferentorModel.EMPLID).HtmlAttributes(new { @id = "srcReferentorRDB_text1", @class = "form-control input-sm" }).Enable(false)
                                <span class="input-group-btn">
                                    <a id="srcReferentorRDB" href="@Url.Action("SearchReferentorRDB", "Global")" data-toggle="modal" data-target="#NIKRefRDBModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                                </span>
                                @Html.Kendo().TextBoxFor(model => model.ReferentorModel.NAME).HtmlAttributes(new { @id = "srcReferentorRDB_text2", @class = "form-control input-sm" }).Enable(false)
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Begin Modal -->
<div class="modal fade" id="ErrorRDBModal" tabindex="-1" role="dialog" aria-labelledby="ErrorRDBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Daftar Error</h4>
            </div>
            <div class="modal-body">
                @(Html.Kendo().Grid<Reksa.Models.TransactionModel.ErrorList>()
                .Name("GridErrorRDB")
                .Columns(columns =>
                {
                    columns.Bound(m => m.fieldName).Width(200).Title("FieldName");
                    columns.Bound(m => m.description).Width(500).Title("Description");
                })
                .Pageable()
                .Scrollable(s => s.Height(300))
                .Selectable(selectable => selectable
                    .Mode(GridSelectionMode.Single))
                )
            </div>
            <div class="modal-footer">
                <button type="submit" id="btnOKErrorRDB" class="btn btn-info pull-left" data-dismiss="modal">
                    <span class="glyphicon glyphicon-ok"></span> OK
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="OfficeRDBModal" tabindex="-1" role="dialog" aria-labelledby="OfficeRDBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="CustomerRDBModal" tabindex="-1" role="dialog" aria-labelledby="CustomerRDBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ReferensiRDBModal" tabindex="-1" role="dialog" aria-labelledby="ReferensiRDBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ProductRDBModal" tabindex="-1" role="dialog" aria-labelledby="ProductRDBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ClientRDBModal" tabindex="-1" role="dialog" aria-labelledby="ClientRDBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="CurrencyRDBModal" tabindex="-1" role="dialog" aria-labelledby="CurrencyRDBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="SellerRDBModal" tabindex="-1" role="dialog" aria-labelledby="SellerRDBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="WaperdRDBModal" tabindex="-1" role="dialog" aria-labelledby="WaperdRDBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="NIKRefRDBModal" tabindex="-1" role="dialog" aria-labelledby="NIKRefRDBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade" id="DocumentModalRDB" tabindex="-1" role="dialog" aria-labelledby="DocumentModalRDBLabel">
    <div class="modal-dialog" style="width:75%;">
        <div class="modal-content"></div>
    </div>
</div>

<!-- End Modal -->

<script>
    function onRowViewRDBSelect(e) {
        var data = this.dataItem(this.select());
        $("#textNoTransaksiRDB").val(data.NoTrx);
        $("#srcProductRDB_text1").val(data.KodeProduk);
        var DateTrx = new Date(data.TglTrx);
        $("#dateTglTransaksiRDB").val(DateTrx.getDate() + '/' + (DateTrx.getMonth() + 1) + '/' + DateTrx.getFullYear());
        $("#srcClientRDB_text1").val(data.ClientCode);
        $('#checkFeeEditRDB').prop('checked', data.EditFee);
        $('#checkPhoneOrderRDB').prop('checked', data.PhoneOrder);
        $("#srcCurrencyRDB_text1").val(data.CCY);
        ValidateCurrCodeRDB();
        $("#MoneyNomRDB").val(data.Nominal);
        $("#JangkaWktRDB").val(data.JangkaWaktu);
        var dtJatuhTempoRDB = new Date(data.JatuhTempo);
        $("#dtJatuhTempoRDB").val(dtJatuhTempoRDB.getDate() + '/' + (dtJatuhTempoRDB.getMonth() + 1) + '/' + dtJatuhTempoRDB.getFullYear());

        $("#currFeeRDB").text(data.CCY);
        $("#txtbInputterRDB").val(data.Inputter);
        
        

        var KodeProduk = data.KodeProduk;
        var ClientCode = data.ClientCode;
        var ProdId;

        $.ajax({
            type: 'GET',
            url: '/Global/ValidateProduct',
            data: { Col1: KodeProduk, Col2: '', Validate: 1 },
            success: function (data) {
                $("#srcProductRDB_text2").val(data[0].ProdName);
                ProdId = data[0].ProdId;
                $.ajax({
                    type: 'GET',
                    url: '/Global/ValidateClient',
                    data: { Col1: ClientCode, Col2: '', Validate: 1, ProdId: ProdId },
                    success: function (data) {
                        $("#srcClientRDB_text2").val(data[0].ClientName);
                    }
                });
            }
        });

        var dropdownlist = $("#_ComboJenisRDB").data("kendoDropDownList");
        var intJenis = data.JenisFee;
        //By Nominal
        if (intJenis == 0) {
            dropdownlist.select(0);
            $("#MoneyFeeRDB").val(data.NominalFee);
            $("#PercentageFeeRDB").val(data.PctFee);
            //By %
        } else {
            dropdownlist.select(1);
            $("#MoneyFeeRDB").val(data.PctFee);
            $("#PercentageFeeRDB").val(data.NominalFee);
        }
    };


    function ValidateProdCodeRDB() {
        var ProductCode = $("#srcProductRDB_text1").val();
        $.ajax({
            type: 'GET',
            url: '/Global/ValidateProduct',
            data: { Col1: ProductCode, Col2: '', Validate: 1 },
            success: function (data) {
                $("#srcProductRDB_text2").val(data[0].ProdName);
                $("#ProdIdRDB").val(data[0].ProdId);
            }
        });
    }
    function ValidateClientRDB() {
        var ClientCode = $("#srcClientRDB_text1").val();
        var ProdId = $("#ProdIdRDB").val();
        $.ajax({
            type: 'GET',
            url: '/Global/ValidateClient',
            data: { Col1: ClientCode, Col2: '', Validate: 1, ProdId: ProdId },
            success: function (data) {
                $("#srcClientRDB_text2").val(data[0].ClientName);
            }
        });
    }

    function ValidateCurrCodeRDB() {
        var CurrCode = $("#srcCurrencyRDB_text1").val();
        $.ajax({
            type: 'GET',
            url: '/Global/ValidateCurrency',
            data: { Col1: CurrCode, Col2: '', Validate: 1 },
            success: function (data) {
                $("#srcCurrencyRDB_text2").val(data[0].CurrencyName);
            }
        });
    }



</script>
