@model Reksa.ViewModels.TransaksiListViewModel

<div class="col-md-12">
    <div class="card-box">
        <div class="row">
            <div class="col-md-6">
                <!-- Begin Search Office -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Kode Kantor</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.OfficeModel.OfficeId).HtmlAttributes(new { @id = "srcOfficeRDB_text1", @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                        <span class="input-group-btn">
                            <a id="srcOfficeRDB" href="@Url.Action("SearchOffice", "Global")" data-toggle="modal" data-target="#OfficeRDBModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.OfficeModel.OfficeName).HtmlAttributes(new { @id = "srcOfficeRDB_text2", @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                    </div>
                </div>
                <!-- End Search Office -->
                <!-- Begin Search CIF -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">No CIF</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.CustomerModel.CIFNo).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcCIFRDB_text1" })
                        <span class="input-group-btn">
                            <a id="srcCIFRDB" href="#display" data-toggle="modal" data-target="#CustomerModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.CustomerModel.CIFName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcCIFRDB_text2" }).Enable(false)
                    </div>
                </div>
                <!-- End Search CIF -->
                <!-- Begin Search RefID -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">No Referensi</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.ReferensiModel.RefID).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcNoRefRDB_text1" }).Enable(false)
                        <span class="input-group-btn">
                            <a id="srcNoRefRDB" href="#display" data-toggle="modal" data-target="#NoRefModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.ReferensiModel.RefID).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcNoRefRDB_text2" }).Format("{0:dd MMMM yyyy}").Enable(false)
                    </div>
                </div>
                <!-- End Search RefID -->
            </div>
            <div class="col-md-6">
                <div class="card-box">
                    <div class="row">
                        <!-- Begin Jenis Risk Profile -->
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Jenis Risk Profile</label>
                                <div class="input-group">
                                    @Html.Kendo().TextBox().Name("txtbRiskProfileRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 100%;" }).Enable(false)
                                </div>
                            </div>
                        <!-- End Jenis Risk Profile -->
                        <!-- Begin Last Update Risk Profile -->
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Last Update Risk Profile</label>
                                <div class="input-group">
                                    @(Html.Kendo().DatePicker().Name("dtpRiskProfileRDB").HtmlAttributes(new { style = "width: 200px;" }).Enable(false))
                                </div>
                            </div>
                        <!-- End Last Update Risk Profile -->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Begin Input SID -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">SID</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("textSIDRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Umur</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("txtUmurRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 80px;" }).Enable(false)

                        <label>&nbsp;&nbsp;&nbsp;Tahun</label>
                    </div>
                </div>
                <!-- End Input SID -->
                <!-- Begin Input Shareholder ID -->
                <div class="form-group" hidden="hidden">
                    <label class="col-sm-3 control-label">Shareholder ID</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("textShareHolderIdRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                    </div>
                </div>
                <!-- End Input Shareholder ID -->
            </div>
            <div class="col-md-6">
                <!-- Begin Input Rekening IDR -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Rekening IDR</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("maskedRekeningRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;" }).Enable(false)
                            <span class="input-group-btn"></span>
                            @Html.Kendo().TextBox().Name("textNamaRekeningRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 240px;" }).Enable(false)
                        </div>
                    </div>
                <!-- End Input Rekening IDR -->
                <!-- Begin Input Rekening USD -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Rekening USD</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("maskedRekeningRDBUSD").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;" }).Enable(false)
                            <span class="input-group-btn"></span>
                            @Html.Kendo().TextBox().Name("textNamaRekeningRDBUSD").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 240px;" }).Enable(false)
                        </div>
                    </div>
                <!-- End Input Rekening USD -->
                <!-- Begin Input Rekening -->
                    <div class="form-group" hidden="hidden">
                        <label class="col-sm-3 control-label">Rekening</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("maskedRekeningRDBMC").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;" }).Enable(false)
                            <span class="input-group-btn"></span>
                            @Html.Kendo().TextBox().Name("textNamaRekeningRDBMC").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 240px;" }).Enable(false)
                        </div>
                    </div>
                <!-- End Input Rekening -->
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card-box">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <!-- Begin No Transaksi -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">No Transaksi</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("textNoTransaksiRDB").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:200px" }).Enable(false)
                        </div>
                    </div>
                    <!-- End No Transaksi -->
                    <!-- Begin Tgl Transaksi -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Tgl Transaksi</label>
                        <div class="input-group">
                            @(Html.Kendo().DatePicker().Name("dateTglTransaksiRDB").HtmlAttributes(new { style = "width: 150px;" }).Enable(false))
                        </div>
                    </div>
                    <!-- End Tgl Transaksi -->
                    <!-- Begin Kode Product -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Kode Produk</label>
                        <div class="input-group col-md-9">
                            @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcProductRDB_text1" }).Enable(false)
                            <span class="input-group-btn">
                                <a id="srcProductRDB" href="#display" data-toggle="modal" data-target="#ProductModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                            </span>
                            @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 280px;", @id = "srcProductRDB_text2" }).Enable(false)
                            @Html.Kendo().TextBoxFor(model => model.TransaksiProduct.ProdId).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ProdIdRDB", @type = "hidden" })
                            @Html.Kendo().TextBoxFor(model => model.TransaksiProduct.ProdCCY).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ProdCCYRDB", @type = "hidden" })
                        </div>
                    </div>
                    <!-- End Kode Product -->
                    <!-- Begin Client Code -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Client Code</label>
                        <div class="input-group col-md-9">
                            @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcClientRDB_text1" }).Enable(false)
                            <span class="input-group-btn">
                                <a id="srcClientRDB" href="#display" data-toggle="modal" data-target="#ClientModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                            </span>
                            @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 250px;", @id = "srcClientRDB_text2" }).Enable(false)
                        </div>
                    </div>
                    <!-- End Client Code -->
                    <!-- Begin Nominal -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Currency</label>
                        <div class="input-group col-md-8">
                            @Html.Kendo().TextBoxFor(model => model.CurrencyModel.CurrencyCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcCurrencyRDB_text1" }).Enable(false)
                            <span class="input-group-btn">
                                <a id="srcCurrenyRDB" href="#display" data-toggle="modal" data-target="#CurrencyModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                            </span>
                            @Html.Kendo().TextBoxFor(model => model.CurrencyModel.CurrencyName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 250px;", @id = "srcCurrencyRDB_text2" }).Enable(false)
                        </div>
                    </div>
                    <!-- End Nominal -->
                    <!-- Begin Nominal -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Nominal</label>
                        <div class="input-group col-md-8">
                            @Html.Kendo().NumericTextBox().Name("MoneyNomRDB").HtmlAttributes(new { style = "width: 220px;" }).Enable(false).Min(0).Events(e => { e.Change("onChangeMoneyNomRDB").Spin("onSpinMoneyNomRDB"); })
                        </div>
                    </div>
                    <!-- End Nominal -->
                    <!-- Begin Button -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="input-group">
                            <button id="btnAddRDB" class="btn btn-default waves-effect waves-light" style="margin-right:10px">
                                <span class="btn-label">
                                    <i class="fa fa-plus"></i>
                                </span>
                                Add
                            </button>
                            <button id="btnEditRDB" class="btn btn-info waves-effect waves-light" style="margin-right:10px">
                                <span class="btn-label">
                                    <i class="fa fa-edit"></i>
                                </span>
                                Edit
                            </button>
                        </div>
                    </div>
                    <!-- End Button -->
                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Jangka Waktu</label>
                            <div class="input-group">
                                @Html.Kendo().NumericTextBox().Name("JangkaWktRDB").HtmlAttributes(new { style = "width: 60px;" }).Enable(false).Min(0).Events(e => { e.Change("onChangeJangkaWktRDB").Spin("onSpinJangkaWktRDB"); }).Format("{0:n0}")
                                <label>&nbsp;&nbsp;&nbsp;Bulan</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Auto Redemp</label>
                            <div class="input-group">
                                @(Html.Kendo().DropDownList().Name("cmbAutoRedempRDB").BindTo(new List<SelectListItem>() { new SelectListItem() { Text = "Tidak", Value = "0" }, new SelectListItem() { Text = "Ya", Value = "1" } }).DataTextField("Text").DataValueField("Value").HtmlAttributes(new { @style = "width: 85px;" }).Events(e => { e.Change("cmbAutoRedempRDB_Validating"); }))
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Asuransi</label>
                            <div class="input-group">
                                @(Html.Kendo().DropDownList().Name("cmbAsuransiRDB").BindTo(new List<SelectListItem>() { new SelectListItem() { Text = "Tidak", Value = "0" }, new SelectListItem() { Text = "Ya", Value = "1" } }).DataTextField("Text").DataValueField("Value").HtmlAttributes(new { @style = "width: 85px;" }))
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Jatuh Tempo</label>
                            <div class="input-group">
                                @(Html.Kendo().DatePicker().Name("dtJatuhTempoRDB").HtmlAttributes(new { style = "width: 120px;" }).Enable(false))
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Frek Pendebetan</label>
                            <div class="input-group">
                                @(Html.Kendo().DropDownList().Name("cmbFrekPendebetanRDB").HtmlAttributes(new { @style = "width: 70px;" }))
                                <label>&nbsp;&nbsp;&nbsp;Bulan</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label"></label>
                            <div class="input-group">
                                <div class="checkbox checkbox-custom checkbox-circle">
                                    @(Html.Kendo().CheckBox().Name("checkPhoneOrderRDB").Label("Transaksi melalui Telepon").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Enable(false))
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="col-md-12">
                            <div class="portlet">
                                <div class="portlet-heading bg-custom">RDB Fee</div>
                                <div class="portlet-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="col-md-1"></label>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="checkbox checkbox-custom checkbox-circle">
                                                        @Html.Kendo().CheckBox().Name("checkFeeEditRDB").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Label("Fee Edit").Enable(false)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="col-md-1"></label>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    @(Html.Kendo().DropDownList().Name("_ComboJenisRDB").HtmlAttributes(new { @style = "width:130px" }).BindTo(new List<SelectListItem>() { new SelectListItem() { Text = "By Nominal", Value = "0" }, new SelectListItem() { Text = "By %", Value = "1" } }).DataTextField("Text").DataValueField("Value").Events(e => { e.Change("_ComboJenisRDB_SelectedIndexChanged").DataBound("onBound_ComboJenisRDB"); }))
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="col-md-1"></label>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    @Html.Kendo().NumericTextBox().Name("MoneyFeeRDB").HtmlAttributes(new { style = "width: 160px; margin-right:10px;" }).Enable(false).Min(0).Events(e => { e.Change("onChangeMoneyFeeRDB").Spin("onSpinMoneyFeeRDB"); })
                                                    <span class="input-group-btn"></span>
                                                    <label id="labelFeeCurrencyRDB" style="margin-right:10px;">IDR</label>
                                                    <span class="input-group-btn"></span>
                                                    @Html.Kendo().NumericTextBox().Name("PercentageFeeRDB").HtmlAttributes(new { style = "width:160px;margin-right:10px;" }).Enable(false).Min(0)
                                                    <span class="input-group-btn"></span>
                                                    <label id="_KeteranganFeeRDB">%</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-md-12" style="padding-bottom:5%">
                @(Html.Kendo().Grid(Model.ListSubsRDB)
                                .Name("dataGridViewRDB")
                                .Columns(columns =>
                                {
                                    columns.Bound(p => p.NoTrx).Width(100).Title("No Transaksi");
                                    columns.Bound(p => p.StatusTransaksi).Width(150).Title("Status");
                                    columns.Bound(p => p.KodeProduk).Width(150).Title("Kode Produk");
                                    columns.Bound(p => p.NamaProduk).Width(150).Title("Nama Produk");
                                    columns.Bound(p => p.ClientCode).Width(150).Title("Client Code");
                                    columns.Bound(p => p.EditFeeBy).Width(150).Title("Edit Fee By");
                                    columns.Bound(p => p.NominalFee).Width(150).Title("NominalFee");
                                    columns.Bound(p => p.PhoneOrder).Width(150).Title("PhoneOrder");
                                    columns.Bound(p => p.PctFee).Width(150).Title("PctFee");
                                })
                                .Pageable()
                                .Scrollable(s => s.Height(250))
                                .Selectable(selectable => selectable
                                .Mode(GridSelectionMode.Single))
                                .Events(events => events.Change("dataGridViewRDB_CellClick"))
                )

            </div>
            <div class="col-md-12">
                <div class="col-md-8">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Inputter</label>
                            <div class="input-group">
                                @Html.Kendo().TextBox().Name("txtbInputterRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="input-group">
                                <button id="btnDokumenRDB" href="@Url.Action("Document", "Global" ) " data-toggle="modal" data-target="#DocumentModalRDB" class="btn btn-default waves-effect waves-light">
                                    <span class="btn-label">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    Cek Dokumen
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Seller</label>
                            <div class="input-group col-md-6">
                                @Html.Kendo().TextBoxFor(model => model.ReferentorModel.EMPLID).HtmlAttributes(new {@id = "srcSellerRDB_text1", @class = "form-control input-sm", style = "width:150%;" }).Enable(false)
                                <span class="input-group-btn">
                                    <a id="srcSellerRDB" href="#display" data-toggle="modal" data-target="#SellerModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                                </span>
                                @Html.Kendo().TextBoxFor(model => model.ReferentorModel.NAME).HtmlAttributes(new { @id = "srcSellerRDB_text2", @class = "form-control input-sm", style = "width:250px;" }).Enable(false)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Kode WAPERD</label>
                            <div class="input-group col-md-6">
                                @Html.Kendo().TextBoxFor(model => model.WaperdModel.WaperdNo).HtmlAttributes(new { @id = "srcWaperdRDB_text1", @class = "form-control input-sm", style = "width:150%;" }).Enable(false)
                                <span class="input-group-btn">
                                    <a id="srcWaperdRDB" href="#display" data-toggle="modal" data-target="#WaperdModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                                </span>
                                @Html.Kendo().TextBoxFor(model => model.WaperdModel.WaperdNo).HtmlAttributes(new { @id = "srcWaperdRDB_text2", @class = "form-control input-sm", style = "width:250px;" }).Enable(false)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tgl Expire</label>
                            <div class="input-group col-md-6">
                                @Html.Kendo().TextBox().Name("textExpireWaperdRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">NIK Referrantor</label>
                            <div class="input-group col-md-6">
                                @Html.Kendo().TextBoxFor(model => model.ReferentorModel.EMPLID).HtmlAttributes(new { @id = "srcReferentorRDB_text1", @class = "form-control input-sm", style = "width:150%;" }).Enable(false)
                                <span class="input-group-btn">
                                    <a id="srcReferentorRDB" href="#display" data-toggle="modal" data-target="#NIKRefModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                                </span>
                                @Html.Kendo().TextBoxFor(model => model.ReferentorModel.NAME).HtmlAttributes(new { @id = "srcReferentorRDB_text2", @class = "form-control input-sm", style = "width:250px;" }).Enable(false)
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Begin Modal -->
<div class="modal fade" id="ErrorRDBModal" tabindex="-1" role="dialog" aria-labelledby="ErrorRDBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Daftar Error</h4>
            </div>
            <div class="modal-body">
                @(Html.Kendo().Grid<Reksa.Models.TransactionModel.ErrorList>()
                .Name("GridErrorRDB")
                .Columns(columns =>
                {
                    columns.Bound(m => m.fieldName).Width(200).Title("FieldName");
                    columns.Bound(m => m.description).Width(500).Title("Description");
                })
                .Pageable()
                .Scrollable(s => s.Height(300))
                .Selectable(selectable => selectable
                    .Mode(GridSelectionMode.Single))
                )
            </div>
            <div class="modal-footer">
                <button type="submit" id="btnOKErrorRDB" class="btn btn-info pull-left" data-dismiss="modal">
                    <span class="glyphicon glyphicon-ok"></span> OK
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="OfficeRDBModal" tabindex="-1" role="dialog" aria-labelledby="OfficeRDBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="DocumentModalRDB" tabindex="-1" role="dialog" aria-labelledby="DocumentModalRDBLabel">
    <div class="modal-dialog" style="width:75%;">
        <div class="modal-content"></div>
    </div>
</div>
<!-- End Modal -->

