@model Reksa.ViewModels.TransaksiListViewModel

<div class="col-md-12">
    <div class="card-box">
        <div class="row">
            <div class="col-md-6">
                <!-- Begin Search Office -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Kode Kantor</label>
                        <div class="input-group">
                            @Html.Kendo().TextBoxFor(model => model.OfficeModel.OfficeId).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)

                            <span class="input-group-btn">
                                <a href="@Url.Action("SearchOffice", "Global")" data-toggle="modal" data-target="#OfficeSubsModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                            </span>
                            @Html.Kendo().TextBoxFor(model => model.OfficeModel.OfficeName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                        </div>
                    </div>
                <!-- End Search Office -->
                <!-- Begin Search CIF -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">No CIF</label>
                        <div class="input-group">
                            @Html.Kendo().TextBoxFor(model => model.CustomerModel.CIFNo).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "CIFNoSubs"})
                            
                            <span class="input-group-btn">
                                <a href="@Url.Action("SearchCustomerSubs", "Global")" data-toggle="modal" data-target="#CustomerSubsModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                            </span>
                            @Html.Kendo().TextBoxFor(model => model.CustomerModel.CIFName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "CIFNameSubs" })
                        </div>
                    </div>
                <!-- End Search CIF -->
                <!-- Begin Search RefID -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">No Referensi</label>
                        <div class="input-group">
                            @Html.Kendo().TextBoxFor(model => model.ReferensiModel.RefID).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "RefIDSubs" })

                            <span class="input-group-btn">
                                <a href="@Url.Action("SearchReferensiSubs", "Global", new { criteria = "SUBS" })" data-toggle="modal" data-target="#ReferensiSubsModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                            </span>
                            @Html.Kendo().TextBoxFor(model => model.ReferensiModel.RefID).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "RefNameSubs" })
                        </div>
                    </div>
                <!-- Begin Search RefID -->
                <!-- Begin Input SID -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">SID</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("CIFSIDSubs").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                        </div>
                    </div>
                <!-- End Input SID -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Umur</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("UmurSubs").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 80px;" }).Enable(false)
                            <label>&nbsp;&nbsp;&nbsp;Tahun</label>
                        </div>
                    </div>
                <!-- Begin Input Shareholder ID -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Shareholder ID</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("ShareHolderIdSubs").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                        </div>
                    </div>
                <!-- End Input Shareholder ID -->
            </div>
            <div class="col-md-6" style="padding-left:100px">
                <div class="card-box">
                    <div class="row">
                        <!-- Begin Jenis Risk Profile -->
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Jenis Risk Profile</label>
                                <div class="input-group">
                                    @Html.Kendo().TextBox().Name("JenisRiskProfileSubs").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 100%;" }).Enable(false)
                                </div>
                            </div>
                        </form>
                        <!-- End Jenis Risk Profile -->
                        <!-- Begin Last Update Risk Profile -->
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Last Update Risk Profile</label>
                                <div class="input-group">
                                    @(Html.Kendo().DatePicker().Name("LastUpdatedRiskSubs").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false))
                                </div>
                            </div>
                        </form>
                        <!-- End Last Update Risk Profile -->
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="align-content:flex-start">                
                    <!-- Begin Input Rekening IDR -->
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Rekening IDR</label>
                            <div class="input-group">
                                @Html.Kendo().TextBox().Name("AccRekeningIDRSubs").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                                <span class="input-group-btn"></span>
                                @Html.Kendo().TextBox().Name("NameRekeningIDRSubs").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                            </div>
                        </div>
                    </form>
                    <!-- End Input Rekening IDR -->
                    <!-- Begin Input Rekening USD -->
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Rekening USD</label>
                            <div class="input-group">
                                @Html.Kendo().TextBox().Name("AccRekeningUSDSubs").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                                <span class="input-group-btn"></span>
                                @Html.Kendo().TextBox().Name("NameRekeningUSDSubs").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                            </div>
                        </div>
                    </form>
                    <!-- End Input Rekening USD -->
                    <!-- Begin Input Rekening -->
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Rekening</label>
                            <div class="input-group">
                                @Html.Kendo().TextBox().Name("AccRekeningMCSubs").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                                <span class="input-group-btn"></span>
                                @Html.Kendo().TextBox().Name("NameRekeningMCSubs").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                            </div>
                        </div>
                    </form>
                    <!-- End Input Rekening -->
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card-box">
        <div class="row">
            <h3 class="panel-title">Subscription</h3>
            <div class="col-md-12">
                <div class="col-md-8">
                    <!-- Begin No Transaksi -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">No Transaksi</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("NoTransaksiSubs").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:200px" }).Enable(false)
                        </div>
                    </div>
                    <!-- End No Transaksi -->
                    <!-- Begin Tgl Transaksi -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Tgl Transaksi</label>
                        <div class="input-group">
                            @(Html.Kendo().DatePicker().Name("TglTransaksiSubs").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;" }).Enable(false))
                        </div>
                    </div>
                    <!-- End Tgl Transaksi -->
                    <!-- Begin Kode Product -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Kode Produk</label>
                            <div class="input-group">
                                @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ProdCodeSubs" }).Enable(false)

                                <span class="input-group-btn">
                                    <a href="@Url.Action("SearchProductSubs", "Global")" data-toggle="modal" data-target="#ProductSubsModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                                </span>
                                @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ProdNameSubs" }).Enable(false)
                            </div>
                        </div>
                    <!-- End Kode Product -->
                    <!-- Begin Client Code -->
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Client Code</label>
                            <div class="input-group">
                                @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ClientCodeSubs" }).Enable(false)

                                <span class="input-group-btn">
                                    <a href="@Url.Action("SearchClientSubs", "Global")" data-toggle="modal" data-target="#ClientSubsModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                                </span>
                                @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ClientNameSubs" }).Enable(false)
                            </div>
                        </div>
                    </form>
                    <!-- End Client Code -->
                    <!-- Begin Nominal -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nominal</label>
                            <div class="input-group col-md-8">
                                @Html.Kendo().TextBoxFor(model => model.CurrencyModel.CurrencyCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "CurrCodeSubs" }).Enable(false)
                                <span class="input-group-btn">
                                    <a href="@Url.Action("SearchCurrency", "Global")" data-toggle="modal" data-target="#CurrencySubsModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                                </span>
                                @Html.Kendo().TextBoxFor(model => model.CurrencyModel.CurrencyName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "CurrNameSubs" }).Enable(false)
                                <span class="input-group-btn"></span>
                                @Html.Kendo().TextBox().Name("NominalSubs").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)


                            </div>
                        </div>
                    <!-- End Nominal -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="input-group">
                            <div class="checkbox checkbox-custom checkbox-circle">
                                @Html.Kendo().CheckBox().Name("PhoneOrderSubs").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Label("Transaksi melalui Telepon")
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="input-group">
                            <div class="checkbox checkbox-custom checkbox-circle">
                                @Html.Kendo().CheckBox().Name("FullamountSubs").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle", @readonly = "readonly" }).Label("Full Amount")
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Subscription Fee</label>
                        <div class="input-group">
                            <div class="checkbox checkbox-custom checkbox-circle">
                                @Html.Kendo().CheckBox().Name("FeeeditSubs").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Label("Fee Edit")
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="input-group">
                                @(Html.Kendo().DropDownList().Name("JenisSubs")
                                                .BindTo(new List<SelectListItem>() {
                                                                            new SelectListItem() {
                                                                            Text = "By Nominal",
                                                                            Value = "0"
                                                                            },
                                                                            new SelectListItem() {
                                                                            Text = "By %",
                                                                            Value = "1"
                                                                            }
                                                })
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                                )
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("FeeSubs").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;padding - top:200%;" }).Enable(false)
                            <span class="input-group-btn"></span>
                            <label id="currFeeSubs" class="col-sm-3 control-label">CURR</label>
                            <span class="input-group-btn"></span>
                            @Html.Kendo().TextBox().Name("PercentageFeeSubs").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:50px" }).Enable(false)
                            <span class="input-group-btn"></span>
                            <label id="keteranganFeeSubs" class="col-sm-3 control-label">%</label>
                        </div>
                    </div>
                    <!-- Begin Button -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="input-group">
                                <button class="btn btn-default waves-effect waves-light">
                                    <span class="btn-label">
                                        <i class="fa fa-plus"></i>
                                    </span>
                                    Add
                                </button>

                                <button class="btn btn-info waves-effect waves-light">
                                    <span class="btn-label">
                                        <i class="fa fa-edit"></i>
                                    </span>
                                    Edit
                                </button>
                            </div>
                        </div>
                    <!-- End Button -->
                </div>
            </div>
            <div class="col-md-12" style="padding-bottom:5%">
                @(Html.Kendo().Grid(Model.ListSubscription)
                .Name("GridViewSubs")
                .Columns(columns =>
                {
                    columns.Bound(p => p.NoTrx).Width(100).Title("No Transaksi");
                    columns.Bound(p => p.StatusTransaksi).Width(150).Title("Status");                                           
                    columns.Bound(p => p.KodeProduk).Width(150).Title("Kode Produk");
                    columns.Bound(p => p.NamaProduk).Width(150).Title("Nama Produk");
                    columns.Bound(p => p.ClientCode).Width(150).Title("Client Code");
                    columns.Bound(p => p.Nominal).Width(150).Title("Nominal");
                    columns.Bound(p => p.EditFeeBy).Width(150).Title("Edit Fee By");
                    columns.Bound(p => p.NominalFee).Width(150).Title("NominalFee");
                    columns.Bound(p => p.FullAmount).Width(150).Title("FullAmount");
                    columns.Bound(p => p.PhoneOrder).Width(150).Title("PhoneOrder");
                    columns.Bound(p => p.JenisFee).Width(150).Title("JenisFee");
                    columns.Bound(p => p.PctFee).Width(150).Title("PctFee");
                })
                .Pageable()
                .Scrollable(s => s.Height(250))
                .Selectable(selectable => selectable
                .Mode(GridSelectionMode.Single))
                .Events(events => events.Change("onRowViewSubsSelect"))
                )

            </div>
            <div class="col-md-12">
                <div class="col-md-8">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Inputter</label>
                            <div class="input-group">
                                @Html.Kendo().TextBox().Name("InputterSubs").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="input-group">
                                <button class="btn btn-default waves-effect waves-light" id=myButton>
                                    <span class="btn-label">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    Cek Dokumen
                                </button>
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Seller</label>
                            <div class="input-group">
                                @Html.Kendo().TextBoxFor(model => model.ReferentorModel.EMPLID).HtmlAttributes(new { @id = "SellerIdSubs", @class = "form-control input-sm" }).Enable(false)

                                <span class="input-group-btn">
                                    <a href="@Url.Action("SearchReferentor", "Global")" data-toggle="modal" data-target="#SellerSubsModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                                </span>
                                @Html.Kendo().TextBoxFor(model => model.ReferentorModel.NAME).HtmlAttributes(new { @id = "SellerNameSubs", @class = "form-control input-sm" }).Enable(false)
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Kode WAPERD</label>
                            <div class="input-group">
                                @Html.Kendo().TextBoxFor(model => model.WaperdModel.WaperdNo).HtmlAttributes(new { @id = "WaperdNoSubs", @class = "form-control input-sm" }).Enable(false)

                                <span class="input-group-btn">
                                    <a href="@Url.Action("SearchWaperd", "Global")" data-toggle="modal" data-target="#WaperdSubsModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                                </span>
                                @Html.Kendo().TextBoxFor(model => model.WaperdModel.WaperdNo).HtmlAttributes(new { @id = "WaperdNameSubs",  @class = "form-control input-sm" }).Enable(false)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tgl Expire</label>
                            <div class="input-group">
                                @Html.Kendo().DatePickerFor(model => model.WaperdModel.DateExpire).HtmlAttributes(new { @id = "TglExpireSubs", @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">NIK Referrantor</label>
                            <div class="input-group">
                                @Html.Kendo().TextBoxFor(model => model.ReferentorModel.EMPLID).HtmlAttributes(new { @id = "NIKRefIDSubs", @class = "form-control input-sm" }).Enable(false)

                                <span class="input-group-btn">
                                    <a href="@Url.Action("SearchReferentor", "Global")" data-toggle="modal" data-target="#NIKRefSubsModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                                </span>
                                @Html.Kendo().TextBoxFor(model => model.ReferentorModel.NAME).HtmlAttributes(new { @id = "NIKRefNameSubs", @class = "form-control input-sm"}).Enable(false)
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Begin Modal -->
<div class="modal fade" id="OfficeSubsModal" tabindex="-1" role="dialog" aria-labelledby="OfficeSubsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="CustomerSubsModal" tabindex="-1" role="dialog" aria-labelledby="CustomerSubsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ReferensiSubsModal" tabindex="-1" role="dialog" aria-labelledby="ReferensiSubsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ProductSubsModal" tabindex="-1" role="dialog" aria-labelledby="ProductSubsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ClientSubsModal" tabindex="-1" role="dialog" aria-labelledby="ClientSubsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="CurrencySubsModal" tabindex="-1" role="dialog" aria-labelledby="CurrencySubsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="SellerSubsModal" tabindex="-1" role="dialog" aria-labelledby="SellerSubsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="WaperdSubsModal" tabindex="-1" role="dialog" aria-labelledby="WaperdSubsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="NIKRefSubsModal" tabindex="-1" role="dialog" aria-labelledby="NIKRefSubsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>


<!-- End Modal -->

<script type="text/javascript">
    $.ajaxSetup({ cache: false });
    function onRowViewSubsSelect(e) {
        var data = this.dataItem(this.select());
        $("#NoTransaksiSubs").val(data.NoTrx);
        $("#ProdCodeSubs").val(data.KodeProduk); 
        var DateTrx = new Date(data.TglTrx);  
        $("#TglTransaksiSubs").val(DateTrx.getDate() + '/' + (DateTrx.getMonth() + 1) + '/' + DateTrx.getFullYear());
        $("#ClientCodeSubs").val(data.ClientCode);
        $("#CurrCodeSubs").val(data.CCY);  
        $("#NominalSubs").val(data.Nominal);
        $('#FullamountSubs').prop('checked', data.FullAmount);
        $('#FeeeditSubs').prop('checked', data.EditFee);
        $('#PhoneOrderSubs').prop('checked', data.PhoneOrder);
        ValidateCurrCodeSubs();
        var KodeProduk = data.KodeProduk;
        var ClientCode = data.ClientCode;
        var ProdId;
        
        $.ajax({
            type: 'GET',
            url: '/Global/ValidateProduct',
            data: { Col1: KodeProduk , Col2: '', Validate: 1 },
            success: function (data) {
                $("#ProdNameSubs").val(data[0].ProdName);
                ProdId = data[0].ProdId;
                $.ajax({
                    type: 'GET',
                    url: '/Global/ValidateClient',
                    data: { Col1: ClientCode, Col2: '', Validate: 1, ProdId: ProdId },
                    success: function (data) {
                        $("#ClientNameSubs").val(data[0].ClientName);
                    }
                });
            }
        });

        var dropdownlist = $("#JenisSubs").data("kendoDropDownList");
        var intJenis = data.JenisFee;
        //By Nominal
        if (intJenis == 0) {
            dropdownlist.select(0);
            $("#FeeSubs").val(data.NominalFee);
            $("#PercentageFeeSubs").val(data.PctFee);
        //By %
        } else
        {
            dropdownlist.select(1);
            $("#FeeSubs").val(data.PctFee);
            $("#PercentageFeeSubs").val(data.NominalFee);
        }
    };

    function ValidateCurrCodeSubs() {
        var CurrCode = $("#CurrCodeSubs").val();
        $.ajax({
            type: 'GET',
            url: '/Global/ValidateCurrency',
            data: { Col1: CurrCode, Col2: '', Validate: 1 },
            success: function (data) {
                $("#CurrNameSubs").val(data[0].CurrencyName);
            }
        });
    }

    function ValidateProdCodeSubs() {
        var ProductCode = $("#ProdCodeSubs").val();        
        $.ajax({
            type: 'GET',
            url: '/Global/ValidateProduct',
            data: { Col1: ProductCode, Col2: '', Validate: 1 },
            success: function (data) {
                $("#ProdNameSubs").val(data[0].ProdName);
                $("#ProdIdSubs").val(data[0].ProdId);
            }
        });
    }  
    function ValidateClientSubs() {
        var ClientCode = $("#ClientCodeSubs").val();
        var ProdId = $("#ProdIdSubs").val();
        $.ajax({
            type: 'GET',
            url: '/Global/ValidateClient',
            data: { Col1: ClientCode, Col2: '', Validate: 1, ProdId: ProdId },
            success: function (data) {
                $("#ClientNameSubs").val(data[0].ClientName);
            }
        });
    }  

    



</script>
