@model Reksa.ViewModels.TransaksiListViewModel

<div class="col-md-12">
    <div class="card-box">
        <div class="row">
            <div class="col-md-6">
                <!-- Begin Search Office -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Kode Kantor</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.OfficeModel.OfficeId).HtmlAttributes(new { @id = "srcOfficeSubs_text1", @class = "form-control input-sm", style = "width: 150%;font-size: 90%;" }).Enable(false)
                        <span class="input-group-btn">
                            <a id="srcOfficeSubs" href="@Url.Action("SearchOffice", "Global")" data-toggle="modal" data-target="#OfficeSubsModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.OfficeModel.OfficeName).HtmlAttributes(new { @id = "srcOfficeSubs_text2", @class = "form-control input-sm", style = "width: 150%;font-size: 90%" }).Enable(false)
                    </div>
                </div>
                <!-- End Search Office -->
                <!-- Begin Search CIF -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">No CIF</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.CustomerModel.CIFNo).HtmlAttributes(new { @id = "srcCIFSubs_text1", @class = "form-control input-sm", style = "width: 150%;" })
                        <span class="input-group-btn">
                            <a id="srcCIFSubs" href="@Url.Action("SearchCustomerSubs", "Global")" data-toggle="modal" data-target="#CustomerSubsModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.CustomerModel.CIFName).HtmlAttributes(new { @id = "srcCIFSubs_text2", @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                    </div>
                </div>
                <!-- End Search CIF -->
                <!-- Begin Search RefID -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">No Referensi</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.ReferensiModel.RefID).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcNoRefSubs_text1" })
                        <span class="input-group-btn">
                            <a id="srcNoRefSubs" href="@Url.Action("SearchReferensiSubs", "Global", new { criteria = "SUBS" })" data-toggle="modal" data-target="#ReferensiSubsModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.ReferensiModel.RefID).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcNoRefSubs_text2" }).Enable(false)
                    </div>
                </div>
                <!-- Begin Search RefID -->

            </div>
            <div class="col-md-6" >
                <div class="card-box">
                    <div class="row">
                        <!-- Begin Jenis Risk Profile -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Jenis Risk Profile</label>
                            <div class="input-group">
                                @Html.Kendo().TextBox().Name("txtbRiskProfileSubs").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 100%;" }).Enable(false)
                            </div>
                        </div>
                        <!-- End Jenis Risk Profile -->
                        <!-- Begin Last Update Risk Profile -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Last Update Risk Profile</label>
                            <div class="input-group">
                                @(Html.Kendo().DatePicker().Name("dtpRiskProfileSubs").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false))
                            </div>
                        </div>
                        <!-- End Last Update Risk Profile -->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                    <!-- Begin Input SID -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">SID</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("textSIDSubs").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                        </div>
                    </div>
                    <!-- End Input SID -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Umur</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("txtUmurSubs").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 80px;" }).Enable(false)
                            <label>&nbsp;&nbsp;&nbsp;Tahun</label>
                        </div>
                    </div>
                    <!-- Begin Input Shareholder ID -->
                    <div class="form-group" hidden="hidden">
                        <label class="col-sm-3 control-label">Shareholder ID</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("textShareHolderIdSubs").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                        </div>
                    </div>
                    <!-- End Input Shareholder ID -->
            </div>
            <div class="col-md-6">
                <!-- Begin Input Rekening IDR -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Rekening IDR</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("maskedRekeningSubs").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;" }).Enable(false)
                        <span class="input-group-btn"></span>
                        @Html.Kendo().TextBox().Name("textNamaRekeningSubs").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 240px;" }).Enable(false)
                    </div>
                </div>
                <!-- End Input Rekening IDR -->
                <!-- Begin Input Rekening USD -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Rekening USD</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("maskedRekeningSubsUSD").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;" }).Enable(false)
                        <span class="input-group-btn"></span>
                        @Html.Kendo().TextBox().Name("textNamaRekeningSubsUSD").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 240px;" }).Enable(false)
                    </div>
                </div>
                <!-- End Input Rekening USD -->
                <!-- Begin Input Rekening -->
                <div class="form-group" hidden="hidden">
                    <label class="col-sm-3 control-label">Rekening MC</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("maskedRekeningSubsMC").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;" }).Enable(false)
                        <span class="input-group-btn"></span>
                        @Html.Kendo().TextBox().Name("textNamaRekeningSubsMC").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 240px;" }).Enable(false)
                    </div>
                </div>
                <!-- End Input Rekening -->
            </div>
        </div>
    </div>
</div>        
<div class="col-md-12">
    <div class="card-box">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <!-- Begin No Transaksi -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">No Transaksi</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("textNoTransaksiSubs").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:200px;font-size: 80%;" }).Enable(false)
                        </div>
                    </div>
                    <!-- End No Transaksi -->
                    <!-- Begin Tgl Transaksi -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Tgl Transaksi</label>
                        <div class="input-group">
                            @(Html.Kendo().DatePicker().Name("dateTglTransaksiSubs").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;" }).Enable(false))
                        </div>
                    </div>
                    <!-- End Tgl Transaksi -->
                    <!-- Begin Kode Product -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Kode Produk</label>
                        <div class="input-group">
                            @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;font-size: 70%;", @id = "srcProductSubs_text1" }).Enable(false)
                            <span class="input-group-btn">
                                <a id="srcProductSubs" href="@Url.Action("SearchTrxProductSubs", "Global")" data-toggle="modal" data-target="#ProductSubsModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                            </span>
                            @Html.Kendo().TextBoxFor(model => model.TransaksiProduct.ProdName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;font-size: 70%;", @id = "srcProductSubs_text2" }).Enable(false)
                            @Html.Kendo().TextBoxFor(model => model.TransaksiProduct.ProdId).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ProdIdSubs", @type = "hidden" })
                            @Html.Kendo().TextBoxFor(model => model.TransaksiProduct.ProdCCY).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ProdCCYSubs", @type = "hidden" })
                        </div>
                    </div>
                    <!-- End Kode Product -->
                    <!-- Begin Client Code -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Client Code</label>
                        <div class="input-group">
                            @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;font-size: 70%;", @id = "srcClientSubs_text1" }).Enable(false)
                            <span class="input-group-btn">
                                <a id="srcClientSubs" href="@Url.Action("SearchClientSubs", "Global")" data-toggle="modal" data-target="#ClientSubsModal" class="btn btn-default btn-sm btn-search-component src-cif enabled" data-animation="flash">...</a>
                            </span>
                            @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;font-size: 70%;", @id = "srcClientSubs_text2" }).Enable(false)
                            @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientId).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ClientIdSubs", @type = "hidden" })
                        </div>
                    </div>
                    <!-- End Client Code -->
                    <!-- Begin Nominal -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Nominal</label>
                        <div class="input-group col-md-9">
                            @Html.Kendo().TextBoxFor(model => model.CurrencyModel.CurrencyCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;font-size: 70%;", @id = "srcCurrencySubs_text1" }).Enable(false)
                            <span class="input-group-btn">
                                <a id="srcCurrenySubs" href="@Url.Action("SearchCurrency", "Global")" data-toggle="modal" data-target="#CurrencySubsModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                            </span>
                            @Html.Kendo().TextBoxFor(model => model.CurrencyModel.CurrencyName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;font-size: 70%;", @id = "srcCurrencySubs_text2" }).Enable(false)
                            <span class="input-group-btn"></span>
                            @Html.Kendo().NumericTextBox().Name("MoneyNomSubs").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;" }).Enable(false).Min(0)
                        </div>
                    </div>
                    <!-- End Nominal -->

                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <div class="checkbox checkbox-custom checkbox-circle">
                            @Html.Kendo().CheckBox().Name("checkPhoneOrderSubs").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Label("Transaksi melalui Telepon")
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="checkbox checkbox-custom checkbox-circle">
                            @Html.Kendo().CheckBox().Name("checkFullAmtSubs").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle", @readonly = "readonly" }).Label("Full Amount")
                        </div>
                    </div>
                    <label class="col-sm-4 control-label">Subscription Fee</label>
                    <div class="col-md-12">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-5">
                                        <div class="checkbox checkbox-custom checkbox-circle">
                                            @Html.Kendo().CheckBox().Name("checkFeeEditSubs").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Label("Fee Edit")
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-5">
                                        @(Html.Kendo().DropDownList().Name("_ComboJenisSubs").BindTo(new List<SelectListItem>() { new SelectListItem() { Text = "By Nominal", Value = "0" }, new SelectListItem() { Text = "By %", Value = "1" } }).DataTextField("Text").DataValueField("Value").Events(e => { e.Change("onChange_ComboJenisSubs").DataBound("onBound_ComboJenisSubs"); }))
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-btn"></span>
                                            @Html.Kendo().TextBox().Name("MoneyFeeSubs").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;padding - top:200%;" }).Enable(false)
                                            <span class="input-group-btn"></span>
                                            <label id="labelFeeCurrencySubs" class="col-sm-3 control-label">CURR</label>
                                            <span class="input-group-btn"></span>
                                            @Html.Kendo().TextBox().Name("PercentageFeeSubs").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:50px" }).Enable(false)
                                            <span class="input-group-btn"></span>
                                            <label id="_KeteranganFeeSubs" class="col-sm-3 control-label">%</label>
                                        </div>
                                    </div>
                                </div>
                            </div>                                
                        </div>
                    </div>
                </div>
            </div>                
            <div class="col-md-12" style="padding-bottom:5%">
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="input-group">
                        <button id="btnAddSubs" class="btn btn-default waves-effect waves-light">
                            <span class="btn-label">
                                <i class="fa fa-plus"></i>
                            </span>
                            Add
                        </button>
                        <button id="btnEditSubs" class="btn btn-info waves-effect waves-light">
                            <span class="btn-label">
                                <i class="fa fa-edit"></i>
                            </span>
                            Edit
                        </button>
                    </div>
                </div>
                @(Html.Kendo().Grid(Model.ListSubscription)
                        .Name("dataGridViewSubs")
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.NoTrx).Width(150).Title("No Transaksi");
                            columns.Bound(p => p.StatusTransaksi).Width(150).Title("Status");
                            columns.Bound(p => p.KodeProduk).Width(150).Title("Kode Produk");
                            columns.Bound(p => p.NamaProduk).Width(150).Title("Nama Produk");
                            columns.Bound(p => p.ClientCode).Width(150).Title("Client Code");
                            columns.Bound(p => p.Nominal).Width(150).Title("Nominal");
                            columns.Bound(p => p.EditFeeBy).Width(150).Title("Edit Fee By");
                            columns.Bound(p => p.NominalFee).Width(150).Title("NominalFee");
                            columns.Bound(p => p.FullAmount).Width(150).Title("FullAmount");
                            columns.Bound(p => p.PhoneOrder).Width(150).Title("PhoneOrder");
                            columns.Bound(p => p.TglTrx).Width(150).Title("Tanggal Transaksi");
                            columns.Bound(p => p.CCY).Title("Currency");
                            columns.Bound(p => p.EditFee).Hidden();
                            columns.Bound(p => p.JenisFee).Width(150).Title("JenisFee");
                            columns.Bound(p => p.PctFee).Width(150).Title("PctFee");
                            columns.Bound(p => p.FeeCurr).Hidden();
                            columns.Bound(p => p.FeeKet).Hidden();
                            columns.Bound(p => p.IsNew).Hidden();
                            columns.Bound(p => p.OutstandingUnit).Hidden();
                            columns.Bound(p => p.ApaDiUpdate).Hidden();
                            columns.Bound(p => p.TrxTaxAmnesty).Hidden();
                        })
                        .Pageable()
                        .Scrollable(s => s.Height(250))
                        .Selectable(selectable => selectable
                        .Mode(GridSelectionMode.Single))
                        .Events(events => events.Change("onRowViewSubsSelect"))
                )

            </div>
            <div class="col-md-12">
                <div class="col-md-8">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Inputter</label>
                            <div class="input-group">
                                @Html.Kendo().TextBox().Name("txtbInputterSubs").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="input-group">
                                <button id ="btnDocumentSubs" href="@Url.Action("Document", "Global" ) " data-toggle="modal" data-target="#DocumentModalSubs" class="btn btn-default waves-effect waves-light">
                                    <span class="btn-label">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    Cek Dokumen
                                </button>
                            </div>
                        </div>
                    <script>
                        $(function () {
                            $('#btnDocumentSubs').click(function () {
                                var value = $('#srcNoRefSubs_text1').val();
                                $(this).attr('href', function () {
                                    return '@Html.Raw(Url.Action("Document", "Global"))?IsEdit=false&TranId=0&IsSwitching=false&IsBooking=false,RefID=' + value;
                                });
                            });
                        });
                    </script>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Seller</label>
                            <div class="input-group">
                                @Html.Kendo().TextBoxFor(model => model.ReferentorModel.EMPLID).HtmlAttributes(new { @id = "srcSellerSubs_text1", @class = "form-control input-sm" }).Enable(false)
                                <span class="input-group-btn">
                                    <a id="srcSellerSubs" href="@Url.Action("SearchSellerSubs", "Global")" data-toggle="modal" data-target="#SellerSubsModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                                </span>
                                @Html.Kendo().TextBoxFor(model => model.ReferentorModel.NAME).HtmlAttributes(new { @id = "srcSellerSubs_text2", @class = "form-control input-sm" }).Enable(false)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Kode WAPERD</label>
                            <div class="input-group">
                                @Html.Kendo().TextBoxFor(model => model.WaperdModel.employee_id).HtmlAttributes(new { @id = "srcWaperdSubs_text1", @class = "form-control input-sm" }).Enable(false)
                                <span class="input-group-btn">
                                    <a id ="srcWaperdSubs" href="@Url.Action("SearchWaperdSubs", "Global")" data-toggle="modal" data-target="#WaperdSubsModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                                </span>
                                @Html.Kendo().TextBoxFor(model => model.WaperdModel.WaperdNo).HtmlAttributes(new { @id = "srcWaperdSubs_text2",  @class = "form-control input-sm" }).Enable(false)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tgl Expire</label>
                            <div class="input-group">
                                @Html.Kendo().TextBoxFor(model => model.WaperdModel.DateExpire).HtmlAttributes(new { @id = "textExpireWaperdSubs", @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">NIK Referrantor</label>
                            <div class="input-group">
                                @Html.Kendo().TextBoxFor(model => model.ReferentorModel.EMPLID).HtmlAttributes(new { @id = "srcReferentorSubs_text1", @class = "form-control input-sm" }).Enable(false)
                                <span class="input-group-btn">
                                    <a id="srcReferentorSubs" href="@Url.Action("SearchReferentorSubs", "Global")" data-toggle="modal" data-target="#NIKRefSubsModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                                </span>
                                @Html.Kendo().TextBoxFor(model => model.ReferentorModel.NAME).HtmlAttributes(new { @id = "srcReferentorSubs_text2", @class = "form-control input-sm"}).Enable(false)
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Begin Modal -->
<div class="modal fade" id="ErrorSubsModal" tabindex="-1" role="dialog" aria-labelledby="ErrorSubsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Daftar Error</h4>
            </div>
            <div class="modal-body">
                @(Html.Kendo().Grid<Reksa.Models.TransactionModel.ErrorList>()
                                                        .Name("GridErrorSubs")
                                                        .Columns(columns =>
                                                        {
                                                            columns.Bound(m => m.fieldName).Width(200).Title("FieldName");
                                                            columns.Bound(m => m.description).Width(500).Title("Description");
                                                        })
                                                        .Pageable()
                                                        .Scrollable(s => s.Height(300))
                                                        .Selectable(selectable => selectable
                                                            .Mode(GridSelectionMode.Single))
                )
            </div>
            <div class="modal-footer">
                <button type="submit" id="btnOKErrorSubs" class="btn btn-info pull-left" data-dismiss="modal">
                    <span class="glyphicon glyphicon-ok"></span> OK
                </button>
            </div>
        </div>
    </div>
</div>
    
<div class="modal fade" id="OfficeSubsModal" tabindex="-1" role="dialog" aria-labelledby="OfficeSubsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="CustomerSubsModal" tabindex="-1" role="dialog" aria-labelledby="CustomerSubsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ReferensiSubsModal" tabindex="-1" role="dialog" aria-labelledby="ReferensiSubsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ProductSubsModal" tabindex="-1" role="dialog" aria-labelledby="ProductSubsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ClientSubsModal" tabindex="-1" role="dialog" aria-labelledby="ClientSubsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="CurrencySubsModal" tabindex="-1" role="dialog" aria-labelledby="CurrencySubsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="SellerSubsModal" tabindex="-1" role="dialog" aria-labelledby="SellerSubsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="WaperdSubsModal" tabindex="-1" role="dialog" aria-labelledby="WaperdSubsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="NIKRefSubsModal" tabindex="-1" role="dialog" aria-labelledby="NIKRefSubsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade" id="DocumentModalSubs" tabindex="-1" role="dialog" aria-labelledby="DocumentModalSubsLabel">
    <div class="modal-dialog" style="width:75%;">
        <div class="modal-content">
            
        </div>
        </div>
</div>
<!-- End Modal -->

<script type="text/javascript">
    function onRowViewSubsSelect(e) {
        var data = this.dataItem(this.select());
        $("#textNoTransaksiSubs").val(data.NoTrx);
        $("#srcProductSubs_text1").val(data.KodeProduk); 
        var dateTglTransaksiSubs = new Date(data.TglTrx);  
        $("#dateTglTransaksiSubs").val(dateTglTransaksiSubs.getDate() + '/' + (dateTglTransaksiSubs.getMonth() + 1) + '/' + dateTglTransaksiSubs.getFullYear());
        $("#srcClientSubs_text1").val(data.ClientCode);
        $("#srcCurrencySubs_text1").val(data.CCY);  
        //$("#MoneyNomSubs").val(data.Nominal);
        $("#MoneyNomSubs").data("kendoNumericTextBox").value(data.Nominal);
        $('#checkFullAmtSubs').prop('checked', data.FullAmount);
        $('#checkFeeEditSubs').prop('checked', data.EditFee);
        $('#checkPhoneOrderSubs').prop('checked', data.PhoneOrder);
        ValidateCurrCodeSubs();
        var KodeProduk = data.KodeProduk;
        var ClientCode = data.ClientCode;
        var ProdId;
        
        $.ajax({
            type: 'GET',
            url: '/Global/ValidateProduct',
            data: { Col1: KodeProduk , Col2: '', Validate: 1 },
            success: function (data) {
                if (ClientCode != '') {
                    $("#srcProductSubs_text1").val(data[0].ProdCode);
                    $("#srcProductSubs_text2").val(data[0].ProdName);
                    ProdId = data[0].ProdId;
                    $.ajax({
                        type: 'GET',
                        url: '/Global/ValidateClient',
                        data: { Col1: ClientCode, Col2: '', Validate: 1, ProdId: ProdId },
                        success: function (data) {
                            $("#srcClientSubs_text2").val(data[0].ClientName);
                        }
                    });
                }
            }
        });

        var dropdownlist = $("#_ComboJenisSubs").data("kendoDropDownList");
        var intJenis = data.JenisFee;
        //By Nominal
        if (intJenis == 0) {
            dropdownlist.select(0);
            $("#MoneyFeeSubs").val(data.NominalFee);
            $("#PercentageFeeSubs").val(data.PctFee);
        //By %
        } else
        {
            dropdownlist.select(1);
            $("#MoneyFeeSubs").val(data.PctFee);
            $("#PercentageFeeSubs").val(data.NominalFee);
        }
    };
    function ValidateCurrCodeSubs() {
        var CurrCode = $("#srcCurrencySubs_text1").val();
        if (CurrCode != '') {
            $.ajax({
                type: 'GET',
                url: '/Global/ValidateCurrency',
                data: { Col1: CurrCode, Col2: '', Validate: 1 },
                success: function (data) {
                    $("#srcCurrencySubs_text2").val(data[0].CurrencyName);
                }
            });
        }
    }
    function ValidateProdCodeSubs() {
        var ProductCode = $("#srcProductSubs_text1").val();        
        $.ajax({
            type: 'GET',
            url: '/Global/ValidateProduct',
            data: { Col1: ProductCode, Col2: '', Validate: 1 },
            success: function (data) {
                $("#srcProductSubs_text2").val(data[0].ProdName);
                $("#ProdIdSubs").val(data[0].ProdId);
            }
        });
    }  
    function ValidateClientSubs() {
        var ClientCode = $("#srcClientSubs_text1").val();
        var ProdId = $("#ProdIdSubs").val();
        if (ClientCode != '') {
            $.ajax({
                type: 'GET',
                url: '/Global/ValidateClient',
                data: { Col1: ClientCode, Col2: '', Validate: 1, ProdId: ProdId },
                success: function (data) {
                    $("#srcClientSubs_text2").val(data[0].ClientName);
                }
            });
        }
    }  
</script>
