@model Reksa.ViewModels.TransaksiListViewModel

<div class="col-md-12">
    <div class="card-box">
        <div class="row">
            <div class="col-md-6">
                <!-- Begin Search Office -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Kode Kantor</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.OfficeModel.OfficeId).HtmlAttributes(new { @id= "srcOfficeSwc_text1", @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                        <span class="input-group-btn">
                            <a id="srcOfficeSwc" href="@Url.Action("SearchOffice", "Global")" data-toggle="modal" data-target="#OfficeSwcModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.OfficeModel.OfficeName).HtmlAttributes(new { @id = "srcOfficeSwc_text2", @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                    </div>
                </div>
                <!-- End Search Office -->
                <!-- Begin Search CIF -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">No CIF</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.CustomerModel.CIFNo).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcCIFSwc_text1" })
                        <span class="input-group-btn">
                            <a id="srcCIFSwc" href="@Url.Action("SearchCustomerSwc", "Global")" data-toggle="modal" data-target="#CustomerSwcModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.CustomerModel.CIFName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcCIFSwc_text2" }).Enable(false)
                    </div>
                </div>
                <!-- End Search CIF -->
                <!-- Begin Search RefID -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">No Referensi</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.SwitchingModel.RefID).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcNoRefSwc_text1" })
                        <span class="input-group-btn">
                            <a id="srcNoRefSwc" href="@Url.Action("SearchSwitching", "Global")" data-toggle="modal" data-target="#ReferensiSwcModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.SwitchingModel.RefID).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcNoRefSwc_text2" }).Enable(false)
                    </div>
                </div>
                <!-- End Search RefID -->
                <!-- Begin Input SID -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">SID</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("textSIDSwc").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Umur</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("txtUmurSwc").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 80px;" }).Enable(false)
                        <label>&nbsp;&nbsp;&nbsp;Tahun</label>
                    </div>
                </div>
                <!-- End Input SID -->
                <!-- Begin Input Shareholder ID -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Shareholder ID</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("textShareHolderIdSwc").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                    </div>
                </div>
                <!-- End Input Shareholder ID -->
            </div>
            <div class="col-md-6" style="padding-left:100px">
                <div class="card-box">
                    <div class="row">
                        <!-- Begin Jenis Risk Profile -->
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Jenis Risk Profile</label>
                                <div class="input-group">
                                    @Html.Kendo().TextBox().Name("txtbRiskProfileSwc").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 100%;" }).Enable(false)
                                </div>
                            </div>
                        <!-- End Jenis Risk Profile -->
                        <!-- Begin Last Update Risk Profile -->
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Last Update Risk Profile</label>
                                <div class="input-group">
                                    @(Html.Kendo().DatePicker().Name("dtpRiskProfileSwc").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false))
                                </div>
                            </div>
                        <!-- End Last Update Risk Profile -->
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="align-content:flex-start">
                <!-- Begin Input Rekening IDR -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Rekening IDR</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("maskedRekeningSwc").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                            <span class="input-group-btn"></span>
                            @Html.Kendo().TextBox().Name("textNamaRekeningSwc").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                        </div>
                    </div>
                <!-- End Input Rekening IDR -->
                <!-- Begin Input Rekening USD -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Rekening USD</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("maskedRekeningSwcUSD").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                            <span class="input-group-btn"></span>
                            @Html.Kendo().TextBox().Name("textNamaRekeningSwcUSD").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                        </div>
                    </div>
                <!-- End Input Rekening USD -->
                <!-- Begin Input Rekening -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Rekening</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("maskedRekeningSwcMC").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                            <span class="input-group-btn"></span>
                            @Html.Kendo().TextBox().Name("textNamaRekeningSwcMC").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                        </div>
                    </div>
                <!-- End Input Rekening -->
            </div>
            <div class="col-md-8">
                <!-- Begin No Transaksi -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">No Transaksi</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("textNoTransaksiSwc").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:200px" }).Enable(false)
                    </div>
                </div>
                <!-- End No Transaksi -->
                <!-- Begin Tgl Transaksi -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Tgl Transaksi</label>
                    <div class="input-group">
                        @(Html.Kendo().DatePicker().Name("dateTglTransaksiSwc").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;" }).Enable(false))
                    </div>
                </div>
                <!-- End Tgl Transaksi -->
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="card-box">
        <div class="row">
            <h3 class="panel-title">SWITCH OUT</h3>
            <div class="col-md-12">
                <!-- Begin Kode Product -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Kode Produk</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcProductSwcOut_text1" }).Enable(false)
                        <span class="input-group-btn">
                            <a id="srcProductSwcOut" href="@Url.Action("SearchProduct", "Global")" data-toggle="modal" data-target="#ProductSwcModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcProductSwcOut_text2" }).Enable(false)
                    </div>
                </div>
                <!-- End Kode Product -->
                <!-- Begin Client Code -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Client Code</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcClientSwcOut_text1" }).Enable(false)
                        <span class="input-group-btn">
                            <a id="srcClientSwcOut" href="@Url.Action("SearchClient", "Global")" data-toggle="modal" data-target="#ClientSwcModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcClientSwcOut_text2" }).Enable(false)
                    </div>
                </div>
                <!-- End Client Code -->
                <!-- Begin OutStanding Unit -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">OutStanding Unit</label>
                    <div class="input-group col-md-8">
                        @Html.Kendo().TextBox().Name("OutstandingUnitSwc").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 80%;" }).Enable(false)
                    </div>
                </div>
                <!-- End OutStanding Unit -->
                <!-- Begin Jumlah Unit -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Jumlah Unit</label>
                    <div class="input-group col-md-8">
                        @Html.Kendo().TextBox().Name("RedempSwc").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 80%;" }).Enable(false)
                    </div>
                </div>
                <!-- End Jumlah Unit -->
                <div class="form-group">
                    <label class="col-sm-4 control-label"></label>
                    @(Html.Kendo().CheckBox().Name("checkPhoneOrderSwc").Label("Transaksi melalui Telepon").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Enable(false))
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label"></label>
                    @(Html.Kendo().CheckBox().Name("checkSwcAll").Label("All").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Enable(false))
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="card-box">
        <div class="row">
            <h3 class="panel-title">SWITCH IN</h3>
            <div class="col-md-12">
                    <!-- Begin Kode Product -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Kode Produk</label>
                        <div class="input-group">
                            @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcProductSwcIn_text1" }).Enable(false)
                            <span class="input-group-btn">
                                <a id="srcProductSwcIn" href="@Url.Action("SearchProduct", "Global")" data-toggle="modal" data-target="#ProductSwcModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                            </span>
                            @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcProductSwcIn_text2" }).Enable(false)
                        </div>
                    </div>
                    <!-- End Kode Product -->
                    <!-- Begin Client Code -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Client Code</label>
                        <div class="input-group">
                            @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcClientSwcIn_text1" }).Enable(false)
                            <span class="input-group-btn">
                                <a id="srcClientSwcIn" href="@Url.Action("SearchClient", "Global")" data-toggle="modal" data-target="#ClientSwcModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                            </span>
                            @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcClientSwcIn_text2" }).Enable(false)
                        </div>
                    </div>
                    <!-- End Client Code -->                    
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-8">

        <div class="form-group">
            <label class="col-sm-3 control-label">Switching Fee</label>
            <div class="input-group">
                <div class="checkbox checkbox-custom checkbox-circle">
                    @Html.Kendo().CheckBox().Name("checkFeeEditSwc").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Label("Fee Edit").Enable(false)
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"></label>
            <div class="input-group">
                @Html.Kendo().TextBox().Name("MoneyFeeSwc").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 100%;padding - top:200%;" }).Enable(false)
                <span class="input-group-btn"></span>
                <label id="labelFeeCurrencySwc" class="col-sm-3 control-label">CURR</label>
                <span class="input-group-btn"></span>
                @Html.Kendo().TextBox().Name("PercentageFeeSwc").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:50px" }).Enable(false)
                <span class="input-group-btn"></span>
                <label id="_keteranganFeeSwc" class="col-sm-3 control-label">%</label>
            </div>
        </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Inputter</label>
                <div class="input-group">
                    @Html.Kendo().TextBox().Name("txtbInputterSwc").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="input-group">
                    <button id="btnDokumenSwc" class="btn btn-default waves-effect waves-light">
                        <span class="btn-label">
                            <i class="fa fa-search"></i>
                        </span>
                        Cek Dokumen
                    </button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Seller</label>
                <div class="input-group">
                    @Html.Kendo().TextBoxFor(model => model.ReferentorModel.EMPLID).HtmlAttributes(new {@id = "srcSellerSwc_text1", @class = "form-control input-sm" }).Enable(false)
                    <span class="input-group-btn">
                        <a id="srcSellerSwc" href="@Url.Action("SearchSellerSwc", "Global")" data-toggle="modal" data-target="#SellerSwcModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                    </span>
                    @Html.Kendo().TextBoxFor(model => model.ReferentorModel.NAME).HtmlAttributes(new { @id = "srcSellerSwc_text2", @class = "form-control input-sm" }).Enable(false)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Kode WAPERD</label>
                <div class="input-group">
                    @Html.Kendo().TextBoxFor(model => model.WaperdModel.WaperdNo).HtmlAttributes(new { @id = "srcWaperdSwc_text1", @class = "form-control input-sm" }).Enable(false)
                    <span class="input-group-btn">
                        <a id="srcWaperdSwc" href="@Url.Action("SearchWaperd", "Global")" data-toggle="modal" data-target="#WaperdSwcModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                    </span>
                    @Html.Kendo().TextBoxFor(model => model.WaperdModel.WaperdNo).HtmlAttributes(new { @id = "srcWaperdSwc_text2", @class = "form-control input-sm" }).Enable(false)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Tgl Expire</label>
                <div class="input-group">
                    @Html.Kendo().TextBox().Name("textExpireWaperdSwc").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">NIK Referrantor</label>
                <div class="input-group">
                    @Html.Kendo().TextBoxFor(model => model.ReferentorModel.EMPLID).HtmlAttributes(new { @id = "srcReferentorSwc_text1", @class = "form-control input-sm" }).Enable(false)
                    <span class="input-group-btn">
                        <a id="srcReferentorSwc" href="@Url.Action("SearchReferentorSwc", "Global")" data-toggle="modal" data-target="#NIKRefSwcModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                    </span>
                    @Html.Kendo().TextBoxFor(model => model.ReferentorModel.NAME).HtmlAttributes(new { @id = "srcReferentorSwc_text2", @class = "form-control input-sm" }).Enable(false)
                </div>
            </div>
    </div>
</div>
<!-- Begin Modal -->
<div class="modal fade" id="OfficeSwcModal" tabindex="-1" role="dialog" aria-labelledby="OfficeSwcModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="CustomerSwcModal" tabindex="-1" role="dialog" aria-labelledby="CustomerSwcModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ReferensiSwcModal" tabindex="-1" role="dialog" aria-labelledby="ReferensiSwcModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ProductSwcModal" tabindex="-1" role="dialog" aria-labelledby="ProductSwcModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ClientSwcModal" tabindex="-1" role="dialog" aria-labelledby="ClientSwcModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="CurrencySwcModal" tabindex="-1" role="dialog" aria-labelledby="CurrencySwcModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="SellerSwcModal" tabindex="-1" role="dialog" aria-labelledby="SellerSwcModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="WaperdSwcModal" tabindex="-1" role="dialog" aria-labelledby="WaperdSwcModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="NIKRefSwcModal" tabindex="-1" role="dialog" aria-labelledby="NIKRefSwcModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>


<!-- End Modal -->

<script>    
    
</script>
