@model Reksa.ViewModels.TransaksiListViewModel

<div class="col-md-12">
    <div class="card-box">
        <div class="row">
            <div class="col-md-6">
                <!-- Begin Search Office -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Kode Kantor</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.OfficeModel.OfficeId).HtmlAttributes(new { @id = "srcOfficeSwcRDB_text1", @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                        <span class="input-group-btn">
                            <a id="srcOfficeSwcRDB" href="@Url.Action("SearchOffice", "Global")" data-toggle="modal" data-target="#OfficeSwcRDBModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.OfficeModel.OfficeName).HtmlAttributes(new { @id = "srcOfficeSwcRDB_text2", @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                    </div>
                </div>
                <!-- End Search Office -->
                <!-- Begin Search CIF -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">No CIF</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.CustomerModel.CIFNo).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcCIFSwcRDB_text1" })
                        <span class="input-group-btn">
                            <a id="srcCIFSwcRDB" href="@Url.Action("SearchCustomerSwcRDB", "Global")" data-toggle="modal" data-target="#CustomerSwcRDBModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.CustomerModel.CIFName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcCIFSwcRDB_text2" }).Enable(false)
                    </div>
                </div>
                <!-- End Search CIF -->
                <!-- Begin Search RefID -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">No Referensi</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("SwitchingRDBRefID").HtmlAttributes(new { @id = "srcNoRefSwcRDB_text1", @class = "form-control input-sm", style = "width: 150%;" })
                        <span class="input-group-btn">
                            <a id="srcNoRefSwcRDB" href="@Url.Action("SearchSwitchingRDB", "Global")" data-toggle="modal" data-target="#ReferensiSwcRDBModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBox().Name("SwitchingRDBTglTrx").HtmlAttributes(new { @id = "srcNoRefSwcRDB_text2", @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                    </div>
                </div>
                <!-- End Search RefID -->
                <!-- Begin Input SID -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">SID</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("textSIDSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Umur</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("txtUmurSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 80px;" }).Enable(false)

                        <label>&nbsp;&nbsp;&nbsp;Tahun</label>
                    </div>
                </div>
                <!-- End Input SID -->
                <!-- Begin Input Shareholder ID -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Shareholder ID</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("textShareHolderIdSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                    </div>
                </div>
                <!-- End Input Shareholder ID -->
            </div>
            <div class="col-md-6" style="padding-left:100px">
                <div class="card-box">
                    <div class="row">
                        <!-- Begin Jenis Risk Profile -->
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Jenis Risk Profile</label>
                                <div class="input-group">
                                    @Html.Kendo().TextBox().Name("txtbRiskProfileSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 100%;" }).Enable(false)
                                </div>
                            </div>
                        <!-- End Jenis Risk Profile -->
                        <!-- Begin Last Update Risk Profile -->
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Last Update Risk Profile</label>
                                <div class="input-group">
                                    @(Html.Kendo().DatePicker().Name("dtpRiskProfileSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false))
                                </div>
                            </div>
                        <!-- End Last Update Risk Profile -->
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="align-content:flex-start">
                <!-- Begin Input Rekening IDR -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Rekening IDR</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("maskedRekeningSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                            <span class="input-group-btn"></span>
                            @Html.Kendo().TextBox().Name("textNamaRekeningSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                        </div>
                    </div>
                <!-- End Input Rekening IDR -->
                <!-- Begin Input Rekening USD -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Rekening USD</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("maskedRekeningSwcRDBUSD").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                            <span class="input-group-btn"></span>
                            @Html.Kendo().TextBox().Name("textNamaRekeningSwcRDBUSD").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                        </div>
                    </div>
                <!-- End Input Rekening USD -->
                <!-- Begin Input Rekening -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Rekening</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("maskedRekeningSwcRDBMC").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                            <span class="input-group-btn"></span>
                            @Html.Kendo().TextBox().Name("textNamaRekeningSwcRDBMC").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                        </div>
                    </div>
                <!-- End Input Rekening -->
            </div>
            <div class="col-md-8">
                <!-- Begin No Transaksi -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">No Transaksi</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("textNoTransaksiSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:200px" }).Enable(false)
                    </div>
                </div>
                <!-- End No Transaksi -->
            </div>
            <div class="col-md-4">
                <!-- Begin Tgl Transaksi -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Tgl Transaksi</label>
                    <div class="input-group">
                        @(Html.Kendo().DatePicker().Name("dateTglTransaksiSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;" }).Enable(false))
                    </div>
                </div>
                <!-- End Tgl Transaksi -->
            </div>

        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="card-box">
        <div class="row">
            <h3 class="panel-title">SWITCH OUT</h3>
            <div class="col-md-12">
                <!-- Begin Kode Product -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Kode Produk</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdCode).HtmlAttributes(new { @id = "srcProductSwcRDBOut_text1", @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                        <span class="input-group-btn">
                            <a id="srcProductSwcRDBOut"href="@Url.Action("SearchProduct", "Global")" data-toggle="modal" data-target="#ProductSwcRDBModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdName).HtmlAttributes(new { @id = "srcProductSwcRDBOut_text2", @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                    </div>
                </div>
                <!-- End Kode Product -->
                <!-- Begin Client Code -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Client Code</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientCode).HtmlAttributes(new { @id = "srcClientSwcRDBOut_text1", @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                        <span class="input-group-btn">
                            <a id="srcClientSwcRDBOut" href="@Url.Action("SearchClient", "Global")" data-toggle="modal" data-target="#ClientSwcRDBModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientName).HtmlAttributes(new { @id = "srcClientSwcRDBOut_text2", @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                    </div>
                </div>
                <!-- End Client Code -->
                <!-- Begin OutStanding Unit -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">OutStanding Unit</label>
                    <div class="input-group col-md-8">
                        @Html.Kendo().TextBox().Name("OutstandingUnitSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 80%;" }).Enable(false)
                    </div>
                </div>
                <!-- End OutStanding Unit -->
                <!-- Begin Jumlah Unit -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Jumlah Unit</label>
                    <div class="input-group col-md-8">
                        @Html.Kendo().TextBox().Name("RedempSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 80%;" }).Enable(false)
                    </div>
                </div>
                <!-- End Jumlah Unit -->
                <div class="form-group">
                    <label class="col-sm-4 control-label"></label>
                    @(Html.Kendo().CheckBox().Name("checkPhoneOrderSwcRDB").Label("Transaksi melalui Telepon").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Enable(false))
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Jangka Waktu</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("JangkaWktSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 80px;" }).Enable(false)
                        <label>&nbsp;&nbsp;&nbsp;Bulan</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Jatuh Tempo</label>
                    <div class="input-group">
                        @(Html.Kendo().DatePicker().Name("dtJatuhTempoSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false))
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Auto Redemp</label>
                    <div class="input-group">
                        @(Html.Kendo().DropDownList().Name("cmbAutoRedempSwcRDB")
                                                .BindTo(new List<SelectListItem>() {
                                                                                    new SelectListItem() {
                                                                                    Text = "Tidak",
                                                                                    Value = "false"
                                                                                    },
                                                                                    new SelectListItem() {
                                                                                    Text = "Ya",
                                                                                    Value = "true"
                                                                                    }
                                                })
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                        )
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Asuransi</label>
                    <div class="input-group">
                        @(Html.Kendo().DropDownList().Name("cmbAsuransiSwcRDB")
                                                        .BindTo(new List<SelectListItem>() {
                                                                                                        new SelectListItem() {
                                                                                                        Text = "Tidak",
                                                                                                        Value = "false"
                                                                                                        },
                                                                                                        new SelectListItem() {
                                                                                                        Text = "Ya",
                                                                                                        Value = "true"
                                                                                                        }
                                                        })
                                                        .DataTextField("Text")
                                                        .DataValueField("Value")
                        )
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Frek Pendebetan</label>
                    <div class="input-group">
                        @(Html.Kendo().DropDownList().Name("cmbFrekPendebetanSwcRDB")
                                        .HtmlAttributes(new { @style = "width: 90px;" })
                        )<label>&nbsp;&nbsp;&nbsp;Bulan</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="card-box">
        <div class="row">
            <h3 class="panel-title">SWITCH IN</h3>
            <div class="col-md-12">
                <!-- Begin Kode Product -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Kode Produk</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdCode).HtmlAttributes(new { @id = "srcProductSwcRDBIn_text1", @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                        <span class="input-group-btn">
                            <a id="srcProductSwcRDBIn" href="@Url.Action("SearchProduct", "Global")" data-toggle="modal" data-target="#ProductSwcRDBModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdName).HtmlAttributes(new { @id = "srcProductSwcRDBIn_text2", @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                    </div>
                </div>
                <!-- End Kode Product -->
                <!-- Begin Client Code -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Client Code</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientCode).HtmlAttributes(new { @id = "srcClientSwcRDBIn_text1", @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                        <span class="input-group-btn">
                            <a id="srcClientSwcRDBIn" href="@Url.Action("SearchClient", "Global")" data-toggle="modal" data-target="#ClientSwcRDBModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientName).HtmlAttributes(new { @id = "srcClientSwcRDBIn_text2", @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                    </div>
                </div>
                <!-- End Client Code -->

            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-8">

        <div class="form-group">
            <label class="col-sm-3 control-label">Switching Fee</label>
            <div class="input-group">
                <div class="checkbox checkbox-custom checkbox-circle">
                    @Html.Kendo().CheckBox().Name("checkFeeEditSwcRDB").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Label("Fee Edit").Enable(false)
                </div>                
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"></label>
            <div class="input-group">
                @Html.Kendo().TextBox().Name("MoneyFeeSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 100%;padding - top:200%;" }).Enable(false)
                <span class="input-group-btn"></span>
                <label id="labelFeeCurrencySwcRDB" class="col-sm-3 control-label">CURR</label>
                <span class="input-group-btn"></span>
                @Html.Kendo().TextBox().Name("PercentageFeeSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:50px" }).Enable(false)
                <span class="input-group-btn"></span>
                <label id="_keteranganFeeSwcRDB" class="col-sm-3 control-label">%</label>
            </div>
        </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Inputter</label>
                <div class="input-group">
                    @Html.Kendo().TextBox().Name("txtbInputterSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="input-group">
                    <button id="btnDokumenSwcRDB" class="btn btn-default waves-effect waves-light">
                        <span class="btn-label">
                            <i class="fa fa-search"></i>
                        </span>
                        Cek Dokumen
                    </button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Seller</label>
                <div class="input-group">
                    @Html.Kendo().TextBoxFor(model => model.ReferentorModel.EMPLID).HtmlAttributes(new { @id = "srcSellerSwcRDB_text1", @class = "form-control input-sm" }).Enable(false)
                    <span class="input-group-btn">
                        <a id="srcSellerSwcRDB" href="@Url.Action("SearchReferentor", "Global")" data-toggle="modal" data-target="#SellerSwcRDBModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                    </span>
                    @Html.Kendo().TextBoxFor(model => model.ReferentorModel.NAME).HtmlAttributes(new { @id = "srcSellerSwcRDB_text2", @class = "form-control input-sm" }).Enable(false)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Kode WAPERD</label>
                <div class="input-group">
                    @Html.Kendo().TextBoxFor(model => model.WaperdModel.WaperdNo).HtmlAttributes(new { @id = "srcWaperdSwcRDB_text1", @class = "form-control input-sm" }).Enable(false)
                    <span class="input-group-btn">
                        <a id="srcWaperdSwcRDB" href="@Url.Action("SearchWaperd", "Global")" data-toggle="modal" data-target="#WaperdSwcRDBModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                    </span>
                    @Html.Kendo().TextBoxFor(model => model.WaperdModel.WaperdNo).HtmlAttributes(new { @id = "srcWaperdSwcRDB_text2", @class = "form-control input-sm" }).Enable(false)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Tgl Expire</label>
                <div class="input-group">
                    @Html.Kendo().TextBox().Name("textExpireWaperdSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">NIK Referrantor</label>
                <div class="input-group">
                    @Html.Kendo().TextBoxFor(model => model.ReferentorModel.EMPLID).HtmlAttributes(new { @id = "srcReferentorSwcRDB_text1", @class = "form-control input-sm" }).Enable(false)
                    <span class="input-group-btn">
                        <a id="srcReferentorSwcRDB" href="@Url.Action("SearchReferentor", "Global")" data-toggle="modal" data-target="#NIKRefSwcRDBModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                    </span>
                    @Html.Kendo().TextBoxFor(model => model.ReferentorModel.NAME).HtmlAttributes(new { @id = "srcReferentorSwcRDB_text2", @class = "form-control input-sm" }).Enable(false)
                </div>
            </div>
    </div>
</div>
<!-- Begin Modal -->
<div class="modal fade" id="OfficeSwcRDBModal" tabindex="-1" role="dialog" aria-labelledby="OfficeSwcRDBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="CustomerSwcRDBModal" tabindex="-1" role="dialog" aria-labelledby="CustomerSwcRDBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ReferensiSwcRDBModal" tabindex="-1" role="dialog" aria-labelledby="ReferensiSwcRDBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ProductSwcRDBModal" tabindex="-1" role="dialog" aria-labelledby="ProductSwcRDBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ClientSwcRDBModal" tabindex="-1" role="dialog" aria-labelledby="ClientSwcRDBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="CurrencySwcRDBModal" tabindex="-1" role="dialog" aria-labelledby="CurrencySwcRDBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="SellerSwcRDBModal" tabindex="-1" role="dialog" aria-labelledby="SellerSwcRDBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="WaperdSwcRDBModal" tabindex="-1" role="dialog" aria-labelledby="WaperdSwcRDBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="NIKRefSwcRDBModal" tabindex="-1" role="dialog" aria-labelledby="NIKRefSwcRDBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<!-- End Modal -->

<script>

</script>
