@model Reksa.ViewModels.TransaksiListViewModel

<div class="col-md-12">
    <div class="card-box">
        <div class="row">
            <div class="col-md-6">
                <!-- Begin Search Office -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Kode Kantor</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.OfficeModel.OfficeId).HtmlAttributes(new { @id = "srcOfficeSwc_text1", @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                        <span class="input-group-btn">
                            <a id="srcOfficeSwc" href="@Url.Action("SearchOffice", "Global")" data-toggle="modal" data-target="#OfficeSwcModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.OfficeModel.OfficeName).HtmlAttributes(new { @id = "srcOfficeSwc_text2", @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                    </div>
                </div>
                <!-- End Search Office -->
                <!-- Begin Search CIF -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">No CIF</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.CustomerModel.CIFNo).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcCIFSwc_text1" })
                        <span class="input-group-btn">
                            <a id="srcCIFSwc" href="@Url.Action("SearchCustomerSwc", "Global")" data-toggle="modal" data-target="#CustomerSwcModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.CustomerModel.CIFName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcCIFSwc_text2" }).Enable(false)
                    </div>
                </div>
                <!-- End Search CIF -->
                <!-- Begin Search RefID -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">No Referensi</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.SwitchingModel.RefID).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcNoRefSwc_text1" })
                        <span class="input-group-btn">
                            <a id="srcNoRefSwc" href="@Url.Action("SearchSwitching", "Global")" data-toggle="modal" data-target="#ReferensiSwcModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.SwitchingModel.RefID).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcNoRefSwc_text2" }).Enable(false)
                    </div>
                </div>
                <!-- End Search RefID -->
            </div>
            <div class="col-md-6">
                <div class="card-box">
                    <div class="row">
                        <!-- Begin Jenis Risk Profile -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Jenis Risk Profile</label>
                            <div class="input-group">
                                @Html.Kendo().TextBox().Name("txtbRiskProfileSwc").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 100%;" }).Enable(false)
                            </div>
                        </div>
                        <!-- End Jenis Risk Profile -->
                        <!-- Begin Last Update Risk Profile -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Last Update Risk Profile</label>
                            <div class="input-group">
                                @(Html.Kendo().DatePicker().Name("dtpRiskProfileSwc").HtmlAttributes(new { style = "width: 200px;" }).Enable(false))
                            </div>
                        </div>
                        <!-- End Last Update Risk Profile -->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Begin Input SID -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">SID</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("textSIDSwc").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Umur</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("txtUmurSwc").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 80px;" }).Enable(false)
                        <label>&nbsp;&nbsp;&nbsp;Tahun</label>
                    </div>
                </div>
                <!-- End Input SID -->
                <!-- Begin Input Shareholder ID -->
                <div class="form-group" hidden="hidden">
                    <label class="col-sm-3 control-label">Shareholder ID</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("textShareHolderIdSwc").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                    </div>
                </div>
                <!-- End Input Shareholder ID -->
                <!-- Begin No Transaksi -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">No Transaksi</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("textNoTransaksiSwc").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:200px" }).Enable(false)
                    </div>
                </div>
                <!-- End No Transaksi -->
            </div>
            <div class="col-md-6">
                <!-- Begin Input Rekening IDR -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Rekening IDR</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("maskedRekeningSwc").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;" }).Enable(false)
                        <span class="input-group-btn"></span>
                        @Html.Kendo().TextBox().Name("textNamaRekeningSwc").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 240px;" }).Enable(false)
                    </div>
                </div>
                <!-- End Input Rekening IDR -->
                <!-- Begin Input Rekening USD -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Rekening USD</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("maskedRekeningSwcUSD").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;" }).Enable(false)
                        <span class="input-group-btn"></span>
                        @Html.Kendo().TextBox().Name("textNamaRekeningSwcUSD").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 240px;" }).Enable(false)
                    </div>
                </div>
                <!-- End Input Rekening USD -->
                <!-- Begin Input Rekening -->
                <div class="form-group" hidden="hidden">
                    <label class="col-sm-3 control-label">Rekening</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("maskedRekeningSwcMC").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;" }).Enable(false)
                        <span class="input-group-btn"></span>
                        @Html.Kendo().TextBox().Name("textNamaRekeningSwcMC").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 240px;" }).Enable(false)
                    </div>
                </div>
                <!-- End Input Rekening -->
                <!-- Begin Tgl Transaksi -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Tgl Transaksi</label>
                    <div class="input-group">
                        @(Html.Kendo().DatePicker().Name("dateTglTransaksiSwc").HtmlAttributes(new { style = "width: 150px;" }).Enable(false))
                    </div>
                </div>
                <!-- End Tgl Transaksi -->
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="card-box">
        <div class="row">
            <h3 class="panel-title">SWITCH OUT</h3>
            <div class="col-md-12">
                <!-- Begin Kode Product -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Kode Produk</label>
                    <div class="input-group col-md-8">
                        @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;font-size: 90%;", @id = "srcProductSwcOut_text1" }).Enable(false)
                        <span class="input-group-btn">
                            <a id="srcProductSwcOut" href="@Url.Action("SearchTrxProductSwcOut", "Global")" data-toggle="modal" data-target="#ProductSwcOutModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 220px;font-size: 90%;", @id = "srcProductSwcOut_text2" }).Enable(false)
                        @Html.Kendo().TextBoxFor(model => model.TransaksiProduct.ProdId).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ProdIdSwcOut", @type = "hidden" })
                        @Html.Kendo().TextBoxFor(model => model.TransaksiProduct.ProdCCY).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ProdCCYSwcOut", @type = "hidden" })
                    </div>
                </div>
                <!-- End Kode Product -->
                <!-- Begin Client Code -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Client Code</label>
                    <div class="input-group col-md-8">
                        @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;;font-size: 90%;", @id = "srcClientSwcOut_text1" }).Enable(false)
                        <span class="input-group-btn">
                            <a id="srcClientSwcOut" href="@Url.Action("SearchClient", "Global")" data-toggle="modal" data-target="#ClientSwcOutModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;font-size: 90%;", @id = "srcClientSwcOut_text2" }).Enable(false)
                        @Html.Kendo().TextBox().Name("ClientIdSwcOut").HtmlAttributes(new { @class = "form-control input-sm", style = "width:150%;", @type = "hidden" })
                    </div>
                </div>
                <!-- End Client Code -->
                <!-- Begin OutStanding Unit -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">OutStanding Unit</label>
                    <div class="input-group col-md-8">
                        @*@Html.Kendo().TextBox().Name("OutstandingUnitSwc").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 80%;" }).Enable(false)*@
                        @Html.Kendo().NumericTextBox().Name("OutstandingUnitSwc").HtmlAttributes(new { style = "width: 220px;" }).Enable(false).Min(0)
                    </div>
                </div>
                <!-- End OutStanding Unit -->
                <!-- Begin Jumlah Unit -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Jumlah Unit</label>
                    <div class="input-group col-md-8">
                        @*@Html.Kendo().TextBox().Name("RedempSwc").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 80%;" }).Enable(false)*@
                        @Html.Kendo().NumericTextBox().Name("RedempSwc").HtmlAttributes(new { style = "width: 220px;" }).Enable(false).Min(0)
                    </div>
                </div>
                <!-- End Jumlah Unit -->
                <div class="col-md-6">
                    <div class="checkbox checkbox-custom checkbox-circle">
                        @(Html.Kendo().CheckBox().Name("checkPhoneOrderSwc").Label("Transaksi melalui Telepon").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Enable(false))
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="checkbox checkbox-custom checkbox-circle">
                        @(Html.Kendo().CheckBox().Name("checkSwcAll").Label("All").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Enable(false))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="card-box">
        <div class="row">
            <h3 class="panel-title">SWITCH IN</h3>
            <div class="col-md-12">
                <!-- Begin Kode Product -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Kode Produk</label>
                    <div class="input-group col-md-8">
                        @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;font-size: 90%;", @id = "srcProductSwcIn_text1" }).Enable(false)
                        <span class="input-group-btn">
                            <a id="srcProductSwcIn" href="@Url.Action("SearchTrxProductSwcIn", "Global")" data-toggle="modal" data-target="#ProductSwcInModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 220px;font-size: 90%;", @id = "srcProductSwcIn_text2" }).Enable(false)
                        @Html.Kendo().TextBoxFor(model => model.TransaksiProduct.ProdId).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ProdIdSwcIn", @type = "hidden" })
                        @Html.Kendo().TextBoxFor(model => model.TransaksiProduct.ProdCCY).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ProdCCYSwcIn", @type = "hidden" })
                    </div>
                </div>
                <!-- End Kode Product -->
                <!-- Begin Client Code -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Client Code</label>
                    <div class="input-group col-md-8">
                        @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;font-size: 90%;", @id = "srcClientSwcIn_text1" }).Enable(false)
                        <span class="input-group-btn">
                            <a id="srcClientSwcIn" href="@Url.Action("SearchClient", "Global")" data-toggle="modal" data-target="#ClientSwcInModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;font-size: 90%;", @id = "srcClientSwcIn_text2" }).Enable(false)
                        @Html.Kendo().TextBox().Name("ClientIdSwcIn").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @type = "hidden" })
                    </div>
                </div>
                <!-- End Client Code -->
            </div>

        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="portlet">
        <div class="portlet-heading bg-custom">Switching Fee</div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-5">
                        <div class="checkbox checkbox-custom checkbox-circle">
                            @Html.Kendo().CheckBox().Name("checkFeeEditSwc").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Label("Fee Edit").Enable(false)
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"></label>
                        <div class="input-group">
                            @*@Html.Kendo().TextBox().Name("MoneyFeeRedemp").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;padding - top:200%;" }).Enable(false)*@
                            @Html.Kendo().NumericTextBox().Name("MoneyFeeSwc").HtmlAttributes(new { style = "width: 200px;" }).Enable(false).Min(0)
                            <span class="input-group-btn"></span>
                            <label id="labelFeeCurrencySwc">&nbsp;&nbsp;&nbsp;IDR</label>
                            <span class="input-group-btn"></span>
                            @*@Html.Kendo().TextBox().Name("PercentageFeeRedemp").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:50px" }).Enable(false)*@
                            @Html.Kendo().NumericTextBox().Name("PercentageFeeSwc").HtmlAttributes(new { style = "width: 110px;" }).Enable(false).Min(0)
                            <span class="input-group-btn"></span>
                            <label id="_KeteranganFeeSwc">&nbsp;&nbsp;&nbsp;%</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-8">
        <div class="form-group">
            <label class="col-sm-3 control-label">Inputter</label>
            <div class="input-group">
                @Html.Kendo().TextBox().Name("txtbInputterSwc").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"></label>
            <div class="input-group">
                <button id="btnDokumenSwc" href="@Url.Action("Document", "Global" )" data-toggle="modal" data-target="#DocumentModalSwc" class="btn btn-default waves-effect waves-light">
                    <span class="btn-label">
                        <i class="fa fa-search"></i>
                    </span>
                    Cek Dokumen
                </button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Seller</label>
            <div class="input-group col-md-6">
                @Html.Kendo().TextBoxFor(model => model.ReferentorModel.EMPLID).HtmlAttributes(new { @id = "srcSellerSwc_text1", @class = "form-control input-sm", style = "width:150%;" }).Enable(false)
                <span class="input-group-btn">
                    <a id="srcSellerSwc" href="@Url.Action("SearchSellerSwc", "Global")" data-toggle="modal" data-target="#SellerSwcModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                </span>
                @Html.Kendo().TextBoxFor(model => model.ReferentorModel.NAME).HtmlAttributes(new { @id = "srcSellerSwc_text2", @class = "form-control input-sm", style = "width:250px;" }).Enable(false)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Kode WAPERD</label>
            <div class="input-group col-md-6">
                @Html.Kendo().TextBoxFor(model => model.WaperdModel.WaperdNo).HtmlAttributes(new { @id = "srcWaperdSwc_text1", @class = "form-control input-sm", style = "width:150%;" }).Enable(false)
                <span class="input-group-btn">
                    <a id="srcWaperdSwc" href="@Url.Action("SearchWaperd", "Global")" data-toggle="modal" data-target="#WaperdSwcModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                </span>
                @Html.Kendo().TextBoxFor(model => model.WaperdModel.WaperdNo).HtmlAttributes(new { @id = "srcWaperdSwc_text2", @class = "form-control input-sm", style = "width:250px;" }).Enable(false)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Tgl Expire</label>
            <div class="input-group">
                @Html.Kendo().TextBox().Name("textExpireWaperdSwc").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">NIK Referrantor</label>
            <div class="input-group col-md-6">
                @Html.Kendo().TextBoxFor(model => model.ReferentorModel.EMPLID).HtmlAttributes(new { @id = "srcReferentorSwc_text1", @class = "form-control input-sm", style = "width:150%;" }).Enable(false)
                <span class="input-group-btn">
                    <a id="srcReferentorSwc" href="@Url.Action("SearchReferentorSwc", "Global")" data-toggle="modal" data-target="#NIKRefSwcModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                </span>
                @Html.Kendo().TextBoxFor(model => model.ReferentorModel.NAME).HtmlAttributes(new { @id = "srcReferentorSwc_text2", @class = "form-control input-sm", style = "width:250px;" }).Enable(false)
            </div>
        </div>
    </div>
</div>
<!-- Begin Modal -->
<div class="modal fade" id="OfficeSwcModal" tabindex="-1" role="dialog" aria-labelledby="OfficeSwcModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="CustomerSwcModal" tabindex="-1" role="dialog" aria-labelledby="CustomerSwcModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ReferensiSwcModal" tabindex="-1" role="dialog" aria-labelledby="ReferensiSwcModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ProductSwcInModal" tabindex="-1" role="dialog" aria-labelledby="ProductSwcModalInLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ProductSwcOutModal" tabindex="-1" role="dialog" aria-labelledby="ProductSwcModalOutLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ClientSwcOutModal" tabindex="-1" role="dialog" aria-labelledby="ClientSwcOutModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ClientSwcInModal" tabindex="-1" role="dialog" aria-labelledby="ClientSwcInModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="CurrencySwcModal" tabindex="-1" role="dialog" aria-labelledby="CurrencySwcModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="SellerSwcModal" tabindex="-1" role="dialog" aria-labelledby="SellerSwcModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="WaperdSwcModal" tabindex="-1" role="dialog" aria-labelledby="WaperdSwcModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="NIKRefSwcModal" tabindex="-1" role="dialog" aria-labelledby="NIKRefSwcModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="DocumentModalSwc" tabindex="-1" role="dialog" aria-labelledby="DocumentModalSwcLabel">
    <div class="modal-dialog" style="width:75%;">
        <div class="modal-content"></div>
    </div>
</div>

<!-- End Modal -->

<script>

</script>
