@model Reksa.ViewModels.TransaksiListViewModel

<div class="col-md-12">
    <div class="card-box">
        <div class="row">
            <div class="col-md-6">
                <!-- Begin Search Office -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Kode Kantor</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.OfficeModel.OfficeId).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)

                        <span class="input-group-btn">
                            <a href="@Url.Action("SearchOffice", "Global")" data-toggle="modal" data-target="#OfficeSwcRDBModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.OfficeModel.OfficeName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                    </div>
                </div>
                <!-- End Search Office -->
                <!-- Begin Search CIF -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">No CIF</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.CustomerModel.CIFNo).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "CIFNoSwcRDB" })

                        <span class="input-group-btn">
                            <a href="@Url.Action("SearchCustomer", "Global")" data-toggle="modal" data-target="#CustomerSwcRDBModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.CustomerModel.CIFName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "CIFNameSwcRDB" })
                    </div>
                </div>
                <!-- End Search CIF -->
                <!-- Begin Search RefID -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">No Referensi</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.ReferensiModel.RefID).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "RefIDSwcRDB" })

                        <span class="input-group-btn">
                            <a href="@Url.Action("SearchReferensi", "Global", new { criteria = "SWCRDB" })" data-toggle="modal" data-target="#ReferensiSwcRDBModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.ReferensiModel.RefID).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "RefNameSwcRDB" }).Format("{0:dd MMMM yyyy}")
                    </div>
                </div>
                <!-- End Search RefID -->
                <!-- Begin Input SID -->

                <div class="form-group">
                    <label class="col-sm-3 control-label">SID</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("CIFSIDSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Umur</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("UmurSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 80px;" }).Enable(false)

                        <label>&nbsp;&nbsp;&nbsp;Tahun</label>
                    </div>
                </div>
                <!-- End Input SID -->
                <!-- Begin Input Shareholder ID -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Shareholder ID</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("ShareHolderIdSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                    </div>
                </div>
                <!-- End Input Shareholder ID -->
            </div>
            <div class="col-md-6" style="padding-left:100px">
                <div class="card-box">
                    <div class="row">
                        <!-- Begin Jenis Risk Profile -->
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Jenis Risk Profile</label>
                                <div class="input-group">
                                    @Html.Kendo().TextBox().Name("JenisRiskProfileSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 100%;" }).Enable(false)
                                </div>
                            </div>
                        </form>
                        <!-- End Jenis Risk Profile -->
                        <!-- Begin Last Update Risk Profile -->
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Last Update Risk Profile</label>
                                <div class="input-group">
                                    @(Html.Kendo().DatePicker().Name("LastUpdatedRiskSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false))
                                </div>
                            </div>
                        </form>
                        <!-- End Last Update Risk Profile -->
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="align-content:flex-start">
                <!-- Begin Input Rekening IDR -->
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Rekening IDR</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("AccRekeningIDRSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                            <span class="input-group-btn"></span>
                            @Html.Kendo().TextBox().Name("NameRekeningIDRSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                        </div>
                    </div>
                </form>
                <!-- End Input Rekening IDR -->
                <!-- Begin Input Rekening USD -->
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Rekening USD</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("AccRekeningUSDSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                            <span class="input-group-btn"></span>
                            @Html.Kendo().TextBox().Name("NameRekeningUSDSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                        </div>
                    </div>
                </form>
                <!-- End Input Rekening USD -->
                <!-- Begin Input Rekening -->
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Rekening</label>
                        <div class="input-group">
                            @Html.Kendo().TextBox().Name("AccRekeningMCSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                            <span class="input-group-btn"></span>
                            @Html.Kendo().TextBox().Name("NameRekeningMCSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                        </div>
                    </div>
                </form>
                <!-- End Input Rekening -->
            </div>
            <div class="col-md-8">
                <!-- Begin No Transaksi -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">No Transaksi</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("NoTransaksiSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:200px" }).Enable(false)
                    </div>
                </div>
                <!-- End No Transaksi -->
                

            </div>
            <div class="col-md-4">
                <!-- Begin Tgl Transaksi -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Tgl Transaksi</label>
                    <div class="input-group">
                        @(Html.Kendo().DatePicker().Name("TglTransaksiSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;" }).Enable(false))
                    </div>
                </div>
                <!-- End Tgl Transaksi -->
            </div>

        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="card-box">
        <div class="row">
            <h3 class="panel-title">SWITCH OUT</h3>
            <div class="col-md-12">
                <!-- Begin Kode Product -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Kode Produk</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ProdCodeSwcRDB" }).Enable(false)
                        <span class="input-group-btn">
                            <a href="@Url.Action("SearchProduct", "Global")" data-toggle="modal" data-target="#ProductSwcRDBModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ProdNameSwcRDB" }).Enable(false)
                    </div>
                </div>
                <!-- End Kode Product -->
                <!-- Begin Client Code -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Client Code</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ClientCodeSwcRDB" }).Enable(false)

                        <span class="input-group-btn">
                            <a href="@Url.Action("SearchClient", "Global")" data-toggle="modal" data-target="#ClientSwcRDBModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ClientNameSwcRDB" }).Enable(false)
                    </div>
                </div>
                <!-- End Client Code -->
                <!-- Begin OutStanding Unit -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">OutStanding Unit</label>
                    <div class="input-group col-md-8">
                        @Html.Kendo().TextBox().Name("OutstandingRedemp").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 80%;" }).Enable(false)
                    </div>
                </div>
                <!-- End OutStanding Unit -->
                <!-- Begin Jumlah Unit -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Jumlah Unit</label>
                    <div class="input-group col-md-8">
                        @Html.Kendo().TextBox().Name("JumlahUnitRedemp").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 80%;" }).Enable(false)
                    </div>
                </div>
                <!-- End Jumlah Unit -->
                <div class="form-group">
                    <label class="col-sm-4 control-label"></label>
                    @(Html.Kendo().CheckBox().Name("PhoneOrderSwcRDB").Label("Transaksi melalui Telepon").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Enable(false))
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Jangka Waktu</label>
                    <div class="input-group">
                        @Html.Kendo().TextBox().Name("jangkawaktuRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 80px;" }).Enable(false)
                        <label>&nbsp;&nbsp;&nbsp;Bulan</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Jatuh Tempo</label>
                    <div class="input-group">
                        @(Html.Kendo().DatePicker().Name("dateJatuhTempo").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false))
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Auto Redemp</label>
                    <div class="input-group">
                        @(Html.Kendo().DropDownList().Name("AutoRedempRDB")
                                                .BindTo(new List<SelectListItem>() {
                                                                                    new SelectListItem() {
                                                                                    Text = "Tidak",
                                                                                    Value = "0"
                                                                                    },
                                                                                    new SelectListItem() {
                                                                                    Text = "Ya",
                                                                                    Value = "1"
                                                                                    }
                                                })
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                        )
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Asuransi</label>
                    <div class="input-group">
                        @(Html.Kendo().DropDownList().Name("AsuransiRDB")
                                                        .BindTo(new List<SelectListItem>() {
                                                                                                        new SelectListItem() {
                                                                                                        Text = "Tidak",
                                                                                                        Value = "0"
                                                                                                        },
                                                                                                        new SelectListItem() {
                                                                                                        Text = "Ya",
                                                                                                        Value = "1"
                                                                                                        }
                                                        })
                                                        .DataTextField("Text")
                                                        .DataValueField("Value")
                        )
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Frek Pendebetan</label>
                    <div class="input-group">
                        @(Html.Kendo().DropDownList().Name("FrekPendebatanRDB")
                                        .BindTo(new List<SelectListItem>() {
                                                                new SelectListItem() {
                                                                Text = "By Nominal",
                                                                Value = "0"
                                                                },
                                                                new SelectListItem() {
                                                                Text = "By %",
                                                                Value = "1"
                                                                }
                                        })
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                        )<label>&nbsp;&nbsp;&nbsp;Bulan</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="card-box">
        <div class="row">
            <h3 class="panel-title">SWITCH IN</h3>
            <div class="col-md-12">
                <!-- Begin Kode Product -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Kode Produk</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ProdCodeSwcRDB" }).Enable(false)
                        <span class="input-group-btn">
                            <a href="@Url.Action("SearchProduct", "Global")" data-toggle="modal" data-target="#ProductSwcRDBModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ProdNameSwcRDB" }).Enable(false)
                    </div>
                </div>
                <!-- End Kode Product -->
                <!-- Begin Client Code -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Client Code</label>
                    <div class="input-group">
                        @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ClientCodeSwcRDB" }).Enable(false)

                        <span class="input-group-btn">
                            <a href="@Url.Action("SearchClient", "Global")" data-toggle="modal" data-target="#ClientSwcRDBModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.ClientModel.ClientName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "ClientNameSwcRDB" }).Enable(false)
                    </div>
                </div>
                <!-- End Client Code -->

            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-8">

        <div class="form-group">
            <label class="col-sm-3 control-label">Switching Fee</label>
            <div class="input-group">
                <div class="checkbox checkbox-custom checkbox-circle">
                    @Html.Kendo().CheckBox().Name("FeeeditSwcRDB").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Label("Fee Edit").Enable(false)
                </div>
                <div class="input-group">
                    @(Html.Kendo().DropDownList().Name("JenisSwcRDB").BindTo(new List<SelectListItem>() {
                                                                                                                                                        new SelectListItem() {
                                                                                                                                                        Text = "By Nominal",
                                                                                                                                                        Value = "0"
                                                                                                                                                        },
                                                                                                                                                        new SelectListItem() {
                                                                                                                                                        Text = "By %",
                                                                                                                                                        Value = "1"
                                                                                                                                                        }
                                                                                    })
                                                                    .DataTextField("Text")
                                                                    .DataValueField("Value"))
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"></label>
            <div class="input-group">
                @Html.Kendo().TextBox().Name("FeeSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 100%;padding - top:200%;" }).Enable(false)
                <span class="input-group-btn"></span>
                <label id="currFeeSubs" class="col-sm-3 control-label">CURR</label>
                <span class="input-group-btn"></span>
                @Html.Kendo().TextBox().Name("PercentageFeeSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:50px" }).Enable(false)
                <span class="input-group-btn"></span>
                <label id="keteranganFeeSubs" class="col-sm-3 control-label">%</label>
            </div>
        </div>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label">Inputter</label>
                <div class="input-group">
                    @Html.Kendo().TextBox().Name("InputterSwcRDB").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;" }).Enable(false)
                </div>
            </div>
        </form>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="input-group">
                    <button class="btn btn-default waves-effect waves-light" id=myButton>
                        <span class="btn-label">
                            <i class="fa fa-search"></i>
                        </span>
                        Cek Dokumen
                    </button>
                </div>
            </div>
        </form>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label">Seller</label>
                <div class="input-group">
                    @Html.Kendo().TextBoxFor(model => model.ReferentorModel.EMPLID).HtmlAttributes(new { @class = "form-control input-sm" }).Enable(false)

                    <span class="input-group-btn">
                        <a href="@Url.Action("SearchReferentor", "Global")" data-toggle="modal" data-target="#SellerSwcRDBModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                    </span>
                    @Html.Kendo().TextBoxFor(model => model.ReferentorModel.NAME).HtmlAttributes(new { @class = "form-control input-sm" }).Enable(false)
                </div>
            </div>
        </form>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label">Kode WAPERD</label>
                <div class="input-group">
                    @Html.Kendo().TextBoxFor(model => model.WaperdModel.WaperdNo).HtmlAttributes(new { @class = "form-control input-sm" }).Enable(false)

                    <span class="input-group-btn">
                        <a href="@Url.Action("SearchWaperd", "Global")" data-toggle="modal" data-target="#WaperdSwcRDBModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                    </span>
                    @Html.Kendo().TextBoxFor(model => model.WaperdModel.WaperdNo).HtmlAttributes(new { @class = "form-control input-sm" }).Enable(false)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Tgl Expire</label>
                <div class="input-group">
                    @Html.Kendo().TextBox().Name("WaperdCode").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;" }).Enable(false)
                </div>
            </div>
        </form>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label">NIK Referrantor</label>
                <div class="input-group">
                    @Html.Kendo().TextBoxFor(model => model.ReferentorModel.EMPLID).HtmlAttributes(new { @class = "form-control input-sm" }).Enable(false)

                    <span class="input-group-btn">
                        <a href="@Url.Action("SearchReferentor", "Global")" data-toggle="modal" data-target="#NIKRefSwcRDBModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                    </span>
                    @Html.Kendo().TextBoxFor(model => model.ReferentorModel.NAME).HtmlAttributes(new { @class = "form-control input-sm" }).Enable(false)
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Begin Modal -->
<div class="modal fade" id="OfficeSwcRDBModal" tabindex="-1" role="dialog" aria-labelledby="OfficeSwcRDBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="CustomerSwcRDBModal" tabindex="-1" role="dialog" aria-labelledby="CustomerSwcRDBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ReferensiSwcRDBModal" tabindex="-1" role="dialog" aria-labelledby="ReferensiSwcRDBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ProductSwcRDBModal" tabindex="-1" role="dialog" aria-labelledby="ProductSwcRDBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="ClientSwcRDBModal" tabindex="-1" role="dialog" aria-labelledby="ClientSwcRDBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="CurrencySwcRDBModal" tabindex="-1" role="dialog" aria-labelledby="CurrencySwcRDBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="SellerSwcRDBModal" tabindex="-1" role="dialog" aria-labelledby="SellerSwcRDBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="WaperdSwcRDBModal" tabindex="-1" role="dialog" aria-labelledby="WaperdSwcRDBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="NIKRefSwcRDBModal" tabindex="-1" role="dialog" aria-labelledby="NIKRefSwcRDBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>


<!-- End Modal -->

<script>
    function onRowViewSwcRDBSelect(e) {
        var data = this.dataItem(this.select());
        $("#NoTransaksiSwcRDB").val(data.NoTrx);
        $("#ProdCodeSwcRDB").val(data.KodeProduk);
        var DateTrx = new Date(data.TglTrx);
        $("#TglTransaksiSwcRDB").val(DateTrx.getDate() + '/' + (DateTrx.getMonth() + 1) + '/' + DateTrx.getFullYear());
        $("#ClientCodeSwcRDB").val(data.ClientCode);
        $("#CurrCodeSwcRDB").val(data.CCY);


        $('#FeeeditSwcRDB').prop('checked', data.EditFee);
        $('#PhoneOrderSwcRDB').prop('checked', data.PhoneOrder);

        var KodeProduk = data.KodeProduk;
        var ClientCode = data.ClientCode;
        var ProdId;

        $.ajax({
            type: 'GET',
            url: '/Global/ValidateProduct',
            data: { Col1: KodeProduk, Col2: '', Validate: 1 },
            success: function (data) {
                $("#ProdNameSwcRDB").val(data[0].ProdName);
                ProdId = data[0].ProdId;
                $.ajax({
                    type: 'GET',
                    url: '/Global/ValidateClient',
                    data: { Col1: ClientCode, Col2: '', Validate: 1, ProdId: ProdId },
                    success: function (data) {
                        $("#ClientNameSwcRDB").val(data[0].ClientName);
                    }
                });
            }
        });

        var dropdownlist = $("#JenisSwcRDB").data("kendoDropDownList");
        var intJenis = data.JenisFee;
        //By Nominal
        if (intJenis == 0) {
            dropdownlist.select(0);
            $("#FeeSwcRDB").val(data.NominalFee);
            $("#PercentageFeeSwcRDB").val(data.PctFee);
            //By %
        } else {
            dropdownlist.select(1);
            $("#FeeSwcRDB").val(data.PctFee);
            $("#PercentageFeeSwcRDB").val(data.NominalFee);
        }
    };


    function ValidateProdCodeSwcRDB() {
        var ProductCode = $("#ProdCodeSwcRDB").val();
        $.ajax({
            type: 'GET',
            url: '/Global/ValidateProduct',
            data: { Col1: ProductCode, Col2: '', Validate: 1 },
            success: function (data) {
                $("#ProdNameSwcRDB").val(data[0].ProdName);
                $("#ProdIdSwcRDB").val(data[0].ProdId);
            }
        });
    }
    function ValidateClientSwcRDB() {
        var ClientCode = $("#ClientCodeSwcRDB").val();
        var ProdId = $("#ProdIdSwcRDB").val();
        $.ajax({
            type: 'GET',
            url: '/Global/ValidateClient',
            data: { Col1: ClientCode, Col2: '', Validate: 1, ProdId: ProdId },
            success: function (data) {
                $("#ClientNameSwcRDB").val(data[0].ClientName);
            }
        });
    }



</script>
