
            <div class="col-md-6">
                <div class="portlet">
                    <div class="portlet-heading bg-custom">Subscription Fee</div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>&nbsp;</h4>
                                <div id="dataGridView3"></div>
                            </div>
                            <div class="col-md-6">
                                <h4>(karyawan)</h4>
                                <div id="dataGridView4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet">
                    <div class="portlet-heading bg-custom">Redemption Fee</div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>&nbsp;</h4>
                                <div id="dataGridView1"></div>
                            </div>
                            <div class="col-md-6">
                                <h4>(karyawan)</h4>
                                <div id="dataGridView2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="portlet">
                    <div class="portlet-heading bg-custom">Fee Based</div>
                    <div class="portlet-body">
                        <div class="row">
                            <!-- Begin Subscription Fee -->
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Subscription Fee</label>
                                <div class="input-group">
                                    @Html.Kendo().NumericTextBox().Name("textBox13").HtmlAttributes(new { style = "width: 150px;" }).Enable(false).Min(0)
                                    <label>&nbsp;&nbsp;&nbsp;%</label>
                                </div>
                            </div>
                            <!-- End Subscription Fee -->
                            <!-- Begin Redemption Fee -->
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Redemption Fee</label>
                                <div class="input-group">
                                    @Html.Kendo().NumericTextBox().Name("textBox15").HtmlAttributes(new { style = "width: 150px;" }).Enable(false).Min(0)
                                    <label>&nbsp;&nbsp;&nbsp;%</label>
                                </div>
                            </div>
                            <!-- End Redemption Fee -->
                            <!-- Begin Maintenance Fee -->
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Maintenance Fee</label>
                                <div class="input-group">
                                    @Html.Kendo().NumericTextBox().Name("textBox16").HtmlAttributes(new { style = "width: 150px;" }).Enable(false).Min(0)
                                    <label>&nbsp;&nbsp;&nbsp;%</label>
                                </div>
                            </div>
                            <!-- End Maintenance Fee -->
                            <!-- Begin Up Front Fee -->
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Up Front Fee</label>
                                <div class="input-group">
                                    @Html.Kendo().NumericTextBox().Name("textBox3").HtmlAttributes(new { style = "width: 150px;" }).Enable(false).Min(0)
                                    <label>&nbsp;&nbsp;&nbsp;%</label>
                                </div>
                            </div>
                            <!-- End Up Front Fee -->
                            <!-- Begin Selling Fee -->
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Selling Fee</label>
                                <div class="input-group">
                                    @Html.Kendo().NumericTextBox().Name("textBox4").HtmlAttributes(new { style = "width: 150px;" }).Enable(false).Min(0)
                                    <label>&nbsp;&nbsp;&nbsp;%</label>
                                </div>
                            </div>
                            <!-- End Selling Fee -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet">
                    <div class="portlet-heading bg-custom">Maintenance Fee Distribution</div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="dgvMaintenanceFee"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


