@model Reksa.ViewModels.ParameterListViewModel
@using Reksa.Models
@using Kendo.Mvc.UI.Fluent

@{
    ViewData["Title"] = "Parameter Global";
}
<div class="col-lg-12">
    <div class="col-md-3">
        <div class="panel panel-default" style="padding-bottom:100%">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Submenu</a>
                </h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        @(Html.Kendo().TreeView().Name("TreeViewParamGlobal")
                                            .BindTo((IEnumerable<TreeViewModel>)ViewBag.Tree, (NavigationBindingFactory<TreeViewItem> mappings) =>
                                            {
                                                mappings.For<TreeViewModel>(binding => binding.ItemDataBound((item, node) =>
                                                       {
                                                           item.Id = node.InterfaceTypeId.ToString(); item.Text = node.Caption; item.Expanded = node.Expanded;
                                                       }).Children(node => node.Children));
                                            }).Events(events => events.Select("trvSetupParameter_AfterSelect")
                                            )
                        )
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Parameter Global</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse in" aria-expanded="true">
                <div class="panel-body">
                    <div class="row">
                        <div class="card-box">
                            <!-- Begin Button -->
                            <div>
                                <div class="input-group">
                                    <button id=btnRefresh class="btn btn-default waves-effect waves-light" style="margin-right:10px">
                                        <span class="btn-label">
                                            <i class="fa fa-refresh"></i>
                                        </span>
                                        Refresh
                                    </button>
                                    <button id="btnNew" class="btn btn-primary waves-effect waves-light" style="margin-right:10px">
                                        <span class="btn-label">
                                            <i class="fa fa-plus"></i>
                                        </span>
                                        New
                                    </button>
                                    <button id="btnEdit" class="btn btn-info waves-effect waves-light" style="margin-right:10px">
                                        <span class="btn-label">
                                            <i class="fa fa-edit"></i>
                                        </span>
                                        Edit
                                    </button>
                                    <button id="btnDelete" class="btn btn-danger waves-effect waves-light" style="margin-right:10px">
                                        <span class="btn-label">
                                            <i class="fa fa-trash"></i>
                                        </span>
                                        Delete
                                    </button>
                                    <button id="btnSave" style="display:none;margin-right:10px;" class="btn btn-warning waves-effect waves-light">
                                        <span class="btn-label">
                                            <i class="fa fa-save"></i>
                                        </span>
                                        Save
                                    </button>
                                    <button id="btnCancel" style="display:none;margin-right:10px;" class="btn btn-danger waves-effect waves-light">
                                        <span class="btn-label">
                                            <i class="fa fa-remove"></i>
                                        </span>
                                        Cancel
                                    </button>
                                </div>
                            </div>
                            <!-- End Button -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label id="lblSP1" class="col-sm-3 control-label">@ViewData["lblSP1"]</label>
                                <div class="input-group">
                                    @Html.Kendo().TextBox().Name("txtbSP1").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                                </div>
                                <div id="cmpsrSearch1_div" class="input-group col-md-8" style="display:none;">
                                    @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdCode).HtmlAttributes(new { @class = "form-control input-sm", @id = "cmpsrSearch1_text1" }).Enable(false)
                                    <span class="input-group-btn">
                                        <a id="cmpsrSearch1" href="#display" data-toggle="modal" data-target="#cmpsrSearch1Modal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                                    </span>
                                    @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdName).HtmlAttributes(new { @id = "cmpsrSearch1_text2", @class = "form-control input-sm col-md-3", style = "width: 180px;" }).Enable(false)
                                    @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdId).HtmlAttributes(new { @class = "form-control input-sm", @id = "ProdId", @type = "Hidden" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label id="lblSP2" class="col-sm-3 control-label">@ViewData["lblSP2"]</label>
                                <div class="input-group">
                                    @Html.Kendo().TextBox().Name("txtbSP2").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 250px;" }).Enable(false)
                                    @(Html.Kendo().DropDownList().Name("comboBox3").BindTo(new List<SelectListItem>() { new SelectListItem() { Text = "Conservative", Value = "0" }, new SelectListItem() { Text = "Balance", Value = "1" }, new SelectListItem() { Text = "Growth", Value = "2" }, new SelectListItem() { Text = "Aggressive", Value = "3" }, new SelectListItem() { Text = "Highly Aggressive", Value = "4" } }).DataTextField("Text").DataValueField("Value").Value("0"))
                                </div>
                                <div id="cmpsrSearch2_div" class="input-group col-md-8" style="display:none;">
                                    @Html.Kendo().TextBox().Name("cmpsrSearch2_text1").HtmlAttributes(new { id = "cmpsrSearch2_text1", @class = "form-control input-sm" }).Enable(false)
                                    <span class="input-group-btn">
                                        <a id="cmpsrSearch2" href="#display" data-toggle="modal" data-target="#cmpsrSearch2Modal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                                    </span>
                                    @Html.Kendo().TextBox().Name("cmpsrSearch2_text2").HtmlAttributes(new { id = "cmpsrSearch2_text2", @class = "form-control input-sm col-md-3", style = "width: 180px;" }).Enable(false)
                                </div>
                            </div>
                            <div class="form-group">
                                <label id="lblSP4" class="col-sm-3 control-label">@ViewData["lblSP4"]</label>
                                <div class="input-group">
                                    @Html.Kendo().TextBox().Name("txtbSP5").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px; display:none;" }).Enable(false)
                                    <div id="checkBox1_div" class="checkbox checkbox-custom checkbox-circle">
                                        @Html.Kendo().CheckBox().Name("checkBox1").HtmlAttributes(new { @class = "checkbox checkbox-info checkbox-circle" }).Label("Is Employee")
                                    </div>
                                    @(Html.Kendo().DatePicker().Name("dtpSP").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;font-size: 100%" }))
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label id="lblSP3" class="col-sm-3 control-label">@ViewData["lblSP3"]</label>
                                <div class="input-group">
                                    @Html.Kendo().TextBox().Name("txtbSP3").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;" }).Enable(false)
                                    @(Html.Kendo().DropDownList().Name("comboBox1").BindTo(new List<SelectListItem>() { new SelectListItem() { Text = "Nominal", Value = "0" }, new SelectListItem() { Text = "Unit", Value = "1" } }).DataTextField("Text").DataValueField("Value").Value("0").HtmlAttributes(new { style = "display:none;width: 120px;" }))
                                </div>
                            </div>
                            <div class="form-group">
                                <label id="lblSP5" class="col-sm-3 control-label">@ViewData["label4"]</label>
                                <div class="input-group">
                                    @Html.Kendo().TextBox().Name("txtbSP4").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 300px;display:none;" }).Enable(false)
                                    @Html.Kendo().TextBox().Name("textBox1").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;display:none;" }).Enable(false)
                                    @(Html.Kendo().DropDownList().Name("comboBox2").BindTo(new List<SelectListItem>() { new SelectListItem() { Text = "Nominal", Value = "0" }, new SelectListItem() { Text = "Unit", Value = "1" } }).DataTextField("Text").DataValueField("Value").Value("0").HtmlAttributes(new { style = "width: 150px;" }))
                                    @(Html.Kendo().DatePicker().Name("dtpSP4").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;font-size: 100%" }))
                                </div>
                            </div>
                            <div class="form-group">
                                <label id="lblSP6" class="col-sm-3 control-label">@ViewData["label4"]</label>
                                <div class="input-group">
                                    @Html.Kendo().TextBox().Name("textPctSwc").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;display:none;" }).Enable(false)
                                    @(Html.Kendo().DatePicker().Name("dtpSP5").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;font-size: 100%" }))
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-top:30px">
                        <div id="dgvParam"></div>
                    </div>
                </div>
                <div class="modal fade" id="cmpsrSearch1Modal" tabindex="-1" role="dialog" aria-labelledby="cmpsrSearch1ModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content"></div>
                    </div>
                </div>
                <div class="modal fade" id="cmpsrSearch2Modal" tabindex="-1" role="dialog" aria-labelledby="cmpsrSearch2ModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="~/js/reksa.parameter.paramglobal.js"></script>
<script src="~/js/reksa.parameter.paramglobal.events.js"></script>