
@model Reksa.ViewModels.ParameterUpFrontSellFeeListViewModel

@{
    ViewData["Title"] = "UpFront Fee & Selling Fee";
}

<div class="card-box">
    <div class="row">
        <!-- Begin Buttons -->
        <div class="col-md-12">
            <div class="input-group">
                <button id="btnRefresh" class="btn btn-primary waves-effect waves-light" style="margin-right:10px">
                    <span class="btn-label">
                        <i class="fa fa-refresh"></i>
                    </span>
                    Refresh
                </button>
                <button id="btnNew" class="btn btn-default waves-effect waves-light" style="margin-right:10px">
                    <span class="btn-label">
                        <i class="fa fa-plus"></i>
                    </span>
                    New
                </button>

                <button id="btnEdit" class="btn btn-info waves-effect waves-light" style="margin-right:10px">
                    <span class="btn-label">
                        <i class="fa fa-edit"></i>
                    </span>
                    Edit
                </button>

                <button id="btnSave" style="display:none;margin-right:10px;" class="btn btn-warning waves-effect waves-light">
                    <span class="btn-label">
                        <i class="fa fa-save"></i>
                    </span>
                    Save
                </button>
                <button id="btnCancel" type="button" style="display:none;margin-right:10px;" class="btn btn-pink waves-effect waves-light">
                    <span class="btn-label">
                        <i class="fa fa-remove"></i>
                    </span>
                    Cancel
                </button>
            </div>
        </div>
        <!-- End Buttons -->
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="m-t-0 header-title">
            <a>UpFront Fee & Selling Fee</a>
        </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse in" aria-expanded="true">
        <div class="panel-body">
            <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Produk</label>
                        <div class="input-group col-md-6">
                            @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdCode).HtmlAttributes(new { @id = "ProdCode", @class = "form-control input-sm" }).Enable(false)
                            <span class="input-group-btn">
                                <a id="cmpsrProduct" href="@Url.Action("SearchProduct", "Global", new { seq = 1, type = "MB" })" data-toggle="modal" data-target="#ProductModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                            </span>
                            @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdName).HtmlAttributes(new { @id = "ProdName", @class = "form-control input-sm col-md-3", style = "width: 450px;" }).Enable(false)
                            @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdId).HtmlAttributes(new { @id = "ProdId", @class = "form-control input-sm", @type = "Hidden" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Jenis Fee</label>
                        <div class="input-group">
                            @(Html.Kendo().DropDownList().Name("_jenisFeeCmb").BindTo(new List<SelectListItem>() { new SelectListItem() { Text = "UpFront Fee", Value = "UPFRONT" }, new SelectListItem() { Text = "Selling Fee", Value = "SELLING" } }).DataTextField("Text").DataValueField("Value").Value("1"))
                        </div>
                    </div>
            </div>
            <!-- Begin Tabs -->
            <div class="col-md-12">
                <ul class="nav nav-tabs" style="background-color:#efefef;border-style:double;">
                    <li><a data-toggle="tab" href="#tab-paramdefault" id="tiering">Parameter Default</a></li>
                    <li><a data-toggle="tab" href="#tab-settingGL" id="settingGL">Setting GL</a></li>
                </ul>
                <div class="tab-content" style="border-style:double">
                        <!-- Begin Maintenance Fee -->
                        <div id="tab-paramdefault" class="tab-pane fade in active">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Percentage Parameter Default</label>
                                    <div class="input-group">
                                        @Html.Kendo().NumericTextBox().Name("PercentageDefault").HtmlAttributes(new { @id = "PercentageDefault", @style = "width:100px;" }).Min(0).Decimals(0).Enable(false).Events(e => { e.Change("onChange_PercentageDefault").Spin("onSpin_PercentageDefault"); })
                                        <span class="input-group-btn"></span>
                                        <label>&nbsp;&nbsp;&nbsp;%</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Maintenance Fee -->
                        <!-- Begin Setting GL -->
                        <div id="tab-settingGL" class="tab-pane fade">
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="form-inline">
                                        <div class="form-group m-r-10" style="padding-left:150px">
                                            <label>Nama GL</label>
                                        </div>
                                        <div class="form-group m-r-10" style="padding-left:150px">
                                            <label>Nomor GL</label>
                                        </div>
                                        <div class="form-group m-r-10" style="padding-left:150px">
                                            <label>&nbsp;</label>
                                        </div>
                                        <div class="form-group m-r-10" style="padding-left:120px">
                                            <label>Office Id</label>
                                        </div>
                                        <div class="form-group m-r-10" style="padding-left:30px">
                                            <label>Persentase</label>
                                        </div>
                                    </form>

                                    <form class="form-inline">
                                        <div class="form-group m-r-10">
                                            <label for="NoGL1">Nomor GL 1</label>
                                            <div class="input-group m-t-10">
                                                @Html.Kendo().TextBox().Name("_namaGL1").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:200px" })
                                            </div>
                                        </div>
                                        <div class="form-group m-r-10">
                                            <div class="input-group m-t-10">
                                                @Html.Kendo().TextBox().Name("_noGL1").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:200px" })
                                            </div>
                                        </div>
                                        <div class="form-group m-r-10">
                                            <div class="input-group m-t-10">
                                                @Html.Kendo().TextBox().Name("_descGL1").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:200px" })
                                            </div>
                                        </div>
                                        <div class="form-group m-r-10">
                                            <div class="input-group m-t-10" style="padding-left:100px">
                                            </div>
                                        </div>
                                        <div class="form-group m-r-10">
                                            <div class="input-group m-t-10">
                                                @Html.Kendo().NumericTextBox().Name("_percentGL1").HtmlAttributes(new { style = "width: 100px;" }).Min(0).Decimals(2).Enable(false).Events(e => { e.Change("onChange_percentGL1").Spin("onSpin_percentGL1"); })
                                                <span class="input-group-btn"></span>
                                                <label>&nbsp;&nbsp;&nbsp;%</label>
                                            </div>
                                        </div>
                                    </form>

                                    <form class="form-inline">
                                        <div class="form-group m-r-10">
                                            <label for="NoGL1">Nomor GL 2</label>
                                            <div class="input-group m-t-10">
                                                @Html.Kendo().TextBox().Name("_namaGL2").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:200px" })
                                            </div>
                                        </div>
                                        <div class="form-group m-r-10">
                                            <div class="input-group m-t-10">
                                                @Html.Kendo().TextBox().Name("_noGL2").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:200px" })
                                            </div>
                                        </div>
                                        <div class="form-group m-r-10">
                                            <div class="input-group m-t-10">
                                                @Html.Kendo().TextBox().Name("_descGL2").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:200px" })
                                            </div>
                                        </div>
                                        <div class="form-group m-r-10">
                                            <div class="input-group m-t-10">
                                                @Html.Kendo().TextBox().Name("_officeIdNoGL2").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:100px" })
                                            </div>
                                        </div>
                                        <div class="form-group m-r-10">
                                            <div class="input-group m-t-10">
                                                @Html.Kendo().NumericTextBox().Name("_percentGL2").HtmlAttributes(new { style = "width: 100px;" }).Min(0).Decimals(2).Enable(false).Events(e => { e.Change("onChange_percentGL2").Spin("onSpin_percentGL2"); })
                                                <span class="input-group-btn"></span>
                                                <label>&nbsp;&nbsp;&nbsp;%</label>
                                            </div>
                                        </div>
                                    </form>

                                    <form class="form-inline">
                                        <div class="form-group m-r-10">
                                            <label for="NoGL1">Nomor GL 3</label>
                                            <div class="input-group m-t-10">
                                                @Html.Kendo().TextBox().Name("_namaGL3").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:200px" })
                                            </div>
                                        </div>
                                        <div class="form-group m-r-10">
                                            <div class="input-group m-t-10">
                                                @Html.Kendo().TextBox().Name("_noGL3").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:200px" })
                                            </div>
                                        </div>
                                        <div class="form-group m-r-10">
                                            <div class="input-group m-t-10">
                                                @Html.Kendo().TextBox().Name("_descGL3").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:200px" })
                                            </div>
                                        </div>
                                        <div class="form-group m-r-10">
                                            <div class="input-group m-t-10">
                                                @Html.Kendo().TextBox().Name("_officeIdNoGL3").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:100px" })
                                            </div>
                                        </div>
                                        <div class="form-group m-r-10">
                                            <div class="input-group m-t-10">
                                                @Html.Kendo().NumericTextBox().Name("_percentGL3").HtmlAttributes(new { style = "width: 100px;" }).Min(0).Decimals(2).Enable(false).Events(e => { e.Change("onChange_percentGL3").Spin("onSpin_percentGL3"); })
                                                <span class="input-group-btn"></span>
                                                <label>&nbsp;&nbsp;&nbsp;%</label>
                                            </div>
                                        </div>
                                    </form>

                                    <form class="form-inline">
                                        <div class="form-group m-r-10">
                                            <label for="NoGL1">Nomor GL 4</label>
                                            <div class="input-group m-t-10">
                                                @Html.Kendo().TextBox().Name("_namaGL4").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:200px" })
                                            </div>
                                        </div>
                                        <div class="form-group m-r-10">
                                            <div class="input-group m-t-10">
                                                @Html.Kendo().TextBox().Name("_noGL4").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:200px" })
                                            </div>
                                        </div>
                                        <div class="form-group m-r-10">
                                            <div class="input-group m-t-10">
                                                @Html.Kendo().TextBox().Name("_descGL4").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:200px" })
                                            </div>
                                        </div>
                                        <div class="form-group m-r-10">
                                            <div class="input-group m-t-10">
                                                @Html.Kendo().TextBox().Name("_officeIdNoGL4").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:100px" })
                                            </div>
                                        </div>
                                        <div class="form-group m-r-10">
                                            <div class="input-group m-t-10">
                                                @Html.Kendo().NumericTextBox().Name("_percentGL4").HtmlAttributes(new { style = "width: 100px;" }).Min(0).Decimals(2).Enable(false).Events(e => { e.Change("onChange_percentGL4").Spin("onSpin_percentGL4"); })
                                                <span class="input-group-btn"></span>
                                                <label>&nbsp;&nbsp;&nbsp;%</label>
                                            </div>
                                        </div>
                                    </form>

                                    <form class="form-inline">
                                        <div class="form-group m-r-10">
                                            <label for="NoGL1">Nomor GL 5</label>
                                            <div class="input-group m-t-10">
                                                @Html.Kendo().TextBox().Name("_namaGL5").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:200px" })
                                            </div>
                                        </div>
                                        <div class="form-group m-r-10">
                                            <div class="input-group m-t-10">
                                                @Html.Kendo().TextBox().Name("_noGL5").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:200px" })
                                            </div>
                                        </div>
                                        <div class="form-group m-r-10">
                                            <div class="input-group m-t-10">
                                                @Html.Kendo().TextBox().Name("_descGL5").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:200px" })
                                            </div>
                                        </div>
                                        <div class="form-group m-r-10">
                                            <div class="input-group m-t-10">
                                                @Html.Kendo().TextBox().Name("_officeIdNoGL5").HtmlAttributes(new { @class = "form-control input-sm", @style = "width:100px" })
                                            </div>
                                        </div>
                                        <div class="form-group m-r-10">
                                            <div class="input-group m-t-10">
                                                @Html.Kendo().NumericTextBox().Name("_percentGL5").HtmlAttributes(new { style = "width: 100px;" }).Min(0).Decimals(2).Enable(false).Events(e => { e.Change("onChange_percentGL5").Spin("onSpin_percentGL5"); })
                                                <span class="input-group-btn"></span>
                                                <label>&nbsp;&nbsp;&nbsp;%</label>
                                            </div>
                                        </div>
                                    </form>

                                    <form class="form-inline">
                                        <div class="form-group m-r-10" style="padding-left:150px">
                                            <label></label>
                                            <div class="input-group m-t-10">
                                            </div>
                                        </div>
                                        <div class="form-group m-r-10" style="padding-left:150px">
                                            <div class="input-group m-t-10">
                                            </div>
                                        </div>
                                        <div class="form-group m-r-10" style="padding-left:150px">
                                            <div class="input-group m-t-10">
                                            </div>
                                        </div>
                                        <div class="form-group m-r-10" style="padding-left:150px">
                                            <div class="input-group m-t-10">
                                            </div>
                                        </div>
                                        <div class="form-group m-r-10" style="padding-left:180px">
                                            <div class="input-group m-t-10">
                                                @Html.Kendo().NumericTextBox().Name("_TotalPercentGL").HtmlAttributes(new { style = "width: 100px;" }).Min(0).Decimals(2).Enable(false)
                                                <span class="input-group-btn"></span>
                                                <label>&nbsp;&nbsp;&nbsp;%</label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- End Setting GL -->
                </div>
            </div>
            <!-- End Tabs -->
        </div>
        <div class="modal fade" id="ProductModal" tabindex="-1" role="dialog" aria-labelledby="ProductModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content"></div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/reksa.parameter.upfrontsellingfee.js"></script>
<script src="~/js/reksa.parameter.upfrontsellingfee.events.js"></script>
