@model Reksa.ViewModels.POListViewModel
@{
    ViewData["Title"] = "Override Maintenance Fee";
}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="m-t-0 header-title">
                <a>Override Maintenance Fee</a>
            </h4>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="card-box">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nama File</label>
                                <div class="input-group col-md-6" id="filename">
                                    <input id="txtbPath" type="file" accept=".xls, .xlsx" class="filestyle" data-iconname="fa fa-upload">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Bank Custody</label>
                                <div class="input-group col-md-5">
                                    @Html.Kendo().TextBox().Name("cmpsrCustody_text1").HtmlAttributes(new { @id = "cmpsrCustody_text1", @class = "form-control input-sm" }).Enable(false)
                                    <span class="input-group-btn">
                                        <a id="cmpsrCustody" href="#display" data-toggle="modal" data-target="#CustodyModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                                    </span>
                                    @Html.Kendo().TextBox().Name("cmpsrCustody_text2").HtmlAttributes(new { @id = "cmpsrCustody_text2", @class = "form-control input-sm", style = "width: 350px;" }).Enable(false)
                                    @Html.Kendo().TextBox().Name("CustodyId").HtmlAttributes(new { @id = "CustodyId", @class = "form-control input-sm", @type = "Hidden" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Produk</label>
                                <div class="input-group col-md-5">
                                    @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdCode).HtmlAttributes(new { @id = "cmpsrProduct_text1", @class = "form-control input-sm" }).Enable(false)
                                    <span class="input-group-btn">
                                        <a id="cmpsrProduct" href="#display" data-toggle="modal" data-target="#ProductModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                                    </span>
                                    @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdName).HtmlAttributes(new { @id = "cmpsrProduct_text2", @class = "form-control input-sm", style = "width: 350px;" }).Enable(false)
                                    @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdId).HtmlAttributes(new { @id = "ProdId", @class = "form-control input-sm", @type = "Hidden" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div id="dgvPreview"></div>
                        </div>
                        <div class="col-md-12 text-center" style="padding-bottom:20px;padding-top:20px;">
                            <button id=btnUpload class="btn btn-default waves-effect waves-light" style="margin-right:10px">
                                <span class="btn-label">
                                    <i class="fa fa-upload"></i>
                                </span>
                                Upload
                            </button>
                        </div>
                        <div class="col-md-12">
                            <div id="dgvUpload"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ProductModal" tabindex="-1" role="dialog" aria-labelledby="ProductModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="CustodyModal" tabindex="-1" role="dialog" aria-labelledby="CustodyModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<script src="~/js/reksa.po.overridemaintenancefee.js"></script>
<script src="~/js/reksa.po.overridemaintenancefee.events.js"></script>