
@model Reksa.ViewModels.POListViewModel
@{
    ViewData["Title"] = "Sync NAV";
}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="m-t-0 header-title">
                <a>Sync NAV</a>
            </h4>
        </div>
        <div class="panel-body">
            <div class="card-box">
                <!-- Begin Button -->
                <div>
                    <div class="input-group">
                        <button id=btnRefresh class="btn btn-default waves-effect waves-light">
                            <span class="btn-label">
                                <i class="fa fa-refresh"></i>
                            </span>
                            Refresh
                        </button>
                        <button id="btnNew" class="btn btn-default waves-effect waves-light">
                            <span class="btn-label">
                                <i class="fa fa-plus"></i>
                            </span>
                            New
                        </button>
                        <button id="btnEdit" class="btn btn-info waves-effect waves-light">
                            <span class="btn-label">
                                <i class="fa fa-edit"></i>
                            </span>
                            Edit
                        </button>
                        <button id="btnSave" class="btn btn-warning waves-effect waves-light">
                            <span class="btn-label">
                                <i class="fa fa-save"></i>
                            </span>
                            Save
                        </button>
                        <button id="btnCancel" class="btn btn-pink waves-effect waves-light">
                            <span class="btn-label">
                                <i class="fa fa-remove"></i>
                            </span>
                            Cancel
                        </button>
                    </div>
                </div>
                <!-- End Button -->
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Produk</label>
                    <div class="input-group col-md-7">
                        @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdCode).HtmlAttributes(new { @id ="ProdCode", @class = "form-control input-sm" }).Enable(false)
                        <span class="input-group-btn">
                            <a id="cmpsrProduct" href="@Url.Action("SearchProduct", "Global", new { seq = 1, type = "MB" })" data-toggle="modal" data-target="#ProductModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                        </span>
                        @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdName).HtmlAttributes(new { @id = "ProdName", @class = "form-control input-sm col-md-3", style = "width: 350px;" }).Enable(false)
                        @Html.Kendo().TextBoxFor(model => model.ProductModel.ProdId).HtmlAttributes(new { @id = "ProdId", @class = "form-control input-sm",  @type = "Hidden" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <h3 id="lblStatus">Status Produk :</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card-box">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">NAB (NAV) per unit</label>
                            <div class="input-group col-sm-2">
                                @Html.Kendo().NumericTextBox().Name("MoneyNAV").HtmlAttributes(new {  style = "width: 150px;" }).Enable(false).Min(0)
                                <span class="input-group-addon">
                                    IDR
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">NAB (NAV) Tgl valuta</label>
                            <div class="input-group">
                                @(Html.Kendo().DatePicker().Name("dtpNAVValueDate").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;" }).Enable(false))
                            </div>
                        </div>
                        <div class="form-group" id="label2">
                            <label class="col-sm-3 control-label">Nominal Pembagi Deviden</label>
                            <div class="input-group col-sm-2">
                                @Html.Kendo().NumericTextBox().Name("MoneyNominal").HtmlAttributes(new { style = "width: 150px;" }).Enable(false).Min(0)
                                <span id="lblDevidenType" class="input-group-addon">
                                </span>
                            </div>
                        </div>
                        <div class="form-group" id="label4">
                            <label class="col-sm-3 control-label">Mata Uang</label>
                            <div class="input-group col-md-3">
                                @Html.Kendo().TextBoxFor(model => model.CurrencyModel.CurrencyCode).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150%;", @id = "srcCurrency_text1" }).Enable(false)
                                <span class="input-group-btn">
                                    <a id="srcCurrency" href="@Url.Action("SearchCurrency", "Global")" data-toggle="modal" data-target="#CurrencyModal" class="btn btn-default btn-sm btn-search-component src-cif enabled">...</a>
                                </span>
                                @Html.Kendo().TextBoxFor(model => model.CurrencyModel.CurrencyName).HtmlAttributes(new { @class = "form-control input-sm", style = "width: 200px;", @id = "srcCurrency_text2" }).Enable(false)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tgl pembagi deviden</label>
                            <div class="input-group">
                                @(Html.Kendo().DatePicker().Name("dtpDevident").HtmlAttributes(new { @class = "form-control input-sm", style = "width: 150px;" }).Enable(false))
                            </div>
                        </div>
                        <div class="form-group" id="label5">
                            <label class="col-sm-3 control-label">Harga Unit per Hari</label>
                            <div class="input-group">
                                @Html.Kendo().NumericTextBox().Name("Money1").HtmlAttributes(new { style = "width: 80px;" }).Enable(false).Min(0)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="ProductModal" tabindex="-1" role="dialog" aria-labelledby="ProductModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="CurrencyModal" tabindex="-1" role="dialog" aria-labelledby="CurrencyModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<script src="~/js/reksa.po.syncnav.js"></script>
<script src="~/js/reksa.po.syncnav.events.js"></script>